<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta charset="UTF-8">
		<title>月嫂培训_母婴护理师培训_通乳师培训_催乳师培训【田螺阿姨】</title>
		<meta name="description" content="田螺阿姨是一家专业的月嫂/通乳师培训机构，我们有专业的培训师资力量和场地，为您提供一个良好的学习环境，月嫂培训,通乳师培训,催乳师培训包教会！月嫂培训包上岗！"/>
		<meta name="keywords" content="月嫂培训,母婴护理师培训,通乳师培训,催乳师培训"/>
		<link rel="stylesheet" href="__PUBLIC__/css/new/jingjia-usually.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/new/zp.css" />
	</head>
	<include file="Index/Auction/header"/>
	<body>
		<div class="zhaopin-banner-bg">
			<div class="zhaopin-banner">	
			</div>
		</div>
		<div  class="content_1200" style="text-align: center;margin-top: 40px;">
			<img src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_07.jpg">
			<div class="jiesao">
				<p><span>月嫂</span>是专业护理产妇与新生儿的一种新兴职业。是目前薪资上涨最快的职业，一个可以让女人撑起半边天的职业，一个低门槛、高收入的职业，一个社会需要、家庭尊重的职业。</p>
			</div>
			<div class="jiesao cui">
				<p><span>催乳师</span>是指采用人体经络调理、中医技术手段为产妇产后少乳、无乳、乳房胀痛、乳汁淤积、乳腺管阻塞急性乳腺炎等哺乳期乳腺症状妇女提供催乳保健服务与乳房美体的专业人员催乳在我国具有悠久的传统，通常以中医调理为根本，结合民间流传的食疗之法帮助产妇泌乳。</p>
			</div>
		</div>
		<div  class="content_1200" style="text-align: center;margin-top: 60px;">
			<img src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_15.jpg">
		</div>
		<div  class="content_1200 f-cb" style="margin-top: 60px;">
			<img style="float: left;" src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_18.jpg">
			<span style="float: left;width: 780px;height: auto;margin-left: 20px;margin-top:8px;font-family:'microsoft yahei';font-size: 16px;line-height: 38px;color: #333333;text-align: left;">
				随着二胎政策的开放与人们生活水平的提高，越来越多的新生家庭开始需要专业的月嫂服务，对从业人员的素质要求也越来越高，传统的保姆已不能满足这种快速发展的社会高端需求。因此，更多的保姆及母婴家庭服务人员转入到了月嫂的行列中来。月嫂是在一般的保姆护理的基础上，接受更规范的职业培训，融合掌握更多的专业技能，包括产妇的心理健康、身体保健、饮食营养、新生儿的常见疾病预防与护理、优生胎教。中国每年约有2000万妈妈，母乳喂养已深入人心，我国婴儿出生率高且稳定，宝宝是父母爱的结晶，为了让宝宝得到母乳喂养，增强免疫力健健康康的成长，每一个普通的家庭都乐意成为我们的服务对象。每小时有2000-3000名婴儿诞生，几乎每天都有客户需求，数量决于自由职业，可以根据时间来安排生活和工作。
			</span>
		</div>
		<div class="zhuanye">
			超过66%的月嫂学员毕业后立即上岗<br />
			客户自愿把我们介绍给她们的姐妹<br />
			用口碑筑起田螺之家
		</div>
		<div class="content_1200">
			<img src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_26.jpg">
		</div>
		<div class="page8">
			<div class="page8_cnt">
				<ul class="f-cb">
					<li class="first_li">
						<img src="__PUBLIC__/img/new_jj/zhaopin/zp_img_30.png" />
						<p>办学实力</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/zhaopin/zp_img_32.png" />
						<p>指定培训颁证点</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/zhaopin/zp_img_38.png" />
						<p>特色课程</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/zhaopin/zp_img_40.png" />
						<p>无创疗法</p>
					</li>
				</ul>
				<ul class="f-cb">
					<li class="first_li">
						<img src="__PUBLIC__/img/new_jj/zhaopin/zp_img_51.png" />
						<p>师资专业</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/zhaopin/zp_img_52.png" />
						<p>高级催乳师授课</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/zhaopin/zp_img_53.png" />
						<p>小班教学</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/zhaopin/zp_img_54.png" />
						<p>质量保证</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="content_1200">
			<img src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_51.jpg">
		</div>
		<div class="page8">
			<div class="page8_cnt sss">
				<ul class="f-cb">
					<li class="first_li">
						<img src="__PUBLIC__/img/new_jj/zhaopin/zp_img_68.png" />
						<p>办学实力</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/zhaopin/zp_img_70.png" />
						<p>证书权威</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/zhaopin/zp_img_72.png" />
						<p>教学灵活</p>
					</li>
				</ul>
				<ul class="f-cb">
					<li class="first_li">
						<img src="__PUBLIC__/img/new_jj/zhaopin/zp_img_80.png" />
						<p>推荐就业</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/zhaopin/zp_img_81.png" />
						<p>师资专业</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/zhaopin/zp_img_82.png" />
						<p>办学实力</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="content_1200">
			<img src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_71.jpg">
		</div>
		<div class="content_1200">
			<img src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_75.jpg">
		</div>
		<div  class="content_1200" style="margin-top:60px;">
			<img style="margin-left: 60px;" src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_79.jpg">
			<img src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_81.jpg">
		</div>
		<div class="content_1200">
			<img src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_86.jpg"><br>
			<img style="margin-top: 40px;" src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_93.jpg">
		</div>
		<div class="content_1200">
			<img src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_97.jpg">
		</div>
		<div  class="content_1200" style="margin-top:60px;">
			<img src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_101.jpg">
			<img style="margin-left: 100px;" src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_103.jpg">
			<img style="margin-left: 100px;" src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_105.jpg">
		</div>
		<div class="content_1200">
			<img src="__PUBLIC__/img/new_jj/zhaopin/jingjia-zhaopin_111.jpg">
		</div>
		<div class="content_1200 pingjia">
			<ul>
				<li style="background: url(__PUBLIC__/img/new_jj/zhaopin/zp_img_134.jpg) no-repeat center;">
					<p>“ 授课上很有激情，善于互动，调整现场气氛，我喜欢 ”</p>
				</li>
				<li style="background: url(__PUBLIC__/img/new_jj/zhaopin/zp_img_137.jpg) no-repeat center;">
					<p>“ 案例丰富，让我们在轻松愉快的气氛中收获月嫂知识 ”</p>
				</li>
				<li style="background: url(__PUBLIC__/img/new_jj/zhaopin/zp_img_139.jpg) no-repeat center;">
					<p>“ 内容实用性强，案例分析实用，思路清晰，讲师很赞”</p>
				</li>
				<li style="background: url(__PUBLIC__/img/new_jj/zhaopin/zp_img_141.jpg) no-repeat center;">
					<p>“ 老师的课程互动性很强，使我们在轻松的环境中获得提升”</p>
				</li>
				<li style="background: url(__PUBLIC__/img/new_jj/zhaopin/zp_img_143.jpg) no-repeat center;">
					<p>“ 针对性强，教学质量高，收获大”</p>
				</li>
				<li style="background: url(__PUBLIC__/img/new_jj/zhaopin/zp_img_145.jpg) no-repeat center;">
					<p>“ 专业水准高，组织严谨，整体策划好”</p>
				</li>
			</ul>
		</div>
		<div style="width: 100%;height: auto; background: #f1f1f1;text-align: center;padding: 20px 0;">
			<div class="banquan" style="font-family: '微软雅黑';">
				©2014-2015 成都亿家政网络科技有限公司 版权所有<br>蜀ICP备15008974号-1
			</div>
		</div>

		<div style="display:none;">
			<script src="http://s4.cnzz.com/z_stat.php?id=1256534005&web_id=1256534005" language="JavaScript" rel=“nofollow”></script>
			<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=7475696" rel=“nofollow”></script>
			<script>
				var _hmt = _hmt || [];
				var MODULE  = '__MODULE__';
				var UPLOADS  = '__UPLOADS__';
				var ROOT  = '__ROOT__';
				(function() {
					var hm = document.createElement("script");
					hm.src = "//hm.baidu.com/hm.js?48cc6318fc4270b2c3fcf8963524234a";
					var s = document.getElementsByTagName("script")[0];
					s.parentNode.insertBefore(hm, s);
				})();
			</script>
		</div>

	</body>

    <div style="display:none" >
	    <!--美恰-->
        <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 38353);

	// 在这里开启无按钮模式
    _MEIQIA('withoutBtn');
        </script>
    </div>
</html>
