<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__PUBLIC__/auction/css/jingjia-usually.css" />
		<link rel="stylesheet" href="__PUBLIC__/auction/css/jingjia-index.css" />
	</head>
	<include file="Index/Auction/header"/>

	<body style=" overflow-x: hidden;">
	<!--<div class="head">
		<div class="tel">
			<a style="margin-left: 75px;"><img src="__PUBLIC__/auction/img/jingjia-yuesao_04.png"   onmouseover="show()" onmouseout="leave()"/></a>
			<a href="http://weibo.com/tianluoayi" target="_blank" rel="nofollow"><img src="__PUBLIC__/auction/img/jingjia-yuesao_05.png" /></a>
		</div>
		<div class="erweima" id="erweima">
			<img id="haha" src="__PUBLIC__/auction/img/erweima.jpg" width="100%" />
		</div>
	</div>-->

	<script type="text/javascript">

		function show() {
			var haha = document.getElementById("erweima")
			haha.style.display = "block";
		}

		function leave() {
			var haha = document.getElementById("erweima")
			haha.style.display = "none";
		}

	</script>

		<div class="zhaopin-banner-bg">
			<div class="zhaopin-banner">	
			</div>
		</div>
		
		<div style="width: 1200px;height: auto;margin: 0 auto;text-align: center;margin-top: 40px;">
			<img src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_07.jpg" />
			<img style="margin-top: 30px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_10.jpg"  />
			<img style="margin-top: 50px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_12.png" />
		</div>
		
		<div style="width: 1200px;height: auto;margin: 0 auto;text-align: center;margin-top: 60px;">
			<img src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_15.jpg"  />
		</div>
		
		<div style="width: 1200px;height: auto;margin: 0 auto;margin-top: 60px;" class="f-cb">
			<img style="float: left;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_18.jpg" />
			<span style="float: left;width: 780px;height: auto;margin-left: 20px;margin-top:8px;font-family:'microsoft yahei';font-size: 16px;line-height: 38px;color: #333333;">
				随着二胎政策的开放与人们生活水平的提高，越来越多的新生家庭开始需要专业的月嫂服务，对从业人员的素质要求也越来越高，传统的保姆已不能满足这种快速发展的社会高端需求。因此，更多的保姆及母婴家庭服务人员转入到了月嫂的行列中来。月嫂是在一般的保姆护理的基础上，接受更规范的职业培训，融合掌握更多的专业技能，包括产妇的心理健康、身体保健、饮食营养、新生儿的常见疾病预防与护理、优生胎教。中国每年约有2000万妈妈，母乳喂养已深入人心，我国婴儿出生率高且稳定，宝宝是父母爱的结晶，为了让宝宝得到母乳喂养，增强免疫力健健康康的成长，每一个普通的家庭都乐意成为我们的服务对象。每小时有2000-3000名婴儿诞生，几乎每天都有客户需求，数量决于自由职业，可以根据时间来安排生活和工作。
			</span>
		</div>
		
		<div style="width: 1200px;height: auto;margin: 0 auto;text-align: center;margin-top: 100px;">
			<img src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_22.jpg"  />
		</div>
		
		<div style="width: 1200px;height: auto;margin: 0 auto;text-align: center;margin-top:120px;">
			<img src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_26.jpg"  />
		</div>
		
		<div style="width: 1200px;height: auto;margin: 0 auto;margin-top: 60px;">
			<img style="margin-top: 30px;margin-left: 100px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_30.jpg"  />
			<img style="margin-top: 30px;margin-left: 30px;"  src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_32.jpg"  />
			<img style="margin-top: 30px;margin-left: 30px;"  src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_34.jpg"  />
			<img style="margin-top: 30px;margin-left: 30px;"  src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_36.jpg"  />
			<img style="margin-top: 30px;margin-left: 100px;"  src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_42.jpg"  />
			<img style="margin-top: 30px;margin-left: 30px;"  src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_43.jpg"  />
			<img style="margin-top: 30px;margin-left: 30px;"  src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_44.jpg"  />
			<img style="margin-top: 30px;margin-left: 30px;"  src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_45.jpg"  />
		</div>

		<div style="width: 1200px;height: auto;margin: 0 auto;text-align: center;margin-top:120px;">
			<img src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_51.jpg"  />
		</div>
		
		<div style="width: 1200px;height: auto;margin: 0 auto;margin-top: 60px;">
			<img style="margin-top: 30px;margin-left: 20px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_55.jpg"  />
			<img style="margin-top: 30px;margin-left: 100px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_57.jpg"  />
			<img style="margin-top: 30px;margin-left: 100px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_59.jpg"  />
			<img style="margin-top: 80px;margin-left: 20px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_64.jpg"  />
			<img style="margin-top: 50px;margin-left: 100px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_65.jpg"  />
			<img style="margin-top: 50px;margin-left: 100px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_66.jpg"  />
		</div>

		<div style="width: 1200px;height: auto;margin: 0 auto;text-align: center;margin-top:120px;">
			<img src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_71.jpg"  />
		</div>

		<div style="width: 1200px;height: auto;margin: 0 auto;text-align: center;margin-top:120px;">
			<img src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_75.jpg"  />
		</div>
		
		<div style="width: 1200px;height: auto;margin: 0 auto;margin-top:60px;">
			<img style="margin-left: 60px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_79.jpg"  />
			<img src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_81.jpg"  />
		</div>
		
		<div style="width: 1200px;height: auto;margin: 0 auto;text-align: center;margin-top:120px;">
			<img src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_86.jpg"  /><br />
			<img style="margin-top: 40px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_90.jpg"  /><br />
			<img style="margin-top: 40px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_93.jpg"  />
		</div>
		
		<div style="width: 1200px;height: auto;margin: 0 auto;text-align: center;margin-top:120px;">
			<img src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_97.jpg"  />
		</div>
		
		<div style="width: 1200px;height: auto;margin: 0 auto;margin-top:60px;">
			<img style="margin-left: 100px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_101.jpg"  />
			<img style="margin-left: 100px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_103.jpg"  />
			<img style="margin-left: 100px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_105.jpg"  />
		</div>
		
		<div style="width: 1200px;height: auto;margin: 0 auto;text-align: center;margin-top:120px;">
			<img src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_111.jpg"  />
		</div>
		
		<div style="width: 1200px;height: auto;margin: 0 auto;text-align: center;margin-top:60px;">
			<img style="margin-top: 10px" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_115.jpg"  />
			<img style="margin-top: 10px" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_118.jpg"  />
			<img style="margin-top: 10px" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_120.jpg"  />
			<img style="margin-top: 10px" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_122.jpg"  />
			<img style="margin-top: 10px" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_124.jpg"  />
			<img style="margin-top: 10px;margin-bottom: 50px;" src="__PUBLIC__/auction/img/zhaopin/jingjia-zhaopin_126.jpg"  />
			
		</div>

	<div style="width: 100%;height: auto; background: #f1f1f1;text-align: center;margin-bottom: 20px;padding-top: 20px;">
		<div class="banquan">
			©2014-2015 成都亿家政网络科技有限公司 版权所有<br />蜀ICP备15008974号-1
		</div>
	</div>
		</div>
	</div>

	<div style="display:none;">
		<script src="http://s4.cnzz.com/z_stat.php?id=1256534005&web_id=1256534005" language="JavaScript" rel=“nofollow”></script>
		<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=7475696" rel=“nofollow”></script>
		<script>
			var _hmt = _hmt || [];
			var MODULE  = '__MODULE__';
			var UPLOADS  = '__UPLOADS__';
			var ROOT  = '__ROOT__';
			(function() {
				var hm = document.createElement("script");
				hm.src = "//hm.baidu.com/hm.js?48cc6318fc4270b2c3fcf8963524234a";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</div>

	</body>
<script type="text/javascript" src="http://kefu6.kuaishang.cn/bs/ks.j?cI=383073&fI=47302" charset="utf-8"></script>
</html>