<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>母婴护理月嫂服务【田螺阿姨】</title>
		<meta name="description" content="田螺阿姨专业母婴护理月嫂服务"/>
		<meta name="keywords" content="母婴护理,月嫂,月嫂服务,专业母婴护理服务,专业月嫂服务,田螺阿姨月嫂"/>
		<link rel="stylesheet" href="__PUBLIC__/css/new/jingjia-usually.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/new/ys.css" />
	</head>
	<include file="Index/Auction/header"/>
	<body>
		<div class="page1"></div>
		<div class="page2"></div>
		<div class="page3">
			<div class="content_1200">
				<ul class="f-cb">
					<li class="first_li">
						<p class="p1">请月嫂和不请月嫂</br>区别大</p>
						<div class="f-cb">
							<div class="m_1">
								<img src="__PUBLIC__/img/new_jj/ys/ys_img1.png" />
								<p class="p_org">没请月嫂</p>
								<p class="p_2">
									不同育儿观念冲突，家庭关系紧张</br>
									老人照顾产妇和新生儿，身体吃不消</br>
									不懂科学坐月子方法，产妇易得月子
								</p>
							</div>
							<div class="m_1">
								<img src="__PUBLIC__/img/new_jj/ys/ys_img2.png" />
								<p class="p_blk">请月嫂</p>
								<p class="p_2">
									全家睡好安稳觉</br>
									产妇体质、身材恢复好</br>
									科学喂养，宝宝身体好</br>
									 宝宝养成良好睡觉和吃奶习惯
								</p>
							</div>
						</div>
					</li>
					<li>
						<p class="p1">选择什么样的公司</br>很重要</p>
						<div class="f-cb">
							<div class="m_1">
								<img src="__PUBLIC__/img/new_jj/ys/ys_img3.png" />
								<p class="p_org">传统家政公司</p>
								<p class="p_2">
									人员素养良莠不齐</br>
									服务质量缺乏监管</br>
									随意抬价、无故辞职
								</p>
							</div>
							<div class="m_1">
								<img src="__PUBLIC__/img/new_jj/ys/ys_img4.png" />
								<p class="p_blk">互联网家政公司</p>
								<p class="p_2">
									网上了解口碑，服务透明化</br>
									签订有效合同，保障双方权益</br>
									智能信息库档案记录，来源可靠 
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			
		</div>
		<div class="page4"></div>
		<div class="page5">
			<div class="page5_img"></div>
			<div class="page5_cnt">
				<ul class="f-cb">
					<li class="first_li">
						<img src="__PUBLIC__/img/new_jj/ys/ys_img7.png" />
						<p>家政保险</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img8.png" />
						<p>岗前体检</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img9.png" />
						<p>颁发证书</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img10.png" />
						<p>职业培训</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img11.png" />
						<p>客户反馈</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img12.png" />
						<p>医院实习</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img13.png" />
						<p>行业协会监管</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="page6"></div>
		<div class="page7">
			<div class="page7_title">照顾好宝宝和妈妈，我们很在行</div>
			<div class="page7_cnt">
				<ul class="f-cb">
					<li class="first_li">
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_73.png" />
						<p>为妈妈体温测量</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_75.png" />
						<p>制作月子餐</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_77.png" />
						<p>给婴儿抚触操</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_79.png" />
						<p>喂奶</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_81.png" />
						<p>脐带护理</p>
					</li>
				</ul>
			</div>
			<div class="page7_title2">护理员经严格培训考核，岗前实习，实操经验丰富</div>
			<div class="page7_img"></div>
		</div>
		<div class="page8">
			<div class="true"></div>
			<div class="page8_cnt">
				<ul class="f-cb">
					<li class="first_li">
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_51.png" />
						<p>家协会证书</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_53.png" />
						<p>家协会</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_55.png" />
						<p>客户赠送锦旗</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_57.png" />
						<p>学员档案</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_59.png" />
						<p>学员集体照</p>
					</li>
				</ul>
				<ul class="f-cb">
					<li class="first_li">
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_66.png" />
						<p>合同签订</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_67.png" />
						<p>合作月子中心</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_68.png" />
						<p>每年体检</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_69.png" />
						<p>学员面试</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_70.png" />
						<p>雇主/护理员</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="jingjia-yuesao-73">
			<img src="__PUBLIC__/img/new_jj/ys/jingjia-yuesao_73.png">
			<img style="margin-top: 40px;" src="__PUBLIC__/img/new_jj/ys/jingjia-yuesao_77.png">
		</div>
				
		
		<div class="page9">
			<div class="page9_div_s f-cb">
				<div class="page9_div f-fl">
					<p class="page9_div_p1">特价月嫂</p>
					<p class="page9_div_p2">3980元</p>
					<p class="page9_div_p3">每月限量5个/先到先得/</br>具有上岗资格/1-2年经验/</br>0投诉/日常护理/疾病护理/心里疏导/</p>
					<a href="http://www.tianluoayi.com/kst" target="_blank" rel="nofollow">马上开抢</a>
				</div>
				<div class="page9_div page9_div2 f-fl">
					<p class="page9_div_p1">性价比之王</p>
					<p class="page9_div_p2">7880元</p>
					<p class="page9_div_p3">0投诉/形体恢复/</br>日常护理/疾病护理/</br>早期教育/ </p>
					<a href="http://www.tianluoayi.com/kst" target="_blank" rel="nofollow">马上开抢</a>
				</div>
			</div>
			
				<div class="page9_div page9_div3">
					<p class="page9_div_p1">金牌月嫂</p>
					<p class="page9_div_p2">12880元</p>
					<p class="page9_div_p3">9年以上工作经验/双胞胎护理/</br>早产儿护理/日常护理/催乳师资格/</br>新生儿潜能开发/</p>
					<a href="http://www.tianluoayi.com/kst" target="_blank" rel="nofollow">马上开抢</a>
				</div>
		</div>
		<div class="form">
			<form action="http://www.tianluoayi.com/addMessage_auction" method="post" id="form" enctype="multipart/form-data">
				<div class="submit-kuang">
					<p>联系我们</p>
					<span class="name">
							姓名<input type="text" name="name" id="name">
						</span>
					<span class="name">
							电话<input type="text" name="phone" id="phone">


						<input type="hidden" name="job" value="竞价月嫂留言"/>
						<input type="hidden" name="age" value="竞价月嫂留言"/>
						<input type="hidden" name="experience" value="竞价月嫂留言"/>
						<input type="hidden" name="certificate" value="竞价月嫂留言"/>
						<input type="hidden" name="type" value="2"/>
						</span>

					<span class="tijiao" id="tijiao">
							提交
						</span>
				</div>
			</form>
		</div>
		<div style="width: 100%;height: auto; background: #f1f1f1;text-align: center;padding: 20px 0;">
			<div class="banquan" style="font-family: '微软雅黑';">
				©2014-2015 成都亿家政网络科技有限公司 版权所有<br>蜀ICP备15008974号-1
			</div>
		</div>
		<script src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>
		<script src="__PUBLIC__/js/jquery.longyuJs.js"></script>

		<script>
			$("#tijiao").click(function(){
				if(!(/^(0?1[345789]\d{9})$/.test($("#phone").val()))){
					alert('手机号不正确;请重新输入！');
					return false;
				}else if($("#name").val()==''){
					alert('请输入姓名！');
					return false;
				}
				$("#form").submit();
			});
		</script>
		</div>
		</div>

		<div style="display:none;">
			<script src="http://s4.cnzz.com/z_stat.php?id=1256534005&web_id=1256534005" language="JavaScript" rel=“nofollow”></script>
			<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=7475696" rel=“nofollow”></script>
			<script>
				var _hmt = _hmt || [];
				var MODULE  = '__MODULE__';
				var UPLOADS  = '__UPLOADS__';
				var ROOT  = '__ROOT__';
				(function() {
					var hm = document.createElement("script");
					hm.src = "//hm.baidu.com/hm.js?48cc6318fc4270b2c3fcf8963524234a";
					var s = document.getElementsByTagName("script")[0];
					s.parentNode.insertBefore(hm, s);
				})();
			</script>
		</div>
	</body>

    <div style="display:none" >
	    <!--美恰-->
        <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 38353);

	// 在这里开启无按钮模式
    _MEIQIA('withoutBtn');
        </script>
    </div>
</html>
