<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>【田螺阿姨】联系我们-联系方式</title>
		<meta name="Keywords" content="联系我们,联系方式,田螺阿姨联系方式," >
        <meta name="Description" content="成都田螺阿姨母婴护理公司机构的联系方式" >
	
		<link rel="stylesheet" href="__PUBLIC__/css/style.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/contact.css" />
	</head>
	<body>
	<include file="Nav/header"/>
		<div class="banner">
			<img src="__PUBLIC__/img/banner.jpg" alt="比朋友更靠谱的母婴专家" title="比朋友更靠谱的母婴专家" />
		</div>
		<div class="page">
			<p class="p1">成都亿家政网络科技有限公司</p>
			<p class="p2">
				地址：成都市高新区天府大道1700号环球中心E2-18楼<br />
				联系电话：400-808-6090 / 028-65863755<br />
				驾车：天府大道\绕城高速锦城湖立交出口<br />
				地铁：乘坐地铁1号线（广都方向），在锦城广场站 下车（A口出）<br />
				公交：乘坐 74\125\171a\171b\898\1064\1119路，在环球中心站下车<br />
				<br />
				异业合作/ 品牌合作 / 联合营销 / 广告投放 / 流量合作 / 网盟合作<br />
				联系人：赵先生<br />
				Email： zhaoh@tianluoayi.com
			</p>
			<div class="map">
				<iframe src="map.html" width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
			</div>
		</div>
		<div class="footer">
			<a href="wtai://wp//mc;4008086090"><img src="__PUBLIC__/img/tel.png" class="telnum" title="tel:400-808-6090" /></a>
			<p>地址：成都高新区天府大道1700号环球中心E2-18楼</p>
			<p>©2014-2015 成都亿家政网络科技有限公司 版权所有蜀ICP备15008974号-1</p>
		</div>
	<include file="Nav/footer"/>
		<script>
			$('.map').css('height',$(window).width()*0.8342);
		</script>
	</body>
</html>
