<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>【田螺阿姨】四川月嫂人才输送中心_四川月嫂培训省外输送</title>
		<meta name="description" content="田螺阿姨是一家集合月嫂服务与月嫂培训的机构，除了提供月嫂服务而外，我们还为省外广大家政公司机构输送人才，欢迎前来咨询。"/>
		<meta name="keywords" content="四川月嫂人才输送中心,四川月嫂培训省外输送,四川月嫂,四川月嫂省外输送,四川月嫂人才中心"/>
		<link rel="stylesheet" href="__PUBLIC__/css/style.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/rencai.css" />
	</head>
	<body>

	<include file="Nav/header"/>
		<div class="banner">
			<img src="__PUBLIC__/img/rencai/rencai1.jpg" alt="中国母婴护理人才摇篮，四川月嫂人才输出基地" title="合作共赢" />
		</div>
		<img src="__PUBLIC__/img/rencai/rctle1.jpg" class="tle" title="母婴行业热，发展却遭遇瓶颈" alt="母婴行业热，发展却遭遇瓶颈"> 
		<div class="page1">
			<p class="cnt1">
				新生儿潮和二胎政策的全面开放催生了母婴行业热，新的月嫂公司、月子会所如雨后春笋般涌现而出但正面临发展的瓶颈——
			</p>
			<p class="cnt2">没有足够的符合现代客户母婴服务需求的护理员</p>
			<p class="cnt1">
				依赖市场上的挂靠阿姨，但往往服务质量差、管理成本高（甩单、换单、被售后）选择自己培训，但投入回报慢，时间周期长
			</p>
		</div>
		
		<img src="__PUBLIC__/img/rencai/rctle2.jpg" class="tle" title="我们该如何破围？" alt="我们该如何破围？"> 
		
		<div class="page2">
			<p class="p1">
				选择田螺阿姨
			</p>
			<img src="__PUBLIC__/img/rencai/rencai2.jpg" title="面向全国输出优秀月嫂，助企业定向培训母婴护理员" alt="田螺阿姨于2015年成立，已面向社会输送高级育婴师1000余名。服务覆盖中国14个城市最远到达美国旧金山。累计服务1536例产妇和新生儿，无一例事故。仅上线一年，跻身行业前三。" />
			<img src="__PUBLIC__/img/rencai/rencai3.jpg" title="田螺阿姨母婴护理学院" alt="位于亚洲最大单体建筑——成都环球中心，学院及研发中心总面积达5000㎡，配备有理论课程室、喂养实操室、产后恢复室、沐浴操作室等，环境优美，设施齐备。" />
			<img src="__PUBLIC__/img/rencai/rencai4.jpg" title="30%理论+40%实操+30%实习=田螺阿姨培训" alt="远高于国家育婴师培训标准，设置理论、实操课程，另有长达30天的产院实习及服务心态培训等等。全方位的培训课程，造就田螺阿姨月嫂与众不同，引领行业服务新标准。" />
			<img src="__PUBLIC__/img/rencai/rencai5.jpg" title="国家育婴师指定考点，人社部颁发证书" alt="田螺阿姨是成都职业鉴定指导中心批准的国家高级育婴师考点，由人社部颁发证书，全国通用，可联网查询，" />
			<img src="__PUBLIC__/img/rencai/rencai6.jpg" title="美年大健康为爱护航，体检高于行业4倍标准" alt="每一位学员入学前均接受美年大健康体检，包含HIV、HPV、肝功能等32项体检项目，筛除有传染病及不适合从事母婴护理工作的人员" />
		</div>
		<img src="__PUBLIC__/img/rencai/rctle3.jpg" class="tle" title="田螺阿姨实景拍摄" alt="田螺阿姨实景拍摄"> 
		<div class="page3">
			<img src="__PUBLIC__/img/rencai/rencai7.jpg" />
		</div>
		<img src="__PUBLIC__/img/rencai/rctle4.jpg" class="tle" title="他们都选择了田螺阿姨" alt="他们都选择了田螺阿姨"> 
		<div class="page4">
			<p class="p1">西南4大产院、6大月子酒店的定点人才输送基地，培训的月嫂已服务覆盖中国14个城市，最远到达了美国旧金山</p>
		</div>
		
		<div class="page5">
			<div style="background: url(__PUBLIC__/img/rencai/rencai8.jpg) no-repeat center;"></div>
			<div style="background: url(__PUBLIC__/img/rencai/rencai9.jpg) no-repeat center;"></div>
			<div style="background: url(__PUBLIC__/img/rencai/rencai10.jpg) no-repeat center;"></div>
			<div style="background: url(__PUBLIC__/img/rencai/rencai12.jpg) no-repeat center;"></div>
		</div>

		<img src="__PUBLIC__/img/rencai/rctle5.jpg" class="tle" title="欢迎全国各地母婴机构，业务洽谈合作！" alt="欢迎全国各地母婴机构，业务洽谈合作！"> 
		<div class="footer">
			<a href="wtai://wp//mc;4008086090"><img src="__PUBLIC__/img/tel.png" class="telnum" title="tel:400-808-6090" /></a>
			<p>地址：成都高新区天府大道1700号环球中心E2-18楼</p>
			<p>©2014-2015 成都亿家政网络科技有限公司 版权所有蜀ICP备15008974号-1</p>
		</div>
	<include file="Nav/footer"/>
		<script>
			$('.liuyanbg').css('height',$(window).width()*0.4578).css('background-size','100% 100%');
			$('.page5>div').css('height',$(window).width()*0.2565).css('background-size','100% 100%');
		</script>
	</body>
</html>