<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title></title>
		<link rel="stylesheet" href="__PUBLIC__/css/style.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/overpay.css" />
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.1.min.js" ></script>
	</head>
	<body>
		<div class="banner">
			<img src="__PUBLIC__/img/banner.jpg" alt="比朋友更靠谱的母婴专家" title="比朋友更靠谱的母婴专家" />
		</div>
		<img src="__PUBLIC__/img/other/success.jpg" title="恭喜您，订单支付成功！" width="100%" class="img1"/>
		<a class="return_index" href="__ROOT__/m/">返回首页</a>
		<div class="footer">
			<a href="wtai://wp//mc;4008086090"><img src="__PUBLIC__/img/tel.png" class="telnum" title="tel:400-808-6090" /></a>
			<p>地址：成都高新区天府大道1700号环球中心E2-18楼</p>
			<p>©2014-2015 成都亿家政网络科技有限公司 版权所有蜀ICP备15008974号-1</p>
		</div>
		<script>
			$(".xuan>.btn").click(function() {
				$(this).addClass("active").siblings().removeClass("active");
			});
		</script>
	</body>
</html>
