<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>【田螺阿姨】特价月嫂-成都特价月嫂-成都特价月嫂价格多少钱</title>
		<meta name="description" content="成都田螺阿姨为您提供特价月嫂服务，同时为您提供成都特价月嫂价格/月嫂服务价格多少钱咨询，咨询成都特价月嫂价格|特价月嫂多少钱|特价月嫂服务价格请拨打4008086090."/>
		<meta name="keywords" content="特价月嫂,成都特价月嫂,成都特价月嫂价格,成都特价月嫂价格多少钱,特价月嫂价格多少钱"/>

		<link rel="stylesheet" href="__PUBLIC__/css/style.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/tjys.css" />
	</head>
	<body>
	<include file="Nav/header"/>
		<div class="banner">
			<img src="__PUBLIC__/img/tjbanner.jpg" title="3980元超值月嫂" alt="限量的新家人，不限量的爱。3980元超值月嫂，每周3名。" />
		</div>
		
		<p class="tls">护士般专业，家人般贴心，不止是价优</p>
		<img src="__PUBLIC__/img/other/tjys1.png" class="tjys1" title="特价月嫂特点" alt="3998元/26天/产妇护理/新生儿护理/无需面试/限量特供" />
		
		<div class="page">
			<p class="page_tle">活动说明<span>ACTIVITY DESCRIPTION</span></p>
			<div class="pageCnt">
				<p class="p1"><i></i>服务内容</p>
				<p class="p2">新生儿护理、产妇护理</p>
				<p class="p1"><i></i>服务周期</p>
				<p class="p2">26天</p>
				<p class="p1"><i></i>活动解释</p>
				<p class="p2">
					每周3名特价月嫂，签完即止；<br />
					无需面试，公司统一安排护理员；<br />
					此活动与其他活动不可同时参与；<br />
					服务周期结束后，若续签，价格为26天5880元；<br />
					最终解释权归成都亿家政网络科技有限公司所有；
				</p>
			</div>
		</div>
		
		<a href="__ROOT__/kst.html" class="zx">
			<img src="__PUBLIC__/img/other/tjfoot.jpg" title="了解更多" alt="让新家人来守护您和宝宝"/>
		</a>
		
		<div class="footer">
			<a href="wtai://wp//mc;4008086090"><img src="__PUBLIC__/img/tel.png" class="telnum" title="tel:400-808-6090" /></a>
			<p>地址：成都高新区天府大道1700号环球中心E2-18楼</p>
			<p>©2014-2015 成都亿家政网络科技有限公司 版权所有蜀ICP备15008974号-1</p>
		</div>
	<include file="Nav/footer"/>
	</body>
</html>
