<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>【田螺阿姨】成都月嫂_金牌月嫂服务及价格</title>
		<meta name="description" content="田螺阿姨为您提供成都月嫂服务和金牌月嫂服务，同时为您提供成都月嫂价格/月嫂服务价格咨询，咨询成都月嫂价格|金牌月嫂价格请拨打4008086090."/>
		<meta name="keywords" content="月嫂,金牌月嫂,成都月嫂,成都金牌月嫂,成都月嫂价格,成都金牌月嫂价格,月嫂价格,月嫂服务价格,金牌月嫂服务价格,成都月嫂服务价格,成都金牌月嫂服务价格,成都金牌月嫂服务,"/>

		<link rel="stylesheet" href="__PUBLIC__/css/style.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/yuesao.css" />
	</head>
	<body>
		<include file="Nav/header"/>
		<script src="__PUBLIC__/js/jquery.longyuJs.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/jquery.touchSwipe.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/js/product.js" ></script>
		<div class="banner">
			<img src="__PUBLIC__/img/banner.jpg" alt="比朋友更靠谱的母婴专家" title="比朋友更靠谱的母婴专家" />
		</div>

		<div class="tedian f-cb">
			<img src="__PUBLIC__/img/yuesao/yuesao1.jpg" title="方便快捷" alt="方便快捷,最快速度为您挑选阿姨" />
			<img src="__PUBLIC__/img/yuesao/yuesao2.jpg" title="安全保障" alt="安全保障,免费体检+百万保险" />
		</div>

		<div class="page page1 f-cb">
			<img src="__PUBLIC__/img/yuesao/yuesao3.jpg">
			<div class="content">
				<p class="p1">
					月嫂26天的贴身护理<br />
					全程服务督导<br />
					100万人身+财产保险一份
				</p>
				<div class="xuan">
					<input value="5880" type="button" class="btn"/>
					<input value="7880" type="button" class="btn active"/><br />
					<input value="9880" type="button" class="btn"/>
					<input value="12880" type="button" class="btn"/>
				</div>
				<p class="p2">注：西南四省（四川、云南、贵州、重庆、成都）免交通费用，异地客户承担往返交通费用</p>
				<input type="button" value="立即购买" class="pay_btn" price="7880" id="buy_btn"/>
			</div>
		</div>
		<script>
			$(".xuan>.btn").click(function() {
				$(this).addClass("active").siblings().removeClass("active");
			});
		</script>
		<div class="page page2">
			<p class="page_tle">母婴护理学院<span>YUESAO SCHOOL</span></p>
			<p class="p1">
				我们的护理员均来自田螺阿姨母婴护理学院<br />
				拥有月子酒店工作经验
			</p>
			<img src="__PUBLIC__/img/yuesao/yuesao4.jpg" />
			<img src="__PUBLIC__/img/yuesao/yuesao5.jpg" />
		</div>

		<div class="page page2">
			<p class="page_tle">客户的选择<span>CUSTOMER CHOICE</span></p>
			<p class="p1">
				上千家庭的选择<br />
				PICC百万保险，美年大健康32项体检
			</p>
			<img src="__PUBLIC__/img/yuesao/yuesao6.jpg" />
		</div>

		<div class="page page3">
			<p class="page_tle">我们的产品<span>OUR PRODUCT</span></p>
			<ul class="product">
				<li title="小田螺/5880元/六大基础护理+PICC百万保险一份+产房监测+产后美容/服务经验：5-10个宝宝护理经验/服务周期：26天" style="background: url(__PUBLIC__/img/yuesao/ys5880.jpg) no-repeat center;">
					<input type="button" value="立即购买" class="pay_btn" price="5880"/>
				</li>
				<li title="大田螺/7880元/六大基础护理+PICC百万保险一份+产房监测+产后美容/服务经验：10-30个宝宝护理经验/服务周期：26天" style="background: url(__PUBLIC__/img/yuesao/ys7880.jpg) no-repeat center;">
					<input type="button" value="立即购买" class="pay_btn" price="7880"/>
				</li>
				<li title="金牌田螺/9880元/六大基础护理+PICC百万保险一份+产房监测+产后美容/服务经验：30-50个宝宝护理经验/服务周期：26天" style="background: url(__PUBLIC__/img/yuesao/ys9880.jpg) no-repeat center;">
					<input type="button" value="立即购买" class="pay_btn" price="9880"/>
				</li>
				<li title="超级田螺/12880元/六大基础护理+PICC百万保险一份+产房监测+产后美容/服务经验：50个以上宝宝护理经验/服务周期：26天" style="background: url(__PUBLIC__/img/yuesao/ys12880.jpg) no-repeat center;">
					<input type="button" value="立即购买" class="pay_btn" price="12880"/>
				</li>
			</ul>
			<p class="p1">&lt;&lt;左右滑动&gt;&gt;</p>
		</div>
		<div class="page page4">
			<p class="p1">把月子中心带回家</p>
			<ul class="ysinfo">
				<li title="婴儿基础护理/喂养、起居照顾、用具清洗消毒" style="background: url(__PUBLIC__/img/yuesao/ys1.jpg) no-repeat center;"></li>
				<li title="生长体征监控/身高、体重、常见生理现象/体征" style="background: url(__PUBLIC__/img/yuesao/ys2.jpg) no-repeat center;"></li>
				<li title="婴儿沐浴/脐带护理、五官护理、身体清洗、抚触按摩" style="background: url(__PUBLIC__/img/yuesao/ys3.jpg) no-repeat center;"></li>
				<li title="疾病观察/黄疸、湿疹、红屁股、肺炎、鹅口疮等" style="background: url(__PUBLIC__/img/yuesao/ys4.jpg) no-repeat center;"></li>
				<li title="产妇基础护理/产褥期卫生、乳房护理、缠腹带" style="background: url(__PUBLIC__/img/yuesao/ys5.jpg) no-repeat center;"></li>
				<li title="产妇疾病观察/乳腺炎、产褥热、产后腰腿痛" style="background: url(__PUBLIC__/img/yuesao/ys6.jpg) no-repeat center;"></li>
				<li title="增值服务1/儿童保健 / 通乳医师上门8h/孕检陪护 / 产后美容 " style="background: url(__PUBLIC__/img/yuesao/ys7.jpg) no-repeat center;"></li>
				<li title="增值服务2/营养师定制食谱 / 心理疏导 / PICC百万保险/产妇房监测" style="background: url(__PUBLIC__/img/yuesao/ys8.jpg) no-repeat center;"></li>
			</ul>
		</div>
		<div class="page page5">
			<p class="page_tle">服务流程<span>SERVICE PROCESS</span></p>
			<img src="__PUBLIC__/img/yuesao/yuesao7.jpg" title="服务流程" alt="沟通咨询/签订合同/产前沟通/导师上户/月嫂入户/服务督导/售后服务" />
		</div>
		<div class="page page5">
			<p class="page_tle">服务保障<span>SERVICE ASSURANCE</span></p>
			<img src="__PUBLIC__/img/yuesao/yuesao8.jpg" title="服务保障" alt="持证上岗/3天试用更换/全国可达/标准定价/售后保障" />
		</div>
		<div class="footer">
			<a href="wtai://wp//mc;4008086090"><img src="__PUBLIC__/img/tel.png" class="telnum" title="tel:400-808-6090" /></a>
			<p>地址：成都高新区天府大道1700号环球中心E2-18楼</p>
			<p>©2014-2015 成都亿家政网络科技有限公司 版权所有蜀ICP备15008974号-1</p>
		</div>
		<include file="Nav/footer"/>
		<script>
			$('.pay_btn').live('click',function(){
				var price = $(this).attr('price');
				window.location.href=""+ROOT+"/m/pay/price/"+price;
			});

			$('.btn').live('click',function(){
				var price = $(this).val();
				$('#buy_btn').attr('price',price);
			});


			$('.product').css('height',$(this).width()*0.5798);
			$('.product li').css('height',$(this).width()*0.5798).css('background-size','100% 100%');
			$('.ysinfo li').css('width','100%').css('height',$(this).width()*0.2291).css('background-size','100% 100%');
		</script>
	</body>
</html>
