<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>田螺阿姨视频教学</title>
		<link rel="stylesheet" href="__PUBLIC__/css/login.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/usually.css" />
	</head>
	<body>
		<form role="form" method="post" action="__MODULE__/Index/login_mod">
		   <div class="login">
		   	       <p class="name">用户名：</p>
		   	       <input class="name-text" type="text" name="phone" placeholder="请输入用户名"/><br /><br />
		   	       <p class="pwd">密码：</p>
		   	       <input class="pwd-text" type="password" name="pwd" placeholder="请输入密码"/><br /><br />
		   	       
		   	       <input class="button" type="submit" value="" />
		   </div>
		</form>
	</body>
</html>
