<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>特价月嫂-成都特价月嫂价格-特价月嫂价格多少钱【田螺阿姨】</title>
		<meta name="description" content="成都田螺阿姨为您提供特价月嫂服务，同时为您提供成都特价月嫂价格/月嫂服务价格多少钱咨询，咨询成都特价月嫂价格|特价月嫂多少钱|特价月嫂服务价格请拨打4008086090."/>
		<meta name="keywords" content="特价月嫂,成都特价月嫂,成都特价月嫂价格,成都特价月嫂价格多少钱,特价月嫂价格多少钱"/>

		<link rel="stylesheet" href="__PUBLIC__/css/usually.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/activity3980.css" />
		
	</head>
	<body>
	<include file="Index/header1"/>
	<include file="Index/header2"/>

	<script>
		$(".nav li").eq(1).addClass("active");
		var PRICE_NUMBER = 1;
		var SCALE = 1;
	</script>
		<div class="banner1" style="background: url(__PUBLIC__/img/activity/activitybanner.jpg) no-repeat center;"></div>
		
		<div class="page1 page">
			<div class="content">
				<p class="p1">护士般专业，家人般贴心，不止是价优</p>
				<p class="p2">
					<span>3980元</span>
					<span>26天</span>
					<span>产妇护理</span>
					<span>新生儿护理</span>
					<span>无需面试</span>
					<span>限量特供</span>
				</p>
			</div>
		</div>
		<div class="page2 page">
			<div class="content">
				<p class="page_tle">活动说明<span>ACTIVITY DESCRIPTION</span></p>
				<div class="pageCnt">
					<p class="p1"><i></i>服务内容</p>
					<p class="p2">新生儿护理、产妇护理</p>
					<p class="p1"><i></i>服务周期</p>
					<p class="p2">26天</p>
					<p class="p1"><i></i>活动解释</p>
					<p class="p2">
						每周3名特价月嫂，签完即止；<br />
						无需面试，公司统一安排护理员；<br />
						此活动与其他活动不可同时参与；<br />
						服务周期结束后，若续签，价格为26天5880元；<br />
						最终解释权归成都亿家政网络科技有限公司所有；
					</p>
				</div>
			</div>
		</div>
		<div class="page3 page">
			<a href="#">了解更多</a>
		</div>

	<include file="Index/footer"/>
	</body>
	
</html>
