<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>成都田螺阿姨月嫂培训学校_成都月嫂培训_成都月嫂培训学校_成都月嫂培训机构【田螺阿姨】</title>
		<meta name="description" content="成都田螺阿姨月嫂培训学校为您提供成都月嫂培训服务，咨询成都田螺阿月嫂培训学校情况请拨打4008086090."/>
		<meta name="keywords" content="成都月嫂培训,成都月嫂培训学校,成都月嫂培训机构,成都田螺阿姨月嫂培训"/>
		<link rel="stylesheet" href="__PUBLIC__/css/usually.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/crzp.css" />
	</head>
	<body>

	<include file="Index/header1"/>
	<include file="Index/header2"/>
		<div class="page page1">
			<div class="content"></div>
		</div>
		<div class="page page2">
			<div class="content tle">
				<p class="p1">招聘信息</p>
				<p class="p2">Recruitment Information</p>
			</div>
			<div class="content content1">
				<p class="p1">初中以上学历&nbsp;&nbsp;只要你是23--55岁已婚或已育女性，无传染性疾病；</p>
				<p class="p2">品行端正，无不良嗜好；五官端正，无明显缺陷；身体健康，无行动障碍；无精神疾病或精神病史；</p>
				<p class="p3">热爱母婴护理行业；有相关行业从业经验者优先（无经验者和无相关证件者可参与培训后上岗）。</p>
				
				<p class="p4">环球中心5000 m²大型培训管理中心，集授课，实操，演练一体；</p>
				<p class="p5">中国家庭服务协会，成都家庭服务协会全面支持,专业院校，包括数位20年金牌月嫂；</p>
				<p class="p6">包实习，包上岗：与成都各大医院建立良好合作关系，学院配套实习。</p>
			</div>
		</div>
		
		<div class="page page3">
			<div class="content tle">
				<p class="p1">关于月嫂</p>
				<p class="p2">About Yuesao</p>
			</div>
			<div class="content content1">
				<img src="__PUBLIC__/img/crzp/crzp_06.jpg" class="first_img"/>
				<img src="__PUBLIC__/img/crzp/crzp_08.jpg" />
				<img src="__PUBLIC__/img/crzp/crzp_10.jpg" />
			</div>
			<div class="content content2">
				<p class="p1">学月嫂&nbsp;&nbsp;没有高学历也能月薪过万</p>
				<p class="p2">学月嫂&nbsp;&nbsp;没有工作经验也能帮你免费推荐就业</p>
				<p class="p3">学月嫂&nbsp;&nbsp;不需要风吹日晒，不需要起早贪黑，只需要有爱心，喜爱宝宝</p>
				<p class="p4">学月嫂&nbsp;&nbsp;你喜爱那个不到的薪资涨幅，没做一单涨一次,薪资涨幅由你定</p>
				<p class="p5">学月嫂&nbsp;&nbsp;不用担心职业发展遇到瓶颈，证书越久工资越高</p>
				<p class="p6">学月嫂&nbsp;&nbsp;用专业的知识培养自己的后代，让宝宝完美，健康成长</p>
			</div>
		</div>
		
		<div class="page page4">
			<div class="content tle">
				<p class="p1">我们保障</p>
				<p class="p2">We guarantee</p>
			</div>
			<div class="content content1">
				<ul class="f-cb">
					<li class="l1">
						<p class="p1">工资高</p>
						<p class="p2">
							工资高出行业10％<br />
							涨薪比行业快30％<br />
							阶梯式晋升模式
						</p>
					</li>
					<li class="l2">
						<p class="p1">专业体检</p>
						<p class="p2">
							健康专属体检<br />
							高于行业标准400%
						</p>
					</li>
					<li class="l3">
						<p class="p1">定制保险</p>
						<p class="p2">
							中国人保专为田螺阿姨<br />
							定制家政保险<br />
							保障你的人生财产安全
						</p>
					</li>
					<li class="l4">
						<p class="p1">服务保障</p>
						<p class="p2">
							服务期间与客户发生矛盾<br />
							公司将全力协助解决<br />
							让你工作无忧
						</p>
					</li>
					<li class="l5">
						<p class="p1">丰厚福利</p>
						<p class="p2">
							签订协议保障就业<br />
							等单补助
						</p>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="page page5">
			<div class="content tle">
				<p class="p1">培训保障</p>
				<p class="p2">Training guarantee</p>
			</div>
			<div class="content content1">
				<p class="p1">培训保障</p>
				<p class="p2">高级育婴师只需<i>1980元</i></p>
				<p class="p3">以上课程包含教材费，考试费，鉴定费，证件工本费</p>
				<p class="p4">我们承诺，学习期间绝不再收取任何费用</p>
				
				<p class="p5">招生热线</p>
				<p class="p6">400-808-6090 028-65863755</p>
				<p class="p7">（9:30-22:00）</p>
			</div>
		</div>


		<include file="Index/footer"/>
	</body>
</html>
