<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>成都催乳师培训_成都田螺阿姨催乳师培训学校_催乳师培训机构_成都催乳师培训中心</title>
		<meta name="description" content="成都田螺阿姨催乳师培训学校中心机构为您提供成都催乳师培训服务，咨询成都田螺阿通乳师培训学校情况请拨打4008086090."/>
		<meta name="keywords" content="成都催乳师培训,成都催乳师培训学校,成都催乳师培训机构,成都田螺阿姨催乳师培训,催乳师培训"/>
		<link rel="stylesheet" href="__PUBLIC__/css/usually.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/cuiru.css" />
	</head>
	<body>

	<include file="Index/header1"/>
	<include file="Index/header2"/>
		<div class="page page1">
			<div class="content"></div>
		</div>
		<div class="page page2">
			<div class="content tle">
				<p class="p1">催乳师班</p>
				<p class="p2">Prolactin division class</p>
			</div>
			<div class="content content1">
				<p class="p1">什么是催乳师?</p>
				<p class="p2">催乳师是指采用人体经络调理、中医按摩推拿等技术手段，为产妇产后少乳、无乳、乳房胀痛、乳汁淤积、乳腺管阻塞、急性乳腺炎等哺乳期乳腺症状妇女提供催乳保健服务与乳房美体的专业人员催乳在我国具有悠久的传统，通常以中医调理为根本，结合民间流传的食疗之法，帮助产妇泌乳。进入现代社会，人们生活习惯的改变及社会环境的变迁阻碍了母乳喂养的实施，越来越多的哺乳问题显现出来，催乳师作为一个独立的职业开始确立。</p>
			</div>
			<div class="content content2">
				<p class="p1">催乳师行业前景</p>
				<p class="p2">
					<i>中国每年约</i>有<i>2000万</i>妈妈，母乳喂养已深入人心，我国婴儿出
					生率高且稳定，宝宝是父母爱的结晶，为了让宝宝得到母乳喂养，增强免
					疫力健健康康的成长，每一个普通的家庭都乐意成为我们的服务对象。<br />
					<i>每小时有2000-3000</i>名婴儿诞生，几乎每天都有客户需求，数量决
					定了最基本的需求程度。 需求量这么大怎么可能找不到工作呢？催乳师属
					于自由职业，可以根据时间来安排生活和工作
				</p>
			</div>
			<div class="content content3">
				<p class="p1">催乳师行业待遇</p>
				<p class="p2">
					<i>催乳师行业：月收入过万</i>
					专业催乳师作为一项朝阳性的职业，就业前景十分广阔，市场需求十分巨大
					每次收费<i>300-800元/小时</i>，如果平均每天做3到5个客户
					<i>月收入可达到1万-2万</i>，真正的高薪职业
				</p>
			</div>
			<div class="content content4">
				<img src="__PUBLIC__/img/cuiru/cr5_17.png" />
			</div>
		</div>
		
		<div class="page page3">
			<div class="content tle">
				<p class="p1">特色培训项目</p>
				<p class="p2">Training program</p>
			</div>
			<div class="content content1">
				<ul class="f-cb">
					<li class="l1">
						采用点按相应的穴位<br />
						疏通相应的经络，以<br />
						按、摩、推、拿、揉、<br />
						捏、颤、打等8种手法
					</li>
					<li class="l2">
						无创疗法是一种不用<br />
						开刀的无创技术，在<br />
						治疗由软组织引起的<br />
						粘连上有着显著的疗<br />
						效并可以有效缓解疼<br />
						痛症状
					</li>
					<li class="l3">
						指使用艾绒或其他药<br />
						物放置体表的腧穴或<br />
						疼痛处烧灼、温熨。<br />
						借灸火的温和热力及<br />
						药物作用达到效果
					</li>
					<li class="l4">
						刮痧火罐疗法，是祖<br />
						国医学遗产之一，拔<br />
						罐法又名“火罐气”<br />
						是一种以杯罐作工具<br />
						借热力排去其中的空<br />
						气产生负压,造成淤血<br />
						现象的一种疗法
					</li>
				</ul>
			</div>
		</div>
		
		<div class="page page4">
			<div class="content tle">
				<p class="p1">培训环境</p>
				<p class="p2">Training environment</p>
			</div>
			<div class="content content1">
				<img src="__PUBLIC__/img/cuiru/cr_35.jpg" class="first_img"/>
				<img src="__PUBLIC__/img/cuiru/cr_37.jpg" />
				<img src="__PUBLIC__/img/cuiru/cr_39.jpg" />
			</div>
		</div>
		
		<div class="page page4 pa-bt">
			<div class="content tle">
				<p class="p1">学员风采</p>
				<p class="p2">Students style</p>
			</div>
			<div class="content content1">
				<img src="__PUBLIC__/img/cuiru/cr_44.jpg" class="first_img"/>
				<img src="__PUBLIC__/img/cuiru/cr_46.jpg" />
				<img src="__PUBLIC__/img/cuiru/cr_48.jpg" />
				<img src="__PUBLIC__/img/cuiru/cr_52.jpg" class="first_img"/>
				<img src="__PUBLIC__/img/cuiru/cr_53.jpg" />
				<img src="__PUBLIC__/img/cuiru/cr_54.jpg" />
			</div>
		</div>


	<include file="Index/footer"/>
	</body>
</html>
