<!DOCTYPE html>
<html>
<title>【田螺阿姨】成都月嫂公司_成都育儿嫂公司_成都母婴护理培训服务机构</title>
<meta name="description" content="田螺阿姨是成都的专业母婴护理公司机构!提供月嫂、育儿嫂等母婴护理服务，拥有20年母婴护理经验老师指导!相比成都月嫂公司机构/成都育儿嫂公司机构来说，田螺阿姨更可靠更实在更安全！" />
<meta name="keywords" content="田螺阿姨,月嫂,育儿嫂,成都月嫂,成都育儿嫂,成都月嫂公司,成都育儿嫂公司,月嫂公司,育儿嫂公司" />
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="__PUBLIC__/css/usually.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/index.css" />

	</head>
	<body>


	<include file="Index/header1"/>
	<include file="Index/header2"/>
	<script>
		$(".nav>li").eq(0).addClass("active");
	</script>
		<div class="page page1">
			<div class="content f-cb">
				<div class="page1_font">
					<p class="big_red">相同的服务品质<br/>月子酒店<span>五分之一的价格</span></p>
					<p class="font_18px">月子会所搬回家，服务超所值</p>
					<p class="liaojie"><a href="__ROOT__/yuesao.html">了解详情</a></p>
					<a href="__ROOT__/kst.html" class="btn" target="_blank">点击咨询</a>
					<!-- <button onclick="javascript:{window.location.href='__ROOT__/kst.html'}" class="btn">点击咨询</button> -->
				</div>
				<div class="page_img1" alt="月嫂价格，育儿嫂价格，成都田螺阿姨专业母婴护理公司机构，成都专业月嫂公司机构"></div>
			</div>
		</div>
		
		<div class="page page2">
			<div class="content f-cb">
				<div class="page2_font">
					<p class="big_red">田螺阿姨<br/><span>不是传统月嫂中介</span></p>
					<p class="font_18px">专业母婴护理机构、母婴护理人才输出基地</p>
					<p class="liaojie"><a href="__ROOT__/yuesao.html">了解详情</a></p>
					<!-- <button class="btn" onclick="javascript:{window.location.href='__ROOT__/kst.html'}">订购月嫂</button> -->
					<a href="__ROOT__/kst.html" class="btn" target="_blank">订购月嫂</a>
				</div>
				<div class="page_img2" alt="我们不是月嫂中介，我们是成都专业的母婴护理机构/母婴护理培训学校，成都的专业月嫂公司机构和成都专业的育儿嫂公司机构"></div>
			</div>
		</div>
		
		<div class="page page3">
			<div class="content f-cb">
				<div class="page3_font">
					<p class="big_red">百万保险，32项体检，安全更多一步</p>
					<p class="font_18px">双方美年大体检、PICC百万保险、专业医护支持</p>
					<a class="btn" target="_blank">查看详情</a>
				</div>
				<div class="page_img3" alt="上户即可购买价值百万的保险，提供阿姨体检信息，我们是成都专业的母婴护理机构，成都的专业月嫂公司机构和成都专业的育儿嫂公司机构"></div>
			</div>
		</div>

		<div class="page page4">
			<div class="content">
				<p class="p1">颠覆传统，重新定义母婴护理</p>
				<p class="p2">我们提供的不仅是服务，还有给孩子卓越的起步，给妈妈健康的基础</p>
				<div class="btn_list">
					<button class="btn btn_mv" onclick="openMv1()">产后恢复操</button>
					<button class="btn btn_xc" onclick="openMv2()">月嫂的一天</button>
					<button class="btn btn_mv" onclick="openMv3()">电视台采访</button>
					<button class="btn btn_xc" onclick="openMv4()">月嫂健康操</button>
				</div>
				<div class="page_img4" alt="颠覆传统重新定义母婴护理，在田螺阿姨坐月子不是难题。我们是成都专业的母婴护理机构，成都的专业月嫂公司机构和成都专业的育儿嫂公司机构"></div>
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/indexVideo.js"></script>
		
		<div class="news">
			<div class="content">
				<p class="tle">新闻</p>
				<p class="tle_E">NEWS</p>
				<div class="under_line"></div>

				<div class="news_cnt f-cb">
					<div class="news_exp f-cb">
						<div class="news_img" alt="成都田螺阿姨月嫂/育儿嫂公司机构新闻信息">
							<a href="__ROOT__/{$news.belong_url}/{$news.id}.html"><img src="__UPLOADS__/{$news.title_img}" /></a>
						</div>
						<div class="news_info">
							<p class="news_tle"><a href="__ROOT__/{$news.belong_url}/{$news.id}.html">{$news.title}</a></p>
							<p class="news_time">{$news.add_time}</p>
							<p class="news_pf">{$news.description}</p>
							<a href="__ROOT__/{$news.belong_url}.html" class="btn">
								<i>MORE</i>
								<span></span>
							</a>
						</div>
					</div>
					<ul class="news_list">
						<volist name="news_list" id="vo">
							<li><a href="__ROOT__/{$vo.belong_url}/{$vo.id}.html"><span>{$vo.add_time}</span>{$vo.title}</a></li>
						</volist>
					</ul>
				</div>
			</div>
		</div>
		<script>
			$(".news_info>.btn").mouseenter(function(){
			  $(".news_info>.btn>span").animate({
			  	width:'100%'
			  },200);
			}).mouseleave(function(){
			  $(".news_info>.btn>span").animate({
			  	width:'0%'
			  },200);
			});
		</script>
		<script type="text/javascript" src="__PUBLIC__/js/jquery.als-1.7.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function()
			{
				$("#demo").als({
					visible_items: 5,
					scrolling_items: 1,
					orientation: "horizontal",
					circular: "yes",
					autoscroll: "yes",
					interval: 2000
				});
			});
		</script>
		<div class="cpt">
			<div class="content">
				<p class="tle">合作伙伴</p>
				<p class="tle_E">PATENER</p>
				<div class="under_line"></div>

				<div class="als-container paten" id="demo">
					<span class="als-prev"></span>
					<div class="als-viewport">
						<ul class="als-wrapper patener">
							<li class="pat_1 als-item"><a href="#"></a></li>
							<li class="pat_2 als-item"><a href="#"></a></li>
							<li class="pat_3 als-item"><a href="#"></a></li>
							<li class="pat_4 als-item"><a href="#"></a></li>

							<li class="pat_5 als-item"><a href="#"></a></li>
							<li class="pat_6 als-item"><a href="#"></a></li>
							<li class="pat_7 als-item"><a href="#"></a></li>
							<li class="pat_8 als-item"><a href="#"></a></li>
						</ul>
					</div>
					<span class="als-next"></span>
				</div>
				<!--友情链接内容-->
				友情链接：
				<volist name="friend" id="vo">
					<a href="{$vo.url}" <if condition="$vo.target eq 1">target="_black"</if> >{$vo.name}</a>&emsp;

				</volist>
			</div>
		</div>





	<include file="Index/footer"/>


	</body>
</html>