<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>四川成都月嫂培训加盟_四川成都月嫂培训学校加盟_四川成都育婴师培训加盟</title>
		<meta name="description" content="四川成都田螺阿姨为您提供月嫂培训学校加盟，四川月嫂培训加盟/育婴师培训加盟就找田螺阿姨！"/>
		<meta name="keywords" content="月嫂培训加盟_月嫂培训学校加盟_育婴师培训加盟_成都月嫂培训加盟_四川月嫂培训加盟_四川月嫂培训学校加盟，四川育婴师培训加盟，四川育婴师培训学校加盟"/>
		<link rel="stylesheet" href="__PUBLIC__/css/usually.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/jiameng.css" />
		<script src="__PUBLIC__/js/jquery.longyuJs.js"></script>
		
	</head>
	<body>

	<include file="Index/header1"/>
	<include file="Index/header2"/>
		<script>
			$(".nav>li").eq(5).addClass("active");
		</script>
		<div class="banner1" style="background: url(__PUBLIC__/img/jiameng/jmbg.jpg) no-repeat center;"></div>
		
		<div class="page1 page">
			<div class="content">
				<p class="p1">行业解析</p>
				<p class="p2">这是一个关于爱与成长的行业，这是一个最具价值的行业</p>
				<p class="p3"><img src="__PUBLIC__/img/jiameng/jiameng2.png"></p>
				<p class="p4">
					根据国家统计局发布的《中国人口统计年鉴》，近年来中国每年新生儿数量约3000万<br />
					其中1/3以上的家庭需要母婴护理服务<br />
					随着二胎政策的出台，优秀月嫂缺口愈加巨大
				</p>
			</div>
		</div>
		
		<div class="page2 page">
			<div class="content content1">
				<p class="p1">核心优势</p>
				<p class="p2">为你解析田螺阿姨的核心优势</p>
			</div>
			<div class="content content2">
				<p class="p1">田螺阿姨是西南母婴行业前三，四川电视台推荐品牌</p>
				<p class="p2">上线一年跻身行业前三，总部拥有50余位员工。2015年创办田螺阿姨母婴护理培训中心，向社会输送了1000余名高级母婴护理师。母婴护理师辐射中国14个城市，最远到达美国旧金山。累计服务1536例产妇和新生儿，无一例事故。</p>
			</div>
		</div>
		
		<div class="page3 page">
			<div class="content content1">
				<p class="p1">华西附二院、中医附院等资深专家团队，西南顶尖师资力量</p>
				<p class="p2">来自知名产院的专家导师、20余年经验的金牌月嫂，教授理论和实操。更有安琪儿月子酒店进行从业者服务心态培训。</p>
			</div>
			<div class="content content2"></div>
			<div class="content content3">
				<p class="p1">强大的合作伙伴，就业实习不用愁</p>
				<p class="p2">安琪儿医院、锦月美慧等四大产院、六大月子酒店战略合作伙伴，就业实习不用愁。拥有安琪儿、玛利亚、喜悦月子、锦月美慧等B端渠道伙伴。</p>
			</div>
		</div>
		
		<div class="page4 page">
			<div class="content content1">
				<p class="p1">国家育婴师指定考点，人社部颁发证书，政府补贴扶持</p>
				<p class="p2">田螺阿姨是西南地区为数不多的育婴师指定考点，由人社部颁发证书<br />受《劳动法》和《职业教育法》保护，全国通用，可联网查询</p>
			</div>
			<div class="content content2">
				<p class="p1">两年成就金牌，职业发展多种可能</p>
				<p class="p2">
					50个以上宝宝的护理经验才能成就一个金牌月嫂，这条路需要5年，甚至更长。而传统月嫂因身体无法负荷，职业寿命仅5-7年，局限的职业 发展，前路茫茫。<br /><br />
					田螺阿姨创立“2年金牌计划”和“创业孵化项目”，开辟母婴护理从业者新天地，为社会减轻就业压力，解决25-50岁女性就业难问题。
				</p>
				<p class="p1">两年金牌计划</p>
				<p class="p2">
					5年的金牌月嫂成长之路，田螺阿姨2年成就。用最短的时间发挥从业者最大价值，10万年薪触手可及。
				</p>
				<p class="p1">创业孵化项目</p>
				<p class="p2">
					肩负社会责任，为月嫂提供再就业支持，当讲师、开推拿馆、加盟母婴店等，拓宽和延伸了月嫂职业生涯的宽度与长度。
				</p>
			</div>
			<div class="content content3">
				<p class="p1">一站式运营服务，您忧虑的，正是我们擅长的</p>
				<p class="p2">
					专属加盟指导小组，复刻式师资、运营、管理培训，全程提供人员、资源调配，成熟的商业运营模式输出，全方位多渠道的推广宣传，全天候实时解决终端问题。
				</p>
			</div>
		</div>
		
		<div class="page5 page">
			<div class="content content1">
				<p class="p1">加盟流程</p>
				<p class="p2">母婴护理良心企业，加盟就选田螺阿姨</p>
			</div>
			<div class="content content2">
				<img src="__PUBLIC__/img/jiameng/jiameng13.png">
			</div>
		</div>
		
		<div class="page6 page">
			<div class="content content1">
				<p class="p1">提交留言</p>
				<p class="p2">母婴护理良心企业，加盟就选田螺阿姨</p>
			</div>
			<div class="content content2">
				<form action="__MODULE__/addMessage" method="post" id="form" enctype="multipart/form-data">
					<div class="liuyanbg">

						<input type="text" class="name" placeholder="姓名" value="" name="name" id="name"/>
						<input type="text" class="tel" placeholder="电话" value=""  name="phone" id="phone"/>
						<textarea class="txt" id="txt" name="content">内容</textarea>
						<input type="button" class="sub" value="提交" id="submit"/>
					</div>
				</form>
			</div>
		</div>
		
		<script>
			//文本框文字提示
			$(function(){
				var str = "内容";
				$("#txt").focus(function(){
					$(this).text("").addClass("cur");
				});
				$("#txt").blur(function(){
					var val = $(this).text();
					if(val=="" || val == null) $(this).text(str).removeClass("cur");
				});
			});

			$("#submit").live('click',function(){
				if($("#name").val()==''){
					alert('请输入姓名！');
					return false;
				}else if(!(/^((0?1[358]\d{9})|((0(10|2[1-9]|[3-9]\d{2}))?(-)?[1-9]\d{6,7}))$/.test($("#phone").val()))){
					alert('手机号不正确;请重新输入！');
					return false;
				}else if($("#txt").val()==''||$("#txt").val()=='内容'){
					alert('请填写内容！');
					return false;
				}
				$("#form").submit();
			});
		</script>

	<include file="Index/footer"/>
	</body>
	
</html>
