<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>四川月嫂人才输送中心_四川月嫂培训省外输送【田螺阿姨】</title>
		<meta name="description" content="田螺阿姨是一家集合月嫂服务与月嫂培训的机构，除了提供月嫂服务而外，我们还为省外广大家政公司机构输送人才，欢迎前来咨询。"/>
		<meta name="keywords" content="四川月嫂人才输送中心,四川月嫂培训省外输送,四川月嫂,四川月嫂省外输送,四川月嫂人才中心"/>
		<link rel="stylesheet" href="__PUBLIC__/css/usually.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/rencaishusong.css" />
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.1.min.js" ></script>
		
		
	</head>
	<body>

	<include file="Index/header1"/>
	<include file="Index/header2"/>

	<script>
		$(".nav>li").eq(5).addClass("active");
	</script>
		
		<div class="banner1" style="background: url(__PUBLIC__/img/rencai/rencaibg.png) no-repeat center;"></div>
		
		<div class="page page1">
			<div class="content">
				<div class="tle">
					<p class="p1">母婴行业热，发展却遭遇瓶颈</p>
					<p class="p2">Development is experiencing bottleneck</p>
				</div>
				<img src="__PUBLIC__/img/rencai/rencaifont.png" class="rencaifont" alt="新生儿潮和二胎政策的全面开放催生了母婴行业热，新的月嫂公司、月子会所如雨后春笋般涌现而出,但正面临发展的瓶颈——没有足够的符合现代客户母婴服务需求的护理员,依赖市场上的挂靠阿姨，但往往服务质量差、管理成本高（甩单、换单、被售后）；选择自己培训，但投入回报慢，时间周期长" />
				<div class="tle">
					<p class="p1">我们该如何破围？</p>
					<p class="p2">How do we break the enclosure？</p>
				</div>
				<div class="xuanze">
					<div class="num n1"></div>
					<div class="num n2"></div>
					<div class="num n3"></div>
					<div class="num n4"></div>
					<div class="num n5"></div>
					<img src="__PUBLIC__/img/rencai/f1.png" width="461" height="89" class="f1" title="面向全国输出优秀月嫂，助企业定向培训母婴护理员" alt="田螺阿姨于2015年成立，已面向社会输送高级育婴师1000余名。服务覆盖中国14个城市最远到达美国旧金山。累计服务1536例产妇和新生儿，无一例事故。仅上线一年，跻身行业前三。">
					<img src="__PUBLIC__/img/rencai/f2.png" width="461" height="79" class="f2" title="田螺阿姨母婴护理学院" alt="位于亚洲最大单体建筑——成都环球中心，学院及研发中心总面积达5000㎡，配备有理论课程室、喂养实操室、产后恢复室、沐浴操作室等，环境优美，设施齐备。">
					<img src="__PUBLIC__/img/rencai/f3.png" width="417" height="94" class="f3" title="30%理论+40%实操+30%实习=田螺阿姨培训" alt="远高于国家育婴师培训标准，设置理论、实操课程，另有长达30天的产院实习及服务心态培训等等。全方位的培训课程，造就田螺阿姨月嫂与众不同，引领行业服务新标准。">
					<img src="__PUBLIC__/img/rencai/f4.png" width="353" height="77" class="f4" title="国家育婴师指定考点，人社部颁发证书" alt="田螺阿姨是成都职业鉴定指导中心批准的国家高级育婴师考点，由人社部颁发证书，全国通用，可联网查询，">
					<img src="__PUBLIC__/img/rencai/f5.png" width="419" height="77" class="f5" title="美年大健康为爱护航，体检高于行业4倍标准" alt="每一位学员入学前均接受美年大健康体检，包含HIV、HPV、肝功能等32项体检项目，筛除有传染病及不适合从事母婴护理工作的人员">
				</div>
				<div class="tle">
					<p class="p1">田螺阿姨实景拍摄</p>
					<p class="p2">Tianluoayi live action</p>
				</div>
				<div class="pic pic1"></div>
				<div class="pic pic2"></div>
				<div class="pic pic3"></div>
				<div class="tle">
					<p class="p1">他们都选择了田螺阿姨</p>
					<p class="p2">They all chose Tianluoayi</p>
				</div>
				<p class="xzp">
					西南4大产院、6大月子酒店的定点人才输送基地，培训的月嫂<br />
					已服务覆盖中国14个城市，最远到达了美国旧金山
				</p>
				<div class="xzCnt">
					<img src="__PUBLIC__/img/rencai/pic1.png" class="xzPic1" title="安琪儿妇产医院">
					<img src="__PUBLIC__/img/rencai/pic2.png" class="xzPic2" title="成都玛利亚妇产儿童医院">
					<img src="__PUBLIC__/img/rencai/pic3.png" class="xzPic3" title="成都新世纪妇女儿童医院">
					<img src="__PUBLIC__/img/rencai/pic4.png" class="xzPic4" title="月靓月子会所">
					<img src="__PUBLIC__/img/rencai/pic5.png" class="xzPic5" title="锦月美慧月子中心">
				</div>
			</div>
		</div>
		<div class="page page2"></div>

	<include file="Index/footer"/>
	</body>
	<script type="text/javascript" src="__PUBLIC__/js/rcanima.js" ></script>
</html>
