<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/usually.css" />
		<link rel="stylesheet" href="css/about.css" />
		<script type="text/javascript" src="js/jquery-1.11.1.min.js" ></script>
		<script type="text/javascript" src="js/nav.js" ></script>
		
	</head>
	<body>
		<div class="top">
			<div class="content f-cb">
				<a href="#" class="logo"></a>
				
				<ul class="nav f-cb">
					<li><a href="index.html">首页</a></li>
					<li onmouseover="showMenu(this)" onmouseout="hideMenu(this)">
						<a href="yuesao.html">月嫂</a>
						<ul class="sec_nav">
							<li><a href="#">月子餐</a></li>
							<li><a href="#">通乳</a></li>
							<li><a href="#">宝宝喂养与保健</a></li>
							<li><a href="#">妈妈健康与恢复</a></li>
							<li><a href="#">锦旗与表扬信</a></li>
							<li><a href="#">优秀月嫂</a></li>
						</ul>
					</li>
					<li><a href="about.html">关于我们</a></li>
					<li><a href="contant.html">联系我们</a></li>
				</ul>
			</div>
		</div>
		
		<script>
			$(".nav>li").eq(2).addClass("active");
		</script>
		
		<div class="banner">
			<ul>
				<li></li>
			</ul>
		</div>

		<div class="page page1">
			<div class="content f-cb">
				<div class="font">
					<p class="p1">田螺阿姨，重新定义了母婴护理</p>
					<p class="p2">田螺阿姨成立于2015年12月，是一个专注于为80、90后新时代家庭提供母婴护理解决方案的O2O品牌。<br/><br/></p>
					<p class="p2">田螺阿姨创办的初衷是：“传承爱”，这也是我们风雨无阻的理由。我们想做的事情很简单：让每个妈妈恢复健康的身体和曼妙的身材，让每个出生的宝宝茁壮成长。</p>
				</div>
				<img src="img/about_03.png" width="484" height="330"/>
			</div>
		</div>
		
		
		<div class="page page2">
			<div class="content f-cb">
				<img src="img/about_10.png" width="289" height="363"/>
				<div class="font">
					<p class="p1">企业目标</p>
					<p class="p2">我们的目标很远大，期望在移动互联时代，运用互联网工具，让每一个中国家庭能够更快捷、方便、安全地获得满意的母婴护理服务。我们希望通过努力，来彻底改变传统母婴护理行业落后、混乱的现状。不妥协，不逐流，不让步，我们始终坚定不移。不仅建立了自己的母婴护理学校，通过远高于国家标准的培训课程，使我们的母婴护理师在2年内达到传统月嫂5年才能达到的护理水平，让护理员的个人价值得到了成倍的增长。</p>
					<p class="p2">我们通过高质量的服务和好口碑，赢得了客户的认可，吸引了更多优秀的护理员加入田螺阿姨。统一的服务价格，标准的服务内容，让妈妈和宝宝在家里就能享受到同月子酒店般的服务，并解决了行业“乱收费”、“服务差”、“投诉无门”等陋习。<br/><br/></p>
					<p class="p2">迄今为止，田螺阿姨已培养了近千名优秀月嫂，服务过1000+个家庭，田螺阿姨的足迹已经遍及中国14个城市，远达海外。现在我们还是国家认证的三级企业、国家育婴师指定考点、中国家庭服务协会会员、家政服务行业协会会员、成都四大产院核心合作伙伴，在成都母婴护理机构排名前三。</p>
				</div>
				
			</div>
		</div>
		
		<div class="page page3">
			<div class="content f-cb">
				<div class="font">
					<p class="p1">公司团队</p>
					<img src="img/about_18.jpg" />
				</div>
				
			</div>
		</div>
		
		<div class="footer">
			<div class="content f-cb">
				<div class="foot_cnt">
					<ul class="ft_nav f-cb">
						<li><a href="#">网站首页</a></li>
						<li>&frasl;</li>
						<li><a href="#">关于我们</a></li>
						<li>&frasl;</li>
						<li><a href="#">月嫂服务</a></li>
						<li>&frasl;</li>
						<li><a href="#">育儿服务</a></li>
						<li>&frasl;</li>
						<li><a href="#">文章列表</a></li>
						<li>&frasl;</li>
						<li><a href="#">新闻中心</a></li>
						<li>&frasl;</li>
						<li><a href="#">联系我们</a></li>
					</ul>
					
					<table class="cat_info" border="0" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>地址：成都市高新区环球中心E2-18楼田螺阿姨</td>
								<td>邮编：610000</td>
								<td rowspan="3" class="gzh">
									<div class="gongzhonghao">
										<img src="img/gongzonghao.png" />
									</div>
									
								</td>

							</tr>
							<tr>
								<td>手机：18382389676</td>
								<td>邮箱：lihy@tianluoayi.com</td>
							</tr>
							<tr>
								<td>电话：400-808-6090</td>
								
								<td>
									<ul class="mode f-cb">
										<li class="weibo"></li>
										<li class="qq"></li>
										<li class="weixin"></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="foot_logo"></div>
			</div>
			<p class="banquan">&copy;2014-2015 成都亿家政网络科技有限公司 版权所有<br />蜀ICP备15008974号-1</p>
		</div>
	</body>
	
</html>
