<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>【婴幼家庭保洁】-母婴家庭保洁服务与培训价格多少钱-【田螺阿姨】</title>
		<meta name="description" content="婴幼家庭保洁与日式家庭保洁服务是田螺阿姨提出的特色母婴家庭保洁服务，属于婴幼儿家庭的全程日式化专属保洁服务。专业进口工具、0污染源、专业放心、安全可靠。"/>
		<meta name="keyword" content="婴幼保洁,母婴家庭保洁,婴幼家庭保洁,婴幼家庭保洁价格,母婴家庭保洁价格,家庭保洁培训"/>
		<include file="Index/header1"/>
	</head>
	<body>
		<!--整体内容开始-->
		<div class="container" style="width: 100%;height: auto;">
			<!--   header  -->

			<include file="Index/header2"/>
			
			<div class="rukou">
				<div class="rukou-kuang">
					<div class="rukou-content f-cb">
						<ul>
							<li><img src="__PUBLIC__/img/qianbao.png" /></li>
							<li>更好的待遇<br />更专业的培训<br />更人性化的管理<br />职业资格证</li>
							<li style="margin-left: 200px;"><img src="__PUBLIC__/img/ayi.png" /></li>
							<li>更贴心的服务<br />更专业的护理<br />更安全的保障<br />24小时不打烊</li>
						</ul>
					</div>
					
					<div class="button">
						<ul>
							<li><a class="button1" href="#">我要找工作</a></li>
							<li><a class="button2" href="#">我要找阿姨</a></li>
						</ul>
					</div>
										
				</div>
				
			</div>
			
			
			
			<div class="biaoti-news">
				<ul>
					<li class="zhuangshi"></li>
					<li class="dazi">文章目录<p>Recruitment</p></li>
					<li class="qq">QQ咨询</li>
					<li class="zixun">在线咨询</li>
				</ul>
			</div>
			
			
			<div	 class="biaoti">
					<img src="__PUBLIC__/img/news-img.png" />
				    <ul>
						<li><a class="biaoti-1" href="#">中秋快乐，我们双节不打烊！············································································2015年9月26日</a></li>
						<li class="text">孕早期腹部没有隆起，而且除了“害喜”的不适反应准妈妈还不能感受到胎儿的存在。特别是有些没有妊娠反应的准妈妈，甚至会怀疑自己是不是真的怀孕了，为什么一点感觉都没有。直到第一次······</li>
					</ul>
			</div>
			
			<div	 class="biaoti">
					<img src="__PUBLIC__/img/news-img.png" />
				    <ul>
						<li><a class="biaoti-1" href="#">中秋快乐，我们双节不打烊！············································································2015年9月26日</a></li>
						<li class="text">孕早期腹部没有隆起，而且除了“害喜”的不适反应准妈妈还不能感受到胎儿的存在。特别是有些没有妊娠反应的准妈妈，甚至会怀疑自己是不是真的怀孕了，为什么一点感觉都没有。直到第一次······</li>
					</ul>
			</div>
			
			<div	 class="biaoti">
					<img src="__PUBLIC__/img/news-img.png" />
				    <ul>
						<li><a class="biaoti-1" href="#">中秋快乐，我们双节不打烊！············································································2015年9月26日</a></li>
						<li class="text">孕早期腹部没有隆起，而且除了“害喜”的不适反应准妈妈还不能感受到胎儿的存在。特别是有些没有妊娠反应的准妈妈，甚至会怀疑自己是不是真的怀孕了，为什么一点感觉都没有。直到第一次······</li>
					</ul>
			</div>
			
			<div	 class="biaoti">
					<img src="__PUBLIC__/img/news-img.png" />
				    <ul>
						<li><a class="biaoti-1" href="#">中秋快乐，我们双节不打烊！············································································2015年9月26日</a></li>
						<li class="text">孕早期腹部没有隆起，而且除了“害喜”的不适反应准妈妈还不能感受到胎儿的存在。特别是有些没有妊娠反应的准妈妈，甚至会怀疑自己是不是真的怀孕了，为什么一点感觉都没有。直到第一次······</li>
					</ul>
			</div>
			
			<div	 class="biaoti">
					<img src="__PUBLIC__/img/news-img.png" />
				    <ul>
						<li><a class="biaoti-1" href="#">中秋快乐，我们双节不打烊！············································································2015年9月26日</a></li>
						<li class="text">孕早期腹部没有隆起，而且除了“害喜”的不适反应准妈妈还不能感受到胎儿的存在。特别是有些没有妊娠反应的准妈妈，甚至会怀疑自己是不是真的怀孕了，为什么一点感觉都没有。直到第一次······</li>
					</ul>
			</div>
			
			<div	 class="biaoti">
					<img src="__PUBLIC__/img/news-img.png" />
				    <ul>
						<li><a class="biaoti-1" href="#">中秋快乐，我们双节不打烊！············································································2015年9月26日</a></li>
						<li class="text">孕早期腹部没有隆起，而且除了“害喜”的不适反应准妈妈还不能感受到胎儿的存在。特别是有些没有妊娠反应的准妈妈，甚至会怀疑自己是不是真的怀孕了，为什么一点感觉都没有。直到第一次······</li>
					</ul>
			</div>
			
			<div	 class="biaoti">
					<img src="__PUBLIC__/img/news-img.png" />
				    <ul>
						<li><a class="biaoti-1" href="#">中秋快乐，我们双节不打烊！············································································2015年9月26日</a></li>
						<li class="text">孕早期腹部没有隆起，而且除了“害喜”的不适反应准妈妈还不能感受到胎儿的存在。特别是有些没有妊娠反应的准妈妈，甚至会怀疑自己是不是真的怀孕了，为什么一点感觉都没有。直到第一次······</li>
					</ul>
			</div>
			
			<div	 class="biaoti">
					<img src="__PUBLIC__/img/news-img.png" />
				    <ul>
						<li><a class="biaoti-1" href="#">中秋快乐，我们双节不打烊！············································································2015年9月26日</a></li>
						<li class="text">孕早期腹部没有隆起，而且除了“害喜”的不适反应准妈妈还不能感受到胎儿的存在。特别是有些没有妊娠反应的准妈妈，甚至会怀疑自己是不是真的怀孕了，为什么一点感觉都没有。直到第一次······</li>
					</ul>
			</div>
			
			<div	 class="biaoti">
					<img src="__PUBLIC__/img/news-img.png" />
				    <ul>
						<li><a class="biaoti-1" href="#">中秋快乐，我们双节不打烊！············································································2015年9月26日</a></li>
						<li class="text">孕早期腹部没有隆起，而且除了“害喜”的不适反应准妈妈还不能感受到胎儿的存在。特别是有些没有妊娠反应的准妈妈，甚至会怀疑自己是不是真的怀孕了，为什么一点感觉都没有。直到第一次······</li>
					</ul>
			</div>
			
			<div	 class="biaoti">
					<img src="__PUBLIC__/img/news-img.png" />
				    <ul>
						<li><a class="biaoti-1" href="#">中秋快乐，我们双节不打烊！············································································2015年9月26日</a></li>
						<li class="text">孕早期腹部没有隆起，而且除了“害喜”的不适反应准妈妈还不能感受到胎儿的存在。特别是有些没有妊娠反应的准妈妈，甚至会怀疑自己是不是真的怀孕了，为什么一点感觉都没有。直到第一次······</li>
					</ul>
			</div>
			
			
			<div class="fanye">
				<ul>
					<li>上一页</li>
					<li>
					<select>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
					</li>
					<li>下一页</li>
				</ul>
			</div>
			
			<!-- footer -->
			<include file="Index/footer"/>
				
		</div>
		
		
		
		
		
		
		
		<!--轮播图效果-->
	<script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
	<script>window.jQuery || document.write('<script src="__PUBLIC__/js/jquery-2.1.1.min.js"><\/script>')</script>
	<script src="__PUBLIC__/js/osSlider.js"></script>
	<script src="__PUBLIC__/js/jquery.kxbdMarquee.js"></script>
	<script type="text/javascript">
	    var slider = new osSlider({ //开始创建效果
	        pNode:'.slider', //容器的选择器 必填
	        cNode:'.slider-main li', //轮播体的选择器 必填
	        speed:4000, //速度 默认3000 可不填写
	        autoPlay:true //是否自动播放 默认true 可不填写
	    });
	    
	</script>
	</body>
	<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F48cc6318fc4270b2c3fcf8963524234a' type='text/javascript'%3E%3C/script%3E"));
</script>

</html>






























