<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/usually.css" />
		<link rel="stylesheet" href="css/contant.css" />
		<script type="text/javascript" src="js/jquery-1.11.1.min.js" ></script>
		<script type="text/javascript" src="js/nav.js" ></script>
		
	</head>
	<body>
		<div class="top">
			<div class="content f-cb">
				<a href="#" class="logo"></a>
				
				<ul class="nav f-cb">
					<li><a href="index.html">首页</a></li>
					<li onmouseover="showMenu(this)" onmouseout="hideMenu(this)">
						<a href="yuesao.html">月嫂</a>
						<ul class="sec_nav">
							<li><a href="#">月子餐</a></li>
							<li><a href="#">通乳</a></li>
							<li><a href="#">宝宝喂养与保健</a></li>
							<li><a href="#">妈妈健康与恢复</a></li>
							<li><a href="#">锦旗与表扬信</a></li>
							<li><a href="#">优秀月嫂</a></li>
						</ul>
					</li>
					<li>
						<a href="about.html">关于我们</a>
					</li>
					<li><a href="contant.html">联系我们</a></li>
				</ul>
			</div>
		</div>
		
		<script>
			$(".nav>li").eq(3).addClass("active");
		</script>
		
		<div class="banner">
			<ul>
				<li></li>
			</ul>
		</div>

		<div class="page">
			<div class="content f-cb">
				<div class="map"></div>
				<div class="font">
					<p class="p1">成都亿家政网络科技有限公司</p>
					<p class="p2">
						地址：成都成都市高新区天府大道1700号环球中心E2-18楼<br/>
						联系电话：400-808-6090<br/><br/><br/>
						
						异业合作/ 品牌合作 / 联合营销 / 广告投放 / 流量合作 / 网盟合作<br/>
						联系人：赵先生<br/>
						Email： zhaoh@tianluoayi.com<br/><br/><br/>
						
						驾车：天府大道\绕城高速锦城湖立交出口<br/>
						地铁：乘坐地铁1号线（广都方向），在锦城广场站 下车（A口出）<br/>
						公交：乘坐 74\125\171a\171b\898\1064\1119路，在环球中心站下车

					</p>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<div class="content f-cb">
				<div class="foot_cnt">
					<ul class="ft_nav f-cb">
						<li><a href="#">网站首页</a></li>
						<li>&frasl;</li>
						<li><a href="#">关于我们</a></li>
						<li>&frasl;</li>
						<li><a href="#">月嫂服务</a></li>
						<li>&frasl;</li>
						<li><a href="#">育儿服务</a></li>
						<li>&frasl;</li>
						<li><a href="#">文章列表</a></li>
						<li>&frasl;</li>
						<li><a href="#">新闻中心</a></li>
						<li>&frasl;</li>
						<li><a href="#">联系我们</a></li>
					</ul>
					
					<table class="cat_info" border="0" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>地址：成都市高新区环球中心E2-18楼田螺阿姨</td>
								<td>邮编：610000</td>
								<td rowspan="3" class="gzh">
									<div class="gongzhonghao">
										<img src="img/gongzonghao.png" />
									</div>
									
								</td>

							</tr>
							<tr>
								<td>手机：18382389676</td>
								<td>邮箱：lihy@tianluoayi.com</td>
							</tr>
							<tr>
								<td>电话：400-808-6090</td>
								
								<td>
									<ul class="mode f-cb">
										<li class="weibo"></li>
										<li class="qq"></li>
										<li class="weixin"></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="foot_logo"></div>
			</div>
			<p class="banquan">&copy;2014-2015 成都亿家政网络科技有限公司 版权所有<br />蜀ICP备15008974号-1</p>
		</div>
	</body>
	
</html>
