
<div style="display: none;">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?e63e935a08dd709083f2a7b61522a0ac";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();


 $('#go_video').click(function(){
			$('#video').show();
			$('#video_map').show();
			$('#go_video_div').hide();

		});
		$('#close_video').click(function(){
			$('#video').hide();
			$('#video_map').hide();
			$('#go_video_div').show();
		});
		
</script>




	<script src="http://s11.cnzz.com/z_stat.php?id=1256805358&web_id=1256805358" language="JavaScript" rel="nofollow"></script>
<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=7475696" rel="nofollow"></script>
</div>

<!--美恰-->
<script type='text/javascript'>
	(function(m, ei, q, i, a, j, s) {
		m[i] = m[i] || function() {
			(m[i].a = m[i].a || []).push(arguments)
		};
		j = ei.createElement(q),
				s = ei.getElementsByTagName(q)[0];
		j.async = true;
		j.charset = 'UTF-8';
		j.src = '//static.meiqia.com/dist/meiqia.js';
		s.parentNode.insertBefore(j, s);
	})(window, document, 'script', '_MEIQIA');
	_MEIQIA('entId', 38353);

	// 在这里开启无按钮模式
	_MEIQIA('withoutBtn');
</script>