<!DOCTYPE html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>田螺后台</title>

    <!-- Bootstrap Core CSS -->
    <link href="__PUBLIC__/admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="__PUBLIC__/admin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__PUBLIC__/admin/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="__PUBLIC__/admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div id="wrapper" >

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <include file="Nav/header" />
        <!-- /.navbar-top-links -->

        <!--左边导航-->
        <include file="Nav/index" />
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">添加视频</h3>
            </div>
            <!-- /.col-lg-12 -->

            <div class="col-lg-8">
                <form action="__MODULE__/Admin/add_video" method="post" id="form" enctype="multipart/form-data"   onsubmit="javascript:return window.confirm('确定添加么？')">

                    <div class="form-group">
                        <label>标题：</label>
                        <input class="form-control"  name="name" id="name" value=""  />
                    </div>

                    <div class="form-group">
                        <label>头图：</label>
                        <input class="form-control" type="file" name="src" id="src" value="" />
                    </div>

                <div class="form-group">
                    <label>视频文件：</label>
                    <input class="form-control" type="file" name="video" id="video" value="" />
                </div>

                    <div class="form-group">
                        <label>简介：</label>
                        <input class="form-control"  name="content" id="content" value="" />
                    </div>

                    <div class="form-group">
                        <label>视频等级：</label>
                        <select name="level"  id="level">
                            <option value="1">一星课程</option>
                            <option value="2">二星课程</option>
                            <option value="3">三星课程</option>
                            <option value="4">四星课程</option>
                            <option value="5">五星课程</option>
                            <!--<option value="6">月嫂新闻5</option>-->
                            <!--<option value="7">月嫂新闻6</option>-->

                        </select>
                    </div>

                <div class="form-group">
                    <label>视频分类：</label>
                    <select name="type"  id="type">
                        <option>面试</option>
                        <option>上户</option>
                        <option>入户</option>
                        <option>新生儿护理</option>
                        <option>新生儿疾病观察</option>
                        <option>新生儿喂养</option>
                        <option>新生儿安全防护</option>
                        <option>产妇护理</option>
                        <option>护理记录</option>
                        <option>异常处理</option>
                        <option>寻求帮助</option>





                        <!--<option>新生儿护理基础操作</option>-->
                        <!--<option>产妇护理基础操作</option>-->
                        <!--<option>早教课程</option>-->
                        <!--<option>月子餐制作</option>-->
                        <!--<option>辅食制作</option>-->
                    </select>
                </div>

                    <div class="form-group">
                        <label>视频作者：</label>
                        <input class="form-control"  name="auther"  id="auther" value="" />
                    </div>
                <br/>
                    <button type="submit" id="submit" class="btn btn-default">确认添加</button>

                    </form>
            </div>

        </div>

    </div>
    <!-- /.row -->
    </nav>



</div>

<!-- jQuery -->
<script src="__PUBLIC__/admin/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/admin/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="__PUBLIC__/admin/dist/js/sb-admin-2.js"></script>

<script src="__PUBLIC__/admin/js/jquery-1.7.1.min.js"></script>

<script src="__PUBLIC__/admin/js/jquery.longyuJs.js"></script>

<script>


//    $("#belong").live('change',function(){
//        var belong = $("#belong").val();
//        $.AjaxPost(MODULE+"/News/change_order", {belong:belong}, function (backdata) {
//            if (backdata.code == 1000) {
//                var data = backdata.data;
//                $("#order").val(data);
//            }
//        }, true);
//
//    });

    var MODULE='__MODULE__';

    $("#submit").live('click',function(){

        $('#form').submit();
    });

</script>



</body>

</html>
