<div class="footer">

    <div class="footer-content">
        <ul>
            <li style="font-size: 22px;">产品介绍</li>
            <li><a href="__ROOT__/yuesao/">月嫂</a></li>
            <li><a href="__ROOT__/yuersao/">育儿嫂</a></li>
            <li><a href="__ROOT__/baomu/">保姆</a></li>
            <li><a href="__ROOT__/baomu/">钟点工</a></li>

        </ul>

        <ul>
            <li style="font-size: 22px;">团队介绍</li>
            <li><a href="#">母婴顾问</a></li>
            <li><a href="#">月嫂/保姆</a></li>
        </ul>

        <ul>
            <li style="font-size: 22px;">新闻动态</li>
            <li><a href="__ROOT__/news/">最新咨询</a></li>
            <li><a href="__ROOT__/news/">最新公告</a></li>
            <li><a href="__ROOT__/zhaopin/">招聘信息</a></li>
        </ul>

        <ul>
            <li style="font-size: 22px;">关于我们</li>
            <li><a href="__ROOT__/zhaopin/">联系我们</a></li>
            <li><a href="__ROOT__/jianjie/">公司概述</a></li>
        </ul>

        <img src="__PUBLIC__/img/erweima.png" />

        <div class="banquan">
            ©2014-2015 成都亿家政网络科技有限公司 版权所有<br />蜀ICP备15008974号-1
        </div>
    </div>
<div style="display:none">
<script type="text/javascript" src="http://kefu6.kuaishang.cn/bs/ks.j?cI=383073&fI=47302" charset="utf-8" rel=“nofollow”></script>
<div style="display:none;">
<script src="http://s4.cnzz.com/z_stat.php?id=1256534005&web_id=1256534005" language="JavaScript" rel=“nofollow”></script>
<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=7475696" rel=“nofollow”></script>
<script>
var _hmt = _hmt || [];
var MODULE  = '__MODULE__';
var UPLOADS  = '__UPLOADS__';
var ROOT  = '__ROOT__';
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?48cc6318fc4270b2c3fcf8963524234a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
             <script type="text/javascript">
var _mvq = _mvq || [];
_mvq.push(['$setAccount', 'm-192570-0']);

_mvq.push(['$logConversion']);
(function() {
var mvl = document.createElement('script');
mvl.type = 'text/javascript'; mvl.async = true;
mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(mvl, s);
})();

</script>       
</div>