<link rel="stylesheet" href="__PUBLIC__/css/index.css" />
<link rel="stylesheet" href="__PUBLIC__/css/yuesao.css" />
<link rel="stylesheet" href="__PUBLIC__/css/usually.css" />

<link rel="alternate"   href="http://www.tianluoayi.com/m/" >

<link href="__PUBLIC__/css/page.css" rel="stylesheet">
<!--插件样式-->
<link rel="stylesheet" href="__PUBLIC__/css/base.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/default.css">
<link rel="stylesheet" href="__PUBLIC__/css/osSlider.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.1.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/nav.js" ></script>


<script type="text/javascript">
    var ACTION_NAME='<?php echo ACTION_NAME;?>';
    switch (ACTION_NAME){
        case 'yuesao':
            var m_html = 'yuesao';
            break;
        case 'index':
            var m_html = '';
            break;
        case 'yuersao':
            var m_html = 'yuersao';
            break;
        case 'baomu':
            var m_html = 'baomu';
            break;
        case 'zhaopin':
            var m_html = 'zhaopin';
            break;
        default :
            var m_html = '';
            break;
    }

    try {
        var urlhash = window.location.hash;
        if (!urlhash.match("fromapp"))
        {
            if ((navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)))
            {
                window.location="http://www.tianluoayi.com/m/"+m_html+"";
            }
        }
    }
    catch(err)
    {
    }</script>
