<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>【田螺阿姨】成都月嫂/育儿嫂/保姆家政服务公司机构【官网】</title>
		<meta name="description" content="田螺阿姨是成都最好的月嫂/育儿嫂/保姆服务机构,也是最大的月嫂/保姆/育儿嫂服务门户网站.聘请川大/华西专家亲自授课.咨询月嫂/育儿嫂/保姆请拨打:400-808-6090."/>
		<meta name="keywords" content="田螺阿姨|月嫂|育儿嫂|保姆|成都月嫂|成都育儿嫂|成都保姆|成都月嫂机构|成都月嫂公司|成都保姆机构|成都保姆公司|成都育儿嫂机构|成都育儿嫂公司|不住家保姆|住家保姆|成都家政服务|成都家政公司|成都家政机构"/>
		<include file="Index/header1"/>
	</head>

	<div id="video_map" style="display: none; position: fixed;width: 100%; height:100%;z-index:666;background: #333333; opacity:0.4;filter:alpha(opacity =40); ">

	</div>
	<!--<div  style="display: none;width: 70%; height:60%;margin-top: 10%;margin-left: 15%;position: fixed;z-index:667;" id="video">-->
		<!--<i style="position: absolute;top: -10px;right: -10px; background: #47c8a2; border-radius: 15px;width: 30px;height: 30px;line-height: 30px;text-align: center;cursor: pointer;color: #ffffff;" id="close_video">X</i>-->

		<!--<embed style="width: 100%;height: 100%;"  wmode="window" flashvars="vid=z0179trjcx9&amp;tpid=3&amp;showend=1&amp;showcfg=1&amp;searchbar=1&amp;shownext=1&amp;list=2&amp;autoplay=1&amp;outhost=http%3A%2F%2Fv.qq.com%2Fboke%2Fpage%2Fz%2F0%2F9%2Fz0179trjcx9.html&amp;openbc=0&amp;fakefull=1&amp;title=%20%E7%94%B0%E8%9E%BA%E9%98%BF%E5%A7%A8%20%E6%AF%8D%E5%A9%B4%E6%8A%A4%E7%90%86%20%E8%A7%86%E9%A2%91%E4%BB%8B%E7%BB%8D" src="http://imgcache.qq.com/tencentvideo_v1/player/TencentPlayer.swf?max_age=86400&amp;v=20140714" quality="high" name="tenvideo_flash_player_1453270565846" id="tenvideo_flash_player_1453270565846" bgcolor="#000000"  align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" pluginspage="http://get.adobe.com/cn/flashplayer/">-->
		<!--&lt;!&ndash;<embed src="http://v.qq.com/boke/page/z/0/9/z0179trjcx9.html" allowFullScreen="true" quality="high"  style="width: 100%;height: 100%;" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>&ndash;&gt;-->
	<!--</div>-->
		<!--整体内容开始-->
		<div class="container" style="width: 100%;height: auto;">
			<!--   header  -->
			<div class="top">
				<div class="content1200">
					<div class="logo">
						<a href="__ROOT__/" title="田螺阿姨" ><img src="__PUBLIC__/img/logo.png" width="100%" height="100%"/></a>
					</div>
					<div class="nav">
						<!--一级导航-->
						<ul class="first-ul">
							<li class="first-li"><a href="__ROOT__/" <?php if(in_array(ACTION_NAME,array('index'))){echo 'class="curMenu"';}?>>首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a>

							</li>
							<li class="first-li">
								<a href="__ROOT__/yuesao/" <?php if(in_array(ACTION_NAME,array('yuesao','jiajiao'))){echo 'class="curMenu"';}?>>月嫂服务</a>
								<!--二级导航-->
								<ul class="second-ul">
									<li class="second-li"><a href="__ROOT__/yuesao/" >月嫂</a></li>
									<li class="second-li"><a href="__ROOT__/yuesao/">月子导师</a></li>
									<li class="second-li"><a href="__ROOT__/jiajiao/">3·4母婴家教</a></li>
								</ul>
							</li>
							<li class="first-li"><a href="__ROOT__/yuersao/" <?php if(in_array(ACTION_NAME,array('yuersao'))){echo 'class="curMenu"';}?>>育儿服务</a></li>
							<li class="first-li"><a href="__ROOT__/baomu/" <?php if(in_array(ACTION_NAME,array('baomu'))){echo 'class="curMenu"';}?>>保姆/钟点工</a></li>
							<li class="first-li"><a href="__ROOT__/jianjie/" <?php if(in_array(ACTION_NAME,array('news','jianjie','newsInfo','shop'))){echo 'class="curMenu"';}?>>关于我们</a>
								<ul class="second-ul">
									<li><a href="__ROOT__/news/">新闻资讯</a></li>
									<li><a href="__ROOT__/shop/">田螺到家</a></li>
									<li><a href="__ROOT__/jianjie/">公司简介</a></li>
								</ul>
							</li>
							<li class="first-li"><a href="__ROOT__/zhaopin/" <?php if(in_array(ACTION_NAME,array('zhaopin','tongru'))){echo 'class="curMenu"';}?>>招聘信息</a>
								<ul class="second-ul">
									<li><a href="__ROOT__/zhaopin/">招聘月嫂</a></li>
									<!--<li><a href="__ROOT__/tongru/">招聘通乳</a></li>-->
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>


			<!-- banner  -->
			<div style="margin-top: 50px; position: absolute;" class="slider content1200">
				<!--<div style="width: 200px;height: 140px; position: relative;top:15px;left:10px;background: url('__PUBLIC__/img/video.png');background-size: cover; opacity:0.9;filter:alpha(opacity =90); z-index: 665;" id="go_video_div">-->
					<!--<div id="go_video" style="width: 65px;height: 63px; background: url('__PUBLIC__/img/home_play_button.png') 0 0 no-repeat; cursor: pointer;margin-left:64px;display: inline-block;margin-top: 26px;"></div>-->
				<!--</div>-->
				<ul  class="slider-main">
					<!--<a href="__ROOT__/news/106.html"><li><img src="__PUBLIC__/img/banner2.jpg" title="比朋友介绍更靠谱的母婴护理团队" alt="田螺阿姨是西南最大、服务质量最好的月嫂机构，专业提供月嫂、保姆、育儿嫂、钟点工等服务."></li></a>-->
					<li><img src="__PUBLIC__/img/banner1.png" title="月嫂培训班开课啦" alt="田螺阿姨月嫂培训班开课啦！月嫂培训课程中可学习如何做月嫂保姆等，培训合格颁发证书且安排工作"></li>
					<li><img src="__PUBLIC__/img/banner3.jpg" title="我们致力于打造给您与孩子最专业的呵护和帮助" alt="田螺阿姨是一家集合月嫂/保姆/育儿嫂/钟点工等现代化的家政服务机构，"></li>
					<li><img src="__PUBLIC__/img/banner4.jpg" title="" alt=""></li>
				</ul>
			</div>

			<div class="right">
				<ul>
					<li><a href="http://kefu6.kuaishang.cn/bs/im.htm?cas=44007___383073&fi=47302" target="_blank" rel="nofollow"/><img src="__PUBLIC__/img/right-1.png" title="在线咨询" alt="月嫂/保姆/月子导师/钟点工在线咨询，月嫂/保姆培训在线咨询" /></a></li>
					<li><a href="http://wpa.qq.com/msgrd?V=3&uin=1520371983&Site=田螺阿姨&Menu=yes" rel="nofollow"/><img src="__PUBLIC__/img/right-2.png" title="QQ咨询" alt="月嫂/保姆/月子导师/钟点工在线QQ咨询，月嫂/保姆培训在线QQ咨询" /></a></li>
					<li>
						<a class="right-tel" href="#"><img src="__PUBLIC__/img/right-3.png" title="联系电话" alt="田螺阿姨月嫂/保姆服务中心在线联系电话"/></a>
						<div class="right-dianhua">
							<img src="__PUBLIC__/img/right-8.png" title="400-808-6090" alt="联系电话：400-808-6090" />
						</div>
					</li>
					<li>
						<a class="right-weixin" href="#"><img src="__PUBLIC__/img/right-4.png" title="微信" alt="田螺阿姨月嫂/保姆家政公司机构官方微信" /></a>
						<div class="right-erweima">
							<img src="__PUBLIC__/img/erweima.jpg" title="微信二维码" alt="田螺阿姨月嫂/保姆家政公司机构官方微信二维码" />
						</div>
					</li>
					<li><a href="http://weibo.com/tianluoayi" target="_blank" rel="nofollow"><img src="__PUBLIC__/img/right-5.png" title="官方微博" alt="田螺阿姨月嫂/保姆家政公司机构官方微博" /></a></li>
					<li><a href="/#ditu"><img src="__PUBLIC__/img/right-6.png" title="位置与路线" alt="田螺阿姨月嫂/保姆家政公司机构的位置与路线" /></a></li>
					<li><a href="#"><img src="__PUBLIC__/img/right-7.png" title="回到顶部" alt="点击回到田螺阿姨月嫂/保姆公司机构的顶部位置" /></a></li>
				</ul>
			</div>


		</div>
			
			<!--   产品   -->
		<div class="product content1200">

			<div class="chanpin">
				<img src="__PUBLIC__/img/chanpin.png" title="我们的产品（母婴护理师（月嫂）、保姆、育儿嫂、钟点工）" alt="我们的产品包括:母婴护理师（月嫂）、保姆、育儿嫂、钟点工等." />
			</div>

			<div class="content1200 liebiao">
				<ul>
					<a href="__ROOT__/yuesao/">
						<li class="liebiao-li1">
							<ul>
								<li>月嫂服务</li>
								<li>全方位深度贴心服务<br />细致关爱宝宝成长每一步</li>
							</ul>
						</li>
					</a>
					<a href="__ROOT__/yuersao/">
						<li class="liebiao-li2">
							<ul>
								<li>育儿服务</li>
								<li>丰富多元早教形式<br />让宝宝自然健康成长</li>
							</ul>
						</li>
					</a>
					<a href="__ROOT__/baomu/">
						<li class="liebiao-li3">
							<ul>
								<li>保姆/钟点工</li>
								<li>更多服务<br />满足每一个家庭多样需求</li>
							</ul>
						</li>
					</a>
				</ul>
			</div>

		</div>
			
			<!--		产品优势   -->
			<div class="advantage content1200">
					<div class="youshi">
						<img src="__PUBLIC__/img/advantage.png" title="产品优势" alt="我们拥有5000平方的母婴护理师（月嫂）、保姆、育儿嫂、钟点工培训实训中心基地，每月定时开设培训班."/>
					</div>	
					
					<div class="youshi-1 youshi-common">
						<ul>
							<li style="padding-top: 50px;">在环球中心拥有5000平米服务培训中心和技术研发基地</li>
							<li>360独家智能家居体验馆</li>
							<li>线下9家门店同步支撑，服务覆盖成都、重庆两大主要城市</li>
						</ul>
					</div>
					
					<div class="youshi-2 youshi-common">
						<ul>
							<li style="padding-top: 50px;">内部搭建优秀护理人员储备库</li>
							<li>国际九型人格测试系统智能匹配</li>
							<li>专业顾问把关面试层层筛选</li>
						</ul>
					</div>
					
					<div class="youshi-3 youshi-common">
						<ul>
							<li style="padding-top: 50px;">所有阿姨实行雇员式管理，内部统一培训，百分百考核上岗</li>
							<li>行业知名导师亲历备课</li>
							<li>团队核心成员来自北京协和、华西大、成都中医大</li>
						</ul>
					</div>
					
					<div class="youshi-4 youshi-common">
						<ul>
							<li style="padding-top: 50px;">服务上岗3天内免费更换</li>
							<li>专业督导全程监控、回访，有效处理投诉</li>
							<li>24小时产妇婴儿护理专家咨询</li>
						</ul>
					</div>				
			</div>
			
			<!-- 新闻动态 -->
		<div class="news content1200">

			<div class="xinwen">
				<img src="__PUBLIC__/img/news.png" title="新闻动态" alt="定期更新关于田螺阿姨的相关新闻,同时更新月嫂、保姆、育儿嫂、钟点工的相关新闻，和母婴护理师（月嫂）、保姆、育儿嫂、钟点工培训班的招聘信息" />
			</div>

			<volist name="news_list" id="vo">
				<div class="xinwen-kuang">
					<ul>
						<li><img src="__UPLOADS__/{$vo.title_img}" width="190px" height="190px" /></li>
						<li><a href="__ROOT__/news/{$vo.id}.html">{$vo.title}</a></li>
						<li>
							关键词：
							<volist name="vo.keyword" id="rs" offset="0" length='4'>
								<!--<a href="__ROOT__/news/key/{$rs}.html"> {$rs}</a>-->
								{$rs}
							</volist>
						</li>
						<li style="float: right;">发布日期:{$vo.add_time}</li>
						<li style="overflow:hidden;text-overflow:ellipsis;height: 74px;display:block">{$vo.description}</li>
					</ul>
				</div>
			</volist>

		</div>

			
			<!-- 地图和信息 -->
			
			<div id="ditu" class="information content1200">
				<div class="f-fl" style="margin-top: 90px;width: 50%;height: 100%;">
					<iframe id='mapbarframe' border='0' vspace='0' hspace='0' marginwidth='0' marginheight='0' framespacing='0' frameborder='0'scrolling='no' width='600' height='450' src='http://searchbox.mapbar.com/publish/template/template1010/index.jsp?CID=lusiolee&tid=tid1010&showSearchDiv=1&cityName=%E6%88%90%E9%83%BD%E5%B8%82&nid=MAPBSNJBFRSPTEJOXRHEX&width=600&height=450&infopoi=2&zoom=10&control=1'></iframe>
				</div>
				<div class="weibo f-fl">
					<ul>
						<li><img src="__PUBLIC__/img/weibo.png"/><a href="http://weibo.com/tianluoayi" target="_blank"  rel="nofollow">微博：http://weibo.com/tianluoayi</a></li>
						<li><img src="__PUBLIC__/img/boke.png"/><a href="http://blog.sina.com.cn/028tialuoayi" target="_blank"  rel="nofollow">博客：blog.sina.com.cn/028tianluoayi</a></li>
						<li><img src="__PUBLIC__/img/dianhua.png" title="咨询电话" alt="田螺阿姨的月嫂/保姆/育儿嫂/钟点工业务与培训咨询电话" /><a>电话：400-808-6090 / 028-65863755</a></li>
						<li><img src="__PUBLIC__/img/dizhi.png" title="田螺阿姨地址" alt="田螺阿姨月嫂/保姆/育儿嫂培训学校与门店地址" /><a>地址：成都高新区天府大道环球中心E2-18楼</a></li>
					</ul>
				</div>				
			</div>	
			
			<!-- 合作伙伴 -->
			<div class="hezuohuoban content1200">
				<div class="huoban">
					<img src="__PUBLIC__/img/huoban.png" title="田螺阿姨合作伙伴" alt="田螺阿姨月嫂/保姆/育儿嫂等业务合作伙伴" />
				</div>
				
				<div class="huoban-logo" id="marquee">
					<ul>
						<li><img src="__PUBLIC__/img/2015911115012253.png"/></li>
						<li><img src="__PUBLIC__/img/201591111518284.gif" /></li>
						<li><img src="__PUBLIC__/img/2015911115231322.png"/></li>
						<li><img src="__PUBLIC__/img/2015911115247188.png"/></li>
						<li><img src="__PUBLIC__/img/2015911122328496.png" /></li>
						<li><img src="__PUBLIC__/img/2015911122530767.png" /></li>
						<li><img src="__PUBLIC__/img/2015911125736886.png" /></li>
					</ul>
				</div>

			</div>
			
			<!-- footer -->
	<div class="footer">

		<div class="footer-content">
			<ul>
				<li style="font-size: 22px;">产品介绍</li>
				<li><a href="__ROOT__/yuesao/">月嫂</a></li>
				<li><a href="__ROOT__/yuersao/">育儿嫂</a></li>
				<li><a href="__ROOT__/baomu/">保姆</a></li>
				<li><a href="__ROOT__/baomu/">钟点工</a></li>

			</ul>

			<ul>
				<li style="font-size: 22px;">团队介绍</li>
				<li><a href="#">母婴顾问</a></li>
				<li><a href="#">月嫂/保姆</a></li>
			</ul>

			<ul>
				<li style="font-size: 22px;">新闻动态</li>
				<li><a href="__ROOT__/news/">最新资讯</a></li>
				<li><a href="__ROOT__/news/">最新公告</a></li>
				<li><a href="__ROOT__/zhaopin/">招聘信息</a></li>
			</ul>

			<ul>
				<li style="font-size: 22px;">关于我们</li>
				<li><a href="__ROOT__/zhaopin/">联系我们</a></li>
				<li><a href="__ROOT__/jianjie/">公司概述</a></li>
			</ul>

			<img src="__PUBLIC__/img/erweima.png" />

			<span style="width: 1200px;height: auto;display: block;float: left;font-size: 16px;color: #525252;margin-top: 35px;">
						友情链接：
						<volist name="friend" id="vo">
							<a href="{$vo.url}" <if condition="$vo.target eq 1">target="_black"</if> >{$vo.name}</a>&emsp;
						</volist>




						<!--&lt;!&ndash;<a href="http://www.028angel.cn" target="_black">儿童摄影</a>&emsp;&ndash;&gt;-->
						<!--&lt;!&ndash;<a href="http://www.qicaihongjiazheng.com" target="_black">洛阳月嫂</a>&emsp;&ndash;&gt;-->
						<!--<a href="http://www.3585.net" target="_black">青岛催乳</a>&emsp;-->
						<!--&lt;!&ndash;<a href="http://www.shuyingyuesao.com" target="_black">潍坊月嫂</a>&emsp;&ndash;&gt;-->
						<!--&lt;!&ndash;<a href="http://www.weifangyuesao.cn" target="_black">潍坊月嫂培训</a>&emsp;&ndash;&gt;-->
						<!--<a href="http://www.ubph.cn" target="_black">月嫂</a>&emsp;-->
						<!--&lt;!&ndash;<a href="http://cd.banjia1680.com" target="_black">成都搬家公司</a>&emsp;&ndash;&gt;-->
						<!--<a href="http://www.jiajiame.com" target="_black">佳佳美家政</a>&emsp;-->
						<!--&lt;!&ndash;<a href="http://www.lyjhjz.com" target="_black">临沂月嫂</a>&emsp;&ndash;&gt;-->
						<!--&lt;!&ndash;<a href="http://www.xn--9kr45ok3krhl.cn" target="_black">太原家政</a>&emsp;&ndash;&gt;-->
						<!--&lt;!&ndash;<a href="http://www.haoyuesao.net" target="_black">太原月嫂</a>&emsp;&ndash;&gt;-->
						<!--<a href="http://www.gzqnzy.com" target="_black">贵阳月嫂</a>&emsp;-->
						<!--<a href="http://www.jyggghj.com" target="_black">江阴月嫂</a>&emsp;-->
						<!--&lt;!&ndash;<a href="http://www.beijia.net.cn" target="_black">太原月嫂</a>&emsp;&ndash;&gt;-->
						<!--<a href="http://www.58yuesao.com" target="_black">58月嫂</a>&emsp;-->
						<!--&lt;!&ndash;<a href="http://www.sunnybobe.com" target="_black">美国生子</a>&emsp;&ndash;&gt;-->
						<!--<a href="http://www.beiqincr.com" target="_black">产后修复培训</a>&emsp;-->
						<!--<a href="http://www.phyathai.org" target="_black">泰国试管婴儿医院</a>&emsp;-->
						<!--<a href="http://www.xiyue028.com" target="_black">成都月子中心</a>&emsp;-->
						<!--<a href="http://www.mmcc.com.cn" target="_black">成都宝宝宴</a>&emsp;-->
						<!--&lt;!&ndash;<a href=" http://www.yuesaohome.cn" target="_black">北京月嫂</a>&emsp;&ndash;&gt;-->



					</span>
			<div class="banquan">
				©2014-2015 成都亿家政网络科技有限公司 版权所有<br />蜀ICP备15008974号-1 <a href="http://wpa.qq.com/msgrd?V=3&uin=40208780&Menu=yes"><img src="__PUBLIC__/img/ico30.png" alt="" style="display: inline-block;margin-top: 0px; vertical-align: middle;margin-left: 10px;"/>友情链接</a>
			</div>              
		</div>
		<div style="display:none">
			<script type="text/javascript" src="http://kefu6.kuaishang.cn/bs/ks.j?cI=383073&fI=47302" charset="utf-8" rel=“nofollow”></script>
			<div style="display:none;">
				<script src="http://s4.cnzz.com/z_stat.php?id=1256534005&web_id=1256534005" language="JavaScript" rel=“nofollow”></script>
				<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=7475696" rel=“nofollow”></script>
				<script>
					var _hmt = _hmt || [];
					var MODULE  = '__MODULE__';
					var UPLOADS  = '__UPLOADS__';
					var ROOT  = '__ROOT__';
					(function() {
						var hm = document.createElement("script");
						hm.src = "//hm.baidu.com/hm.js?48cc6318fc4270b2c3fcf8963524234a";
						var s = document.getElementsByTagName("script")[0];
						s.parentNode.insertBefore(hm, s);
					})();
				</script>
			</div>
		</div>
				
		</div>
		
		
		
		
		
		
		
		<!--轮播图效果-->
	<script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
	<script src="__PUBLIC__/js/osSlider.js"></script>
	<script src="__PUBLIC__/js/jquery.kxbdMarquee.js"></script>
	<script type="text/javascript">

//		视频点击效果
		$('#go_video').click(function(){
			$('#video').show();
			$('#video_map').show();
			$('#go_video_div').hide();

		});
		$('#close_video').click(function(){
			$('#video').hide();
			$('#video_map').hide();
			$('#go_video_div').show();
		});











	     
	    var slider = new osSlider({ //开始创建效果
	        pNode:'.slider', //容器的选择器 必填
	        cNode:'.slider-main li', //轮播体的选择器 必填
	        speed:4000, //速度 默认3000 可不填写
	        autoPlay:true //是否自动播放 默认true 可不填写
	    });
	    		  
      	
      	
      	//无缝滚动
      	(function(){
			$("#marquee").kxbdMarquee({direction:"left"});

		})();
		
		
	</script>
	</body>
	             <script type="text/javascript">
var _mvq = _mvq || [];
_mvq.push(['$setAccount', 'm-192570-0']);

_mvq.push(['$logConversion']);
(function() {
var mvl = document.createElement('script');
mvl.type = 'text/javascript'; mvl.async = true;
mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(mvl, s);
})();

</script>       
</html>






























