<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>【简介】-【田螺阿姨】</title>
		<meta name="description" content="田螺阿姨简介,田螺阿姨企业简介"/>
		<meta name="keywords" content="简介,田螺阿姨简介"/>
		<include file="Index/header1"/>
		<style type="text/css">
			.shopimg:hover{
				box-shadow: #47C8A2 0px 0px 10px;
			}
		</style>
	</head>
	<body>
		<!--整体内容开始-->
		<div class="container" style="width: 100%;height: auto;">
			<!--   header  -->
			<include file="Index/header2"/>
			
			<div class="biaoti-news">
				<ul>
					<li class="zhuangshi"></li>
					<li class="dazi">田螺到家<p>Commodity display</p></li>
					<a href="http://wpa.qq.com/msgrd?V=3&uin=1520371983&Site=田螺阿姨&Menu=yes" target="_blank" rel=“nofollow”><li class="qq">QQ咨询</li></a>
					<a href="http://www.tianluoayi.com/kst" target="_blank"  rel="nofollow"><li class="zixun">在线咨询</li></a>
				</ul>
			</div>
			
			<div style="width: 1200px;height: auto;margin: 0 auto;" class="f-cb">
				<div class="shopimg" style="width: 500px;height: 500px;margin-left: 50px;margin-top: 50px;float: left;">
					<img src="__PUBLIC__/img/shop1.jpg" width="100%" />
				</div>
				
				<div class="shopimg" style="width: 500px;height: 500px;margin-left: 50px;margin-top: 50px;float: left;">
					<img src="__PUBLIC__/img/shop2.png" width="100%" />
				</div>
				
				<div class="shopimg" style="width: 500px;height: 500px;margin-left: 50px;margin-top: 50px;float: left;">
					<img src="__PUBLIC__/img/shop3.jpg" width="100%" />
				</div>
				
				<div class="shopimg" style="width: 500px;height: 500px;margin-left: 50px;margin-top: 50px;float: left;">
					<img src="__PUBLIC__/img/shop4.png" width="100%" />
				</div>
				
				<div class="shopimg" style="width: 500px;height: 500px;margin-left: 50px;margin-top: 50px;float: left;">
					<img src="__PUBLIC__/img/shop5.jpg" width="100%" />
				</div>
				
				<div class="shopimg" style="width: 500px;height: 500px;margin-left: 50px;margin-top: 50px;float: left;">
					<img src="__PUBLIC__/img/shop6.jpg" width="100%" />
				</div>
				
			</div>
			
			
			<!-- footer -->
			<include file="Index/footer"/>
				
		</div>
		
		
		
		
		
		
		
		<!--轮播图效果-->
		<script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
	<script src="__PUBLIC__/js/osSlider.js"></script>
	<script src="__PUBLIC__/js/jquery.kxbdMarquee.js"></script>
	<script type="text/javascript">
	    var slider = new osSlider({ //开始创建效果
	        pNode:'.slider', //容器的选择器 必填
	        cNode:'.slider-main li', //轮播体的选择器 必填
	        speed:4000, //速度 默认3000 可不填写
	        autoPlay:true //是否自动播放 默认true 可不填写
	    });
	    
	</script>
	</body>
</html>






























