<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>【团队】-【田螺阿姨】</title>
		<meta name="description" content="田螺阿姨团队"/>
		<meta name="keywords" content="田螺阿姨团队,团队"/>
		<include file="Index/header1"/>
	</head>
	<body>
		<!--整体内容开始-->
		<div class="container" style="width: 100%;height: 4600px;">
			<!--   header  -->
			<include file="Index/header2"/>
			
			<!--  内容  -->
			<div class="tuandui-content">
				<img class="tuanduibiaoti" src="__PUBLIC__/img/tuandui/tuandui1.png" />
				
				<div class="gaojie">
					<ul>
						<li class="tupian"><img src="__PUBLIC__/img/tuandui/tuandui2.png"/></li>
						<li class="name"><p style="margin-left: 60px;">高老师</p></li>
						<li class="zhiwei"><p style="margin-left: 60px;">母婴护理导师</p></li>
						<li class="mingcheng">
							<ul>
								<li>国务院颁发的百人母婴顾问之一 </li>
								<li>北京协和医院高级母婴护理师  </li>
								<li>北京贝优月嫂公司合伙人 </li>
								<li>资深母婴护理讲师 </li>
								<li>高级母婴护理师 </li>
								<li>曾服务于数位中央干部家庭 </li>
							</ul>
						</li>
						<li class="xiangxi">
							师从著名母婴护理专家，曾在北京协和医院担任高级母婴护理师长达五年，对儿 童自闭症等常见心理疾病有非常深入的研究，曾服务于北京多位干部家庭，大 量的实践经验和耐心、专业的工作态度，在业内赢得了广泛的赞誉
						</li>
					</ul>
				</div>
				
				<div class="gaojie">
					<ul>
						<li class="tupian"><img src="__PUBLIC__/img/tuandui/tuandui5.png"/></li>
						<li class="name"><p style="margin-left: 60px;">刘老师</p></li>
						<li class="zhiwei"><p style="margin-left: 60px;">母婴护理导师</p></li>
						<li class="mingcheng">
							<ul>
								<li>成都中医药大学讲师</li>
								<li>某高端月子会所护士长、培训讲师  </li>
								<li>5年临床工作经验 </li>
								<li>营养师、高级育婴师双课培训讲师 </li>
							</ul>
						</li>
						<li class="xiangxi">
							毕业于成都中医药大学，成都中医药大学高级营养师讲师、高级育婴师讲师。在中航工业成都三六三医院从事临床工作三年，对产科常见疾病有比较深入的研究，后在一家知名国际月子会所担任护士长，擅长解决新生儿常见问题以及哺乳期妈妈可能出现问题，特别是在母乳指导和新生儿疾病观察有独到见解，在此期间担任该国际月子会所护理部的培训老师，有丰富的理论和实践经验。
						</li>
					</ul>
				</div>
				
				<div class="gaojie">
					<ul>
						<li class="tupian"><img src="__PUBLIC__/img/tuandui/tuandui6.png"/></li>
						<li class="name"><p style="margin-left: 60px;">袁老师</p></li>
						<li class="zhiwei"><p style="margin-left: 60px;">母婴护理导师</p></li>
						<li class="mingcheng">
							<ul>
								<li>高级儿童心理教育师</li>
								<li>高级营养师、育婴师师  </li>
								<li>母婴护理专家  </li>
							</ul>
						</li>
						<li class="xiangxi">
						毕业于师范大学，成都高级儿童心理教育师，高级营养师、高级育婴师，对儿童 心理教育及常见疾病有比较深入的研究，擅长营养搭配，解决婴幼儿常见问题及 哺乳期妈妈可能出现问题，具有丰富的理论和实践经验。
						</li>
					</ul>
				</div>
				
				
				<div class="gaojie">
					<ul>
						<li class="tupian"><img src="__PUBLIC__/img/tuandui/tuandui7.png"/></li>
						<li class="name"><p style="margin-left: 60px;">王老师</p></li>
						<li class="zhiwei"><p style="margin-left: 60px;">中医催乳专家</p></li>
						<li class="mingcheng">
							<ul>
								<li>四川通乳行业先行者</li>
								<li>著名母婴护理专家  </li>
								<li>母乳喂养指导师 </li>
								<li>中医保健按摩师 </li>
								<li>心理疏导专家 </li>
							</ul>
						</li>
						<li class="xiangxi">
						工作三十余年，曾任外资企业专职工会主席十余年，主管女工计划生育工作， 获市优秀工会干部，计划生育先进工作者，掌握大量的母婴护理和心理疏导专业 知识。2008 年从事催乳师工作至今，师从成都名老中医，省立医院的指定通乳 师和月嫂公司专门讲师；家传的外敷配方治疗乳腺炎和乳房肿块效果显著，独创 四位一体疗法有效解决乳少，回乳后追乳，增加乳汁分泌，已赢得广大妈妈们的 赞誉，树立了广泛的口碑。
						</li>
					</ul>
				</div>
				
				<div class="gaojie">
					<ul>
						<li class="tupian"><img src="__PUBLIC__/img/tuandui/tuandui8.jpg"/></li>
						<li class="name"><p style="margin-left: 60px;">高老师</p></li>
						<li class="zhiwei"><p style="margin-left: 60px;">中医催乳专家</p></li>
						<li class="mingcheng">
							<ul>
								<li>著名母婴护理专家</li>
								<li>四川母婴护理创始人  </li>
								<li>高级营养师 </li>
								<li>主管护师 </li>
								<li>母乳喂养咨询师 </li>
								<li>婴儿抚触师 </li>
							</ul>
						</li>
						<li class="xiangxi">
							毕业于成都中医药大学，成都中医药大学高级营养师讲师、高级育婴师讲师。在中航工业成都三六三医院从事临床工作三年，对产科常见疾病有比较深入的研究，后在一家知名国际月子会所担任护士长，擅长解决新生儿常见问题以及哺乳期妈妈可能出现问题，特别是在母乳指导和新生儿疾病观察有独到见解，在此期间担任该国际月子会所护理部的培训老师，有丰富的理论和实践经验。
						</li>
					</ul>
				</div>
				
				
				
			</div>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			<!-- footer -->
			<include file="Index/footer"/>
				
		</div>
		
		
		
		
		
		
		
		<!--轮播图效果-->
		<script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
	<script src="__PUBLIC__/js/osSlider.js"></script>
	<script src="__PUBLIC__/js/jquery.kxbdMarquee.js"></script>
	<script type="text/javascript">
	    var slider = new osSlider({ //开始创建效果
	        pNode:'.slider', //容器的选择器 必填
	        cNode:'.slider-main li', //轮播体的选择器 必填
	        speed:4000, //速度 默认3000 可不填写
	        autoPlay:true //是否自动播放 默认true 可不填写
	    });
	    
	</script>
	</body>
</html>






























