<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>3998超值月嫂</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<link rel="stylesheet" href="__PUBLIC__/css/usually.css" />
	</head>
	<body>
		 
		   		<img src="__PUBLIC__/img/yhq/banner.jpg"  width="100%"/>
		   		
		   		<img src="__PUBLIC__/img/yhq/quan.png" width="90%" style="margin: 20px 0 0 5%;"  />
		   		<p style="font-family: 'microsoft yahei';font-size: 1.2em;color: #47c8a2;margin: 10px 0 0 5%;float: left;width: 38%;">优惠码已发送到：</p>
		   		<p style="font-family: 'microsoft yahei';font-size: 1.2em;color: #666666;margin: 10px 0 0 0;float: left;width: 30%;">{$yhq.phone}</p>
		   		<p style="font-family: 'microsoft yahei';font-size: 1.2em;color: #47c8a2;margin: 10px 0 0 0;float: left;width: 20%;">，请查收</p>		   		
		   		<p style="font-family: 'microsoft yahei';font-size: 2em;color: #47c8a2;margin: 10px 0 0 10%;float: left;">优惠码:</p>
		   		<p style="font-family: 'microsoft yahei';font-size: 2em;color: #666666;margin: 10px 0 0 10%;float: left;">{$yhq.number}</p>
		   			
		        <img src="__PUBLIC__/img/yhq/shuoming.png"  width="90%"  style="margin: 20px 0 0 5%;"  />
		   		
		   		<div style="font-family: 'microsoft yahei';font-size: 1.2em;line-height:1.8em;color: #666666;margin: 10px 0 0 5%;">
		   			1.输入手机号领取您的优惠码。<br />
					2.凭短信优惠码享受优惠，并可以到店领取惠氏S-26金装幼儿乐奶粉200g<br />
					3.公司地址：成都高新区天府大道环球中心 E2-18 楼<br />
					4.咨询热线：400-808-6090<br />
		   		</div>
		   		
		   		
		   		
		   		
	</body>
</html>
