<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>育儿嫂服务【田螺阿姨】</title>
		<meta name="description" content="专业育儿嫂服务机构提供专业育儿嫂服务"/>
		<meta name="keywords" content="育儿嫂,育儿嫂服务,田螺阿姨育儿嫂,田螺阿姨育儿嫂服务"/>
		<link rel="stylesheet" href="__PUBLIC__/css/new/jingjia-usually.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/new/yes.css" />
	</head>

	<include file="Index/Auction/header"/>
	<body>
		<div class="page1">
			<div class="content_1200">
				<a href="http://www.tianluoayi.com/kst" target="_blank" rel="nofollow" class="fisrt-button">了解详情</a>
				<a href="http://www.tianluoayi.com/kst" target="_blank" rel="nofollow" class="second-button">咨询专家</a>
			</div>
		</div>
		<div class="page2"></div>
		<div class="page3">
			<div class="content_1200">
				<ul class="f-cb">
					<li class="first_li">
						<p class="p1">请育儿嫂和不请育儿嫂</br>区别大</p>
						<div class="f-cb">
							<div class="m_1">
								<img src="__PUBLIC__/img/new_jj/yes/yes_img_15.png" />
								<p class="p_org">没请育儿嫂</p>
								<p class="p_2">
									上班时刻担心孩子安全</br>
									老人溺爱孩子，育儿观念冲突</br>
									职业家庭主妇/爸，牺牲个人事业
								</p>
							</div>
							<div class="m_1">
								<img src="__PUBLIC__/img/new_jj/yes/yes_img_17.png" />
								<p class="p_blk">请育儿嫂</p>
								<p class="p_2">
									孩子养成良好行为习惯</br>
									安心上班，不必时刻担心</br>
									辅食添加更科学，孩子身体壮
								</p>
							</div>
						</div>
					</li>
					<li>
						<p class="p1">选择什么样的公司</br>很重要</p>
						<div class="f-cb">
							<div class="m_1">
								<img src="__PUBLIC__/img/new_jj/ys/ys_img3.png" />
								<p class="p_org">传统家政公司</p>
								<p class="p_2">
									人员素养良莠不齐</br>
									服务质量缺乏监管</br>
									随意抬价、无故辞职
								</p>
							</div>
							<div class="m_1">
								<img src="__PUBLIC__/img/new_jj/ys/ys_img4.png" />
								<p class="p_blk">互联网家政公司</p>
								<p class="p_2">
									网上了解口碑，服务透明化</br>
									签订有效合同，保障双方权益</br>
									智能信息库档案记录，来源可靠 
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			
		</div>
		<div class="page4"></div>
		<div class="page5">
			<div class="page5_img"></div>
			<div class="page5_cnt">
				<ul class="f-cb">
					<li class="first_li">
						<img src="__PUBLIC__/img/new_jj/ys/ys_img7.png" />
						<p>家政保险</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img8.png" />
						<p>岗前体检</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img9.png" />
						<p>颁发证书</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img10.png" />
						<p>职业培训</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img11.png" />
						<p>客户反馈</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img12.png" />
						<p>医院实习</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img13.png" />
						<p>行业协会监管</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="page6"></div>
		<div class="page7">
			<div class="page7_title">科学育儿，关爱孩子成长每一步</div>
			<div class="page7_cnt">
				<ul class="f-cb">
					<li class="first_li">
						<img src="__PUBLIC__/img/new_jj/yes/yes_img_31.png" />
						<p>疾病护理</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/yes/yes_img_33.png" />
						<p>辅食添加</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/yes/yes_img_35.png" />
						<p>被动操</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/yes/yes_img_37.png" />
						<p>行为培养</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/yes/yes_img_39.png" />
						<p>智力开发</p>
					</li>
				</ul>
			</div>
			<div class="page7_title2">护理员经严格培训考核，岗前实习，实操经验丰富</div>
			<div class="page7_img"></div>
		</div>
		<div class="page8">
			<div class="true"></div>
			<div class="page8_cnt">
				<ul class="f-cb">
					<li class="first_li">
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_51.png" />
						<p>家协会证书</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_53.png" />
						<p>家协会</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_55.png" />
						<p>客户赠送锦旗</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_57.png" />
						<p>学员档案</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_59.png" />
						<p>学员集体照</p>
					</li>
				</ul>
				<ul class="f-cb">
					<li class="first_li">
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_66.png" />
						<p>合同签订</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_67.png" />
						<p>合作月子中心</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_68.png" />
						<p>每年体检</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_69.png" />
						<p>学员面试</p>
					</li>
					<li>
						<img src="__PUBLIC__/img/new_jj/ys/ys_img_70.png" />
						<p>雇主/护理员</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="jingjia-yuesao-73">
			<img src="__PUBLIC__/img/new_jj/ys/jingjia-yuesao_73.png">
			<img style="margin-top: 40px;" src="__PUBLIC__/img/new_jj/ys/jingjia-yuesao_77.png">
		</div>
				
		
		<div class="page9">
			<div class="page9_div_s f-cb">
				<div class="page9_div f-fl">
					<p class="page9_div_p1">一星育儿嫂</p>
					<p class="page9_div_p2">3980元</p>
					<p class="page9_div_p3">具有上岗资格/1年经验/0投诉/</br>日常护理/辅食添加/疾病护理/</br>行为培养</p>
					<a href="http://www.tianluoayi.com/kst" target="_blank" rel="nofollow">马上开抢</a>
				</div>
				<div class="page9_div page9_div2 f-fl">
					<p class="page9_div_p1">二星育儿嫂</p>
					<p class="page9_div_p2">4980元</p>
					<p class="page9_div_p3">具有上岗资格/2-3年经验/0投诉/</br>日常护理/抚触/辅食添加/</br>疾病护理/行为培养/体格锻炼 </p>
					<a href="http://www.tianluoayi.com/kst" target="_blank" rel="nofollow">立即预约</a>
				</div>
			</div>
			<div class="page9_div_s f-cb">
				<div class="page9_div page9_div3 f-fl">
					<p class="page9_div_p1">三星育儿嫂</p>
					<p class="page9_div_p2">5980元 </p>
					<p class="page9_div_p3">具有上岗资格/3-4年经验/0投诉/</br>日常护理/早期教育/疾病护理/</br>抚触/行为培养/体格锻炼</p>
					<a href="http://www.tianluoayi.com/kst" target="_blank" rel="nofollow">马上订购</a>
				</div>
				<div class="page9_div page9_div4 f-fl">
					<p class="page9_div_p1">四星育儿嫂</p>
					<p class="page9_div_p2">6880元</p>
					<p class="page9_div_p3">具有上岗资格/3-4年经验/0投诉/</br>日常护理/早期教育/潜能开发/大作为训练/</br>疾病护理/抚触/行为培养/体格锻炼</p>
					<a href="http://www.tianluoayi.com/kst" target="_blank" rel="nofollow">马上开抢</a>
				</div>
			</div>
		</div>
		<div class="form">
			<form action="http://www.tianluoayi.com/addMessage_auction" method="post" id="form" enctype="multipart/form-data">
				<div class="submit-kuang">
					<p>联系我们</p>
					<span class="name">
							姓名<input type="text" name="name" id="name">
						</span>
					<span class="name">
							电话<input type="text" name="phone" id="phone">
						
					
						<input type="hidden" name="job" value="竞价育儿嫂留言"/>
						<input type="hidden" name="age" value="竞价育儿嫂留言"/>
						<input type="hidden" name="experience" value="竞价育儿嫂留言"/>
						<input type="hidden" name="certificate" value="竞价育儿嫂留言"/>
						<input type="hidden" name="type" value="2"/>
						</span>

						<span class="tijiao" id="tijiao">
							提交
						</span>
				</div>
			</form>
		</div>
		<div style="width: 100%;height: auto; background: #f1f1f1;text-align: center;padding: 20px 0;">
			<div class="banquan" style="font-family: '微软雅黑';">
				©2014-2015 成都亿家政网络科技有限公司 版权所有<br>蜀ICP备15008974号-1
			</div>
		</div>
		<script src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>
		<script src="__PUBLIC__/js/jquery.longyuJs.js"></script>

		<script>
			$("#tijiao").click(function(){
				if(!(/^(0?1[345789]\d{9})$/.test($("#phone").val()))){
					alert('手机号不正确;请重新输入！');
					return false;
				}else if($("#name").val()==''){
					alert('请输入姓名！');
					return false;
				}
				$("#form").submit();
			});
		</script>

		</div>
		</div>

		<div style="display:none;">
			<script src="http://s4.cnzz.com/z_stat.php?id=1256534005&web_id=1256534005" language="JavaScript" rel=“nofollow”></script>
			<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=7475696" rel=“nofollow”></script>
			<script>
				var _hmt = _hmt || [];
				var MODULE  = '__MODULE__';
				var UPLOADS  = '__UPLOADS__';
				var ROOT  = '__ROOT__';
				(function() {
					var hm = document.createElement("script");
					hm.src = "//hm.baidu.com/hm.js?48cc6318fc4270b2c3fcf8963524234a";
					var s = document.getElementsByTagName("script")[0];
					s.parentNode.insertBefore(hm, s);
				})();
			</script>
		</div>

	</body>
	<script type="text/javascript" src="http://kefu6.kuaishang.cn/bs/ks.j?cI=383073&fI=47302" charset="utf-8"></script>
</html>
