<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>田螺阿姨官方网站</title>
	<link rel="stylesheet" href="__PUBLIC__/css/new/usually.css" />
	<link rel="stylesheet" href="__PUBLIC__/css/new/index.css" />
	<link rel="stylesheet" href="__PUBLIC__/css/new/yuesao.css" />
	<include file="Index/header1"/>
</head>

<body style="overflow-x: hidden;background-color: #FFFFFF;">
<!-- 头部LOGO背景-->

<include file="Index/header" />

<div class="tuijianwenzhang">
	<img class="tuijianwenzhang-biaoti" src="__PUBLIC__/img/news_03.png" width="40%" />


	<input type="hidden" id="belong" value="{$belong}"/>

	<div id="news_list">
		<!--<div class="tuijian-bg">-->
		<!--<img class="toutu" src="" />-->

		<!--<a class="wenzhang-biaoti">哈哈哈哈哈哈哈哈哈</a>-->

		<!--<p class="wenzhang-guanjianci">关键词：黄金客 月嫂 哈哈 哈&emsp;&emsp;发布日期：2012-05-30</p>-->

		<!--<span class="wenzhang-jianjie">-->
		<!--哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈-->
		<!--</span>-->
		<!--</div>-->


	</div>

	<div class="page" id="pagenum" style="margin: 0 auto;width: 1200px; text-align: center;">


	</div>

	<!--<div class="fenye">-->
	<!--<a class="fenye1">尾页</a>-->
	<!--<a class="fenye2">下一页</a>-->
	<!--<a class="fenye3">4</a>-->
	<!--<a class="fenye3">3</a>-->
	<!--<a class="fenye3">2</a>-->
	<!--<a style="color: #47C8A2;" class="fenye3">1</a>-->
	<!--<a class="fenye2">上一页</a>-->
	<!--<a class="fenye1">首页</a>-->
	<!--</div>-->

</div>

<include file="Index/footer" />


<script src="__PUBLIC__/js/jquery.longyuJs.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/news.js"></script>

</body>

</html>