<div class="top">
    <div class="content1200">
        <div class="logo">
            <a href="__ROOT__/" title="田螺阿姨" ><img src="__PUBLIC__/img/logo.png" width="100%" height="100%"/></a>
        </div>
        <div class="nav">
            <!--一级导航-->
            <ul class="first-ul">
                <li class="first-li"><a href="__ROOT__/" <?php if(in_array(ACTION_NAME,array('index'))){echo 'class="curMenu"';}?>>首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a>

                </li>
                <li class="first-li">
                    <a href="__ROOT__/yuesao/" <?php if(in_array(ACTION_NAME,array('yuesao','jiajiao'))){echo 'class="curMenu"';}?>>月嫂服务</a>
                    <!--二级导航-->
                    <ul class="second-ul">
                        <li class="second-li"><a href="__ROOT__/yuesao/" >月嫂</a></li>
                        <li class="second-li"><a href="__ROOT__/yuesao/">月子导师</a></li>
                        <li class="second-li"><a href="__ROOT__/jiajiao/">3·4母婴家教</a></li>
                    </ul>
                </li>
                <li class="first-li"><a href="__ROOT__/yuersao/" <?php if(in_array(ACTION_NAME,array('yuersao'))){echo 'class="curMenu"';}?>>育儿服务</a></li>
                <li class="first-li"><a href="__ROOT__/baomu/" <?php if(in_array(ACTION_NAME,array('baomu'))){echo 'class="curMenu"';}?>>保姆/钟点工</a></li>
                <li class="first-li"><a href="__ROOT__/jianjie/" <?php if(in_array(ACTION_NAME,array('news','jianjie','newsInfo','shop'))){echo 'class="curMenu"';}?>>关于我们</a>
                    <ul class="second-ul">
                        <li><a href="__ROOT__/news/">新闻资讯</a></li>
                        <li><a href="__ROOT__/shop/">田螺到家</a></li>
                        <li><a href="__ROOT__/jianjie/">公司简介</a></li>
                    </ul>
                </li>
                <li class="first-li"><a href="__ROOT__/zhaopin/" <?php if(in_array(ACTION_NAME,array('zhaopin','tongru'))){echo 'class="curMenu"';}?>>招聘信息</a>
                    <ul class="second-ul">
                        <li><a href="__ROOT__/zhaopin/">招聘月嫂</a></li>
                        <li><a href="__ROOT__/tongru/">招聘通乳</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- banner  -->
<div class="banner" style="width: 1200px;height: 520px;margin: 0 auto;margin-top:20px ;">
			 <img src="__PUBLIC__/img/banner3.jpg"  />
		</div>

        <div class="right">
			<ul>
				<li><a href="http://kefu6.kuaishang.cn/bs/im.htm?cas=44007___383073&fi=47302" target="_blank" rel="nofollow"/><img src="__PUBLIC__/img/right-1.png" title="在线咨询" alt="月嫂/保姆/月子导师/钟点工在线咨询，月嫂/保姆培训在线咨询" /></a></li>
				<li><a href="http://wpa.qq.com/msgrd?V=3&uin=1520371983&Site=田螺阿姨&Menu=yes" rel="nofollow"/><img src="__PUBLIC__/img/right-2.png" title="QQ咨询" alt="月嫂/保姆/月子导师/钟点工在线QQ咨询，月嫂/保姆培训在线QQ咨询" /></a></li>
				<li>
					<a class="right-tel" href="#"><img src="__PUBLIC__/img/right-3.png" title="联系电话" alt="田螺阿姨月嫂/保姆服务中心在线联系电话"/></a>
					<div class="right-dianhua">
						<img src="__PUBLIC__/img/right-8.png" title="400-808-6090" alt="联系电话：400-808-6090" />
					</div>
				</li>
				<li>
					<a class="right-weixin" href="#"><img src="__PUBLIC__/img/right-4.png" title="微信" alt="田螺阿姨月嫂/保姆家政公司机构官方微信" /></a>
					<div class="right-erweima">
						<img src="__PUBLIC__/img/erweima.jpg" title="微信二维码" alt="田螺阿姨月嫂/保姆家政公司机构官方微信二维码" />
					</div>
				</li>
				<li><a href="http://weibo.com/tianluoayi" target="_blank" rel="nofollow"><img src="__PUBLIC__/img/right-5.png" title="官方微博" alt="田螺阿姨月嫂/保姆家政公司机构官方微博" /></a></li>
				<li><a href="http://www.tianluoayi.com/#ditu"><img src="__PUBLIC__/img/right-6.png" title="位置与路线" alt="田螺阿姨月嫂/保姆家政公司机构的位置与路线" /></a></li>
				<li><a href="#"><img src="__PUBLIC__/img/right-7.png" title="回到顶部" alt="点击回到田螺阿姨月嫂/保姆公司机构的顶部位置" /></a></li>
			</ul>	
		</div>	
		



