<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>田螺阿姨官方网站</title>
		<link rel="stylesheet" href="__PUBLIC__/css/new/usually.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/new/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/new/about.css" />
		<include file="Index/header1"/>
	</head>

	<body style="overflow-x: hidden;">
		<!-- 头部LOGO背景-->

		<include file="Index/header"/>

		
		<div class="about-us">
			<img class="us-biaoti" src="__PUBLIC__/img/about/about_03.png" width="50%"  />
		</div>
		
		<div class="company f-cb">
			 <p class="gongsijieshao">【公司介绍】</p>
			 <img style="margin-top: 30px;float: left;" src="__PUBLIC__/img/about/about_07.png"  />
			 <span class="jieshao-content">
			 	      成都亿家政网络科技有限公司位于成都高新区环球中心E2座18楼 公司专注于移动互联网和大数据的科技发展，自主研发“互联网+”平台 ，立志于将传统家政服务行业与移动互联网平台相结合，开展O2O的新型业务模式和“互联网+”的商务模式 为传统家政服务行业的科技化发展贡献力量，旗下主打品牌为“田螺阿姨”，主营业务为月嫂、育儿嫂、保姆、钟点工、保洁等传统家政服务通过“互联网+”的平台运营模式以及移动互联网的技术研发实力，定位于专做“80、90后”家庭的母婴类服务商给现代家庭提供科技化的家政服务解决方案。这是一支由70、80后的奶爸奶妈，50、60后的专业老师们共同组成的热血团队，这是一支有着20余年经验，凝聚四川省最好的培训讲师、客座教授、通乳推拿师的专业力量。这是一支以日式家政服务为目标和意识的现代化母婴服务队伍这同样也是一群希望自己的下一代更加健康成长的父母长者们多年的辛苦耕耘------2015年，我们获得了天使投资。
			 </span>
		</div>
		
		<div class="xiangxi">
				<div class="xiangxi-content">
					
					<span class="xiangxi-content1">
					<p style="margin-top: 60px;" class="gongsijieshao">【田螺阿姨】伴着您与您的孩子扬帆起航</p>
					<br /><br />一家专为“8090 后家庭”提供优质服务的o2o 母婴护理中心
					<br /><br />◎ 环球中心5000 平方服务培训中心和研发基地---全天候开放
					<br /><br />◎ 团队成员来自北京协和、华西大、成都中医大---全程免费指导
					<br /><br />◎ 雇员式管理，护理人员均为内部培训---不满意包换
					<br /><br />◎ 线下9 家门店同步支撑，服务覆盖全西南地区—诚意满满
					</span>					
					<img style="float: right;margin: 100px 0 0 50px;" src="__PUBLIC__/img/about/about_11.png"  />
					
					<span class="xiangxi-content1">
					<br /><br />
					<p style="margin-top: 60px;" class="gongsijieshao">【极致品质极致服务，Cool】</p>				
					<br /><br />国际标准---日式标准化服务系统
					<br /><br />打破陋习---坚决杜绝“收费乱”“服务差”“投诉难”等劣质服务
					<br /><br />自有队伍---所有护理人员均为企业员工，保障统一化的服务质量
					<br /><br />业务纯熟---目前已为西南地区2000 余家庭提供了母婴护理服务
					<br /><br />资质优秀---不止荣获政府单位、家政协会、各路媒体的认可，也得<br /><br />到广大客户及社会各界一致肯定
					</span>	
					
					<span class="xiangxi-content2">
						<p style="color: #47C8A2;font-family: 'microsoft yahei';font-size: 22px;" >【官方认可】</p><br /><br />
						中国家庭服务业协会    成都家政服务行业协会     四川省妇幼保健院    四川大学华西医学院    成都中医药大学
						<br /><br /><br />
						<p style="color: #47C8A2;font-family: 'microsoft yahei';font-size: 22px;" >【行业认可】</p><br /><br />
						好慷在线、北京协和母婴护理、北京广禾堂
					</span>
					
				</div>
		</div>
		
		<div class="shuohua">
			   田螺阿姨——因爱而生，为梦而飞
		</div>
		
		<div class="shuohua2">
			 “如果80%的人都不了解，也不满意现在的母婴护理服务，那我觉得我们现在就站出来去改变这个现状好了”
		</div>
		
		<div class="shuohua3">
			 ---田螺阿姨CEO 田禧明			 
		</div>
		
		<div class="shuohua4">
			<img src="__PUBLIC__/img/about/about_15.png"  />
		</div>
		
		<div class="shuohua5">
			 服务我们是用心的<br /><br />您的肯定是对我们真挚的认可		 
		</div>


		<include file="Index/footer"/>
	</body>

</html>