<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>田螺阿姨官方网站</title>
		<link rel="stylesheet" href="__PUBLIC__/css/new/usually.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/new/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/new/yuesao.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/new/zhaopin.css" />
		<include file="Index/header1"/>
	</head>

	<body style="overflow-x: hidden;background-color: #FFFFFF;">
		<!-- 头部LOGO背景-->

		<include file="Index/header"/>

		<div class="tuijianwenzhang">
			<img class="tuijianwenzhang-biaoti" src="__PUBLIC__/img/news_03.png" width="40%" />
		</div>

		<div class="news-content-biaoti">
			<ul>
				<li><img src="__PUBLIC__/img/tiao.png" /></li>
				<li><a href="__ROOT__/">首页</a></li>
				<li>></li>
				<li><a href="__ROOT__/news/">新闻资讯</a></li>
				<li>></li>
			</ul>
		</div>
		
		<div class="xiangqingye-content">
			<p class="xiangqingye-content-biaoti">{$news_info.title}</p>
			<p class="xiangqingye-content-guanjianci">关键词：
				<volist name="keyword" id="vo" offset="0" length='4'>
				<!--<a href="__ROOT__/news/key/{$vo}.html"> {$vo}</a>-->
					{$vo}
				</volist>
			</p>
			<p class="xiangqingye-content-date">发布时间：{$news_info.add_time}</p>
			<p class="content4">
				{$news_info.content|htmlspecialchars_decode}

			</p>


			<p class="content6"></p>
		</div>

		<!--这里是新闻内容-->




		<div style="width: 1200px;height: auto;margin: 0 auto;">

			<?php if($down_news&&down_news!=''){?>
			<a href="__ROOT__/news/<?php echo $down_news[0]['id'];?>.html" class="xiangqingye-next">下一篇：<?php echo $down_news[0]['title'];?></a>
			<?php }else{?>
					<span class="xiangqingye-next">
					下一篇：没有了
						</span>
			<?php }?>

			<?php if($up_news&&up_news!=''){?>
			<a href="__ROOT__/news/<?php echo $up_news[0]['id'];?>.html" class="xiangqingye-last">上一篇：<?php echo $up_news[0]['title'];?></a>
			<?php }else{?>
					<span class="xiangqingye-last">
					上一篇：没有了
						</span>
			<?php }?>
			<!---->
			 <!--<a href="#" class="xiangqingye-last">上一篇：宽松的回复可见的是</a>-->
			  <!--<a href="#" class="xiangqingye-next">下一篇：宽松的回复可见的是</a>-->
		</div>
		
		<div class="xiala">
				<ul>
					<volist name="news_list" id="vo" >
						<li><a href="__ROOT__/news/{$vo.id}.html">{$vo.title}</a></li>
					</volist>
					</ul>
		</div>

		<include file="Index/footer"/>
	</body>

</html>