<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>【育儿嫂】-成都育儿嫂/育儿导师服务与培训价格多少钱-【田螺阿姨】</title>
		<meta name="description" content="育儿嫂服务是田螺阿姨四大特色家政服务产品之一，上岗育儿嫂必须三证齐全，育儿嫂上岗前再由经过专业老师与系统化的专业培训。具体育儿嫂价格多少钱请点击咨询。"/>
		<meta name="keyword" content="育儿嫂价格,育儿嫂价格多少钱,成都育儿嫂价格,成都育儿嫂价格多少钱,育儿嫂培训,育儿嫂培训多少钱,成都育儿嫂培训多少钱"/>
		<link rel="stylesheet" href="__PUBLIC__/css/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/yuesao.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/usually.css" />

		<link rel="alternate"   href="http://www.tianluoayi.com/m/" >

		<link href="__PUBLIC__/css/page.css" rel="stylesheet">
		<!--插件样式-->
		<link rel="stylesheet" href="__PUBLIC__/css/base.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/default.css">
		<link rel="stylesheet" href="__PUBLIC__/css/osSlider.css" />
		<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.1.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/js/nav.js" ></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=uxmawzlQd8MBuZQOa7SPjwpS"></script>

		<script type="text/javascript">
			var ACTION_NAME='<?php echo ACTION_NAME;?>';
			switch (ACTION_NAME){
				case 'yuesao':
					var m_html = 'yuesao';
					break;
				case 'index':
					var m_html = '';
					break;
				case 'yuersao':
					var m_html = 'yuersao';
					break;
				case 'baomu':
					var m_html = 'baomu';
					break;
				default :
					var m_html = '';
					break;
			}

			try {
				var urlhash = window.location.hash;
				if (!urlhash.match("fromapp"))
				{
					if ((navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)))
					{
						window.location="http://www.tianluoayi.com/m/"+m_html+"";
					}
				}
			}
			catch(err)
			{
			}</script>

	</head>
	<body>
		<!--整体内容开始-->
		<div class="container" style="width: 100%;">
			<!--   header  -->
			<div class="top">
				<div class="content1200">
					<div class="logo">
						<a href="__ROOT__/" title="田螺阿姨" ><img src="__PUBLIC__/img/logo.png" width="100%" height="100%"/></a>
					</div>
					<div class="nav">
						<!--一级导航-->
						<ul class="first-ul">
							<li class="first-li"><a href="__ROOT__/" <?php if(in_array(ACTION_NAME,array('index'))){echo 'class="curMenu"';}?>>首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a>

							</li>
							<li class="first-li">
								<a href="__ROOT__/yuesao/" <?php if(in_array(ACTION_NAME,array('yuesao','jiajiao'))){echo 'class="curMenu"';}?>>月嫂服务</a>
								<!--二级导航-->
								<ul class="second-ul">
									<li class="second-li"><a href="__ROOT__/yuesao/" >月嫂</a></li>
									<li class="second-li"><a href="__ROOT__/yuesao/">月子导师</a></li>
									<li class="second-li"><a href="__ROOT__/jiajiao/">3·4母婴家教</a></li>
								</ul>
							</li>
							<li class="first-li"><a href="__ROOT__/yuersao/" <?php if(in_array(ACTION_NAME,array('yuersao'))){echo 'class="curMenu"';}?>>育儿服务</a></li>
							<li class="first-li"><a href="__ROOT__/baomu/" <?php if(in_array(ACTION_NAME,array('baomu'))){echo 'class="curMenu"';}?>>保姆/钟点工</a></li>
							<li class="first-li"><a href="__ROOT__/jianjie/" <?php if(in_array(ACTION_NAME,array('news','zhaopin','jianjie','newsInfo'))){echo 'class="curMenu"';}?>>关于我们</a>
								<ul class="second-ul">
									<li><a href="__ROOT__/news/">新闻资讯</a></li>
									<li><a href="__ROOT__/zhaopin/">招聘信息</a></li>
									<li><a href="__ROOT__/jianjie/">公司简介</a></li>
								</ul>
							</li>
							<li class="first-li"><a href="#">会员商城</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="news-content-biaoti">
				<ul>
					<li><img src="__PUBLIC__/img/tiao.png" /></li>
					<li><a href="__ROOT__/">首页</a></li>
					<li>></li>
					<li><a href="__ROOT__/sitemap/">网站地图</a></li>
					<li>></li>
				</ul>
			</div>
			<!--<br/>-->

			<!--<a href="#" class="site_a"><div style="width: 100%; background:#eeeeee;height: 36px;text-align: center;line-height: 36px;margin: 10px auto;color: #000;"><h1>首页</h1> </div></a>-->
			<!--<a href="#" class="site_a"><div style="width: 100%; background:#eeeeee;height: 36px;text-align: center;line-height: 36px;margin: 10px auto;color: #000;"><h2></h2> </div></a>-->
			<!--<a href="#" class="site_a"><div style="width: 100%; background:#eeeeee;height: 36px;text-align: center;line-height: 36px;margin: 10px auto;color: #000;">首页 </div></a>-->
			<!--<a href="#" class="site_a"><div style="width: 100%; background:#eeeeee;height: 36px;text-align: center;line-height: 36px;margin: 10px auto;color: #000;">首页 </div></a>-->
			<!--<a href="#" class="site_a"><div style="width: 100%; background:#eeeeee;height: 36px;text-align: center;line-height: 36px;margin: 10px auto;color: #000;">首页 </div></a>-->
			<!--<a href="#" class="site_a"><div style="width: 100%; background:#eeeeee;height: 36px;text-align: center;line-height: 36px;margin: 10px auto;color: #000;">首页 </div></a>-->
			<!--<a href="#" class="site_a"><div style="width: 100%; background:#eeeeee;height: 36px;text-align: center;line-height: 36px;margin: 10px auto;color: #000;">首页 </div></a>-->
			<!--<a href="#" class="site_a"><div style="width: 100%; background:#eeeeee;height: 36px;text-align: center;line-height: 36px;margin: 10px auto;color: #000;">首页 </div></a>-->

			<div style="width: 75%;padding-left: 35%;">
				<br/>


				<h1>月嫂服务</h1><br/>
					&emsp;<a href="__ROOT__/yuesao/">月嫂</a><br/>
					&emsp;&emsp;-<a href="__ROOT__/yuesao/article/">月嫂文章</a><br/>
					&emsp;<a href="__ROOT__/yuesao/">月子导师</a><br/>

					&emsp;<a href="__ROOT__/jiajiao/">3.4母婴家教</a><br/>
					&emsp;&emsp;-<a href="__ROOT__/jiajiao/article/">3.4母婴家教文章栏目</a>

				<br/><br/><br/>



				<h1>育儿服务</h1><br/>
				&emsp;<a href="__ROOT__/yuersao/">育儿嫂</a><br/>
				&emsp;&emsp;-<a href="__ROOT__/yuersao/article/">育儿嫂文章栏目</a>

				<br/><br/><br/>

				<h1>保姆/钟点工</h1><br/>
				&emsp;<a href="__ROOT__/baomu/">保姆</a><br/>
				&emsp;<a href="__ROOT__/baomu/">钟点工</a><br/>
				&emsp;&emsp;-<a href="__ROOT__/baomu/article/">保姆钟点工文章栏目</a>

				<br/><br/><br/>


				<h1>关于我们</h1><br/>
				&emsp;<a href="__ROOT__/news/">新闻资讯</a><br/>
				&emsp;<a href="__ROOT__/zhaopin/">招聘信息</a><br/>
				&emsp;<a href="__ROOT__/jianjie/">公司简介</a><br/>



			</div>



			<!-- footer -->
			<div class="footer">

				<div class="footer-content">
					<ul>
						<li style="font-size: 22px;">产品介绍</li>
						<li><a href="__ROOT__/yuesao/">月嫂</a></li>
						<li><a href="__ROOT__/yuersao/">育儿嫂</a></li>
						<li><a href="__ROOT__/baomu/">保姆</a></li>
						<li><a href="__ROOT__/baomu/">钟点工</a></li>

					</ul>

					<ul>
						<li style="font-size: 22px;">团队介绍</li>
						<li><a href="#">母婴顾问</a></li>
						<li><a href="#">月嫂/保姆</a></li>
					</ul>

					<ul>
						<li style="font-size: 22px;">新闻动态</li>
						<li><a href="__ROOT__/news/">最新咨询</a></li>
						<li><a href="__ROOT__/news/">最新公告</a></li>
						<li><a href="__ROOT__/zhaopin/">招聘信息</a></li>
					</ul>

					<ul>
						<li style="font-size: 22px;">关于我们</li>
						<li><a href="__ROOT__/zhaopin/">联系我们</a></li>
						<li><a href="__ROOT__/jianjie/">公司概述</a></li>
					</ul>

					<img src="__PUBLIC__/img/erweima.png" />

					<div class="banquan">
						©2014-2015 成都亿家政网络科技有限公司 版权所有<br />蜀ICP备15008974号-1
					</div>
				</div>
		</div>
		<!--轮播图效果-->
		<script src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>
		<script src="__PUBLIC__/js/jquery.longyuJs.js"></script>
		<script>
			$('.site_a div').live('mouseover',function(){
				$(this).css('background', '#47c8a2');
				$(this).css('color', '#ffffff');

			});
			$('.site_a div').live('mouseout',function(){
				$(this).css('background', '#eeeeee');
				$(this).css('color', '#000');
			});

		</script>
	</body>
</html>






























