<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>田螺阿姨官方网站</title>
		<link rel="stylesheet" href="__PUBLIC__/css/new/usually.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/new/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/new/zhaopin.css" />

		<include file="Index/header1"/>
	</head>

	<body style="overflow-x: hidden;">
		<!-- 头部LOGO背景-->

		<include file="Index/header"/>


		<div class="tongru-biaoti">
			<img src="__PUBLIC__/img/tongru/biaoti1.png" />
		</div>

		<div class="wenzi-1">
			<p class="wenzi-1-biaoti">什么是通乳师?</p>
			<p class="wenzi-1-content">催乳师是指采用人体经络调理、中医按摩推拿等技术手段<br />
				为产妇产后少乳、无乳、乳房胀痛、乳汁淤积、乳腺管阻塞<br />
				急性乳腺炎等哺乳期乳腺症状妇女提供催乳保健服务与乳房美体的专业人员<br />
				催乳在我国具有悠久的传统，通常以中医调理为根本，结合民间流传的食疗之法<br />
				帮助产妇泌乳。进入现代社会，人们生活习惯的改变及社会环境的变迁阻碍了母乳<br />
				喂养的实施，越来越多的哺乳问题显现出来，催乳师作为一个独立的职业开始确立。</p>
		</div>

		<div class="wenzi-2">
			<p class="wenzi-2-biaoti">催乳师行业前景</p>
			<p class="wenzi-2-content"> <span style="color: #f13838;font-size: 28px;"> 中国每年约有2000万妈妈，</span>母乳喂养已深入人心，我国婴儿出<br />
				生率高且稳定，宝宝是父母爱的结晶，为了让宝宝得到母乳喂养，增强免<br />
				疫力健健康康的成长，每一个普通的家庭都乐意成为我们的服务对象。<br />
				<span style="color: #f13838;font-size: 28px;">每小时有2000-3000名</span>婴儿诞生，几乎每天都有客户需求，数量决<br />
				定了最基本的需求程度。 需求量这么大怎么可能找不到工作呢？催乳师属<br />
				于自由职业，可以根据时间来安排生活和工作。
		</div>

		<div class="wenzi-3">
			<p class="wenzi-3-biaoti">催乳师行业待遇</p>
			<p class="wenzi-3-content"> <span style="color: #f13838;font-size: 28px;"> 催乳师行业：月收入过万</span><br />
				专业催乳师作为一项朝阳的职业，就业前景十分广阔，市场需求十分巨大<br />
				每次收费<span style="color: #f13838;font-size: 28px;">300-800元/小时，</span>如果平均每天做3到5个客户<br />
				<span style="color: #f13838;font-size: 28px;">月收入可达到1万-2万,</span>真正的高薪职业
		</div>

		<div class="jiuyefangxiang">
			<img src="__PUBLIC__/img/tongru/jiuye.png"  />
		</div>

		<div class="tese">
			<div class="tese-biaoti">
				<img src="__PUBLIC__/img/tongru/tese.png" />
			</div>

			<div class="tese-img">
				<img src="__PUBLIC__/img/tongru/tese1.png"  />
				<img src="__PUBLIC__/img/tongru/tese2.png"  />
				<img src="__PUBLIC__/img/tongru/tese3.png"  />
				<img src="__PUBLIC__/img/tongru/tese4.png"  />
			</div>
		</div>

		<div class="huanjing">
			<img src="__PUBLIC__/img/tongru/huanjing.png"  />
		</div>

		<div class="huanjing-img">
			<img src="__PUBLIC__/img/tongru/huanjing1.png"  />
			<img src="__PUBLIC__/img/tongru/huanjing2.png"  />
			<img src="__PUBLIC__/img/tongru/huanjing3.png"  />
		</div>

		<div class="fengcai">
			<img src="__PUBLIC__/img/tongru/fengcai.png"  />
		</div>

		<div class="huanjing-img">
			<img src="__PUBLIC__/img/tongru/fengcai1.png"  />
			<img src="__PUBLIC__/img/tongru/fengcai2.png"  />
			<img src="__PUBLIC__/img/tongru/fengcai3.png"  />
			<img src="__PUBLIC__/img/tongru/fengcai4.png"  />
			<img src="__PUBLIC__/img/tongru/fengcai5.png"  />
			<img src="__PUBLIC__/img/tongru/fengcai6.png"  />

		</div>


		<form action="__MODULE__/addMessage" method="post" id="form" enctype="multipart/form-data">
			<div class="tianxie">
				<p class="content1200">报名信息表</p>
				<div class=" tianxie-content content1200">
					<ul>
						<li>姓名：
							<input class="input" type="text" placeholder="请输入姓名" name="name" id="name" />
						</li>
						<li>应聘岗位：
							<select style="width: 120px;font-size: 20px;" name="job">
								<option>母婴护理师(月嫂)</option>
								<option>育儿嫂</option>
								<option>保姆</option>
								<option>钟点工</option>
							</select>
						</li>
						<li>年龄：
							<input class="input" type="text" placeholder="请输入年龄" name="age" id="age" />
						</li>
						<li>工作经验：
							<select style="width: 120px;font-size: 20px;" name="experience">
								<option>无经验</option>
								<option>1年以下</option>
								<option>1-3年</option>
								<option>3-5年</option>
								<option>5年以上</option>
							</select>
						</li>
						<li>电话：
							<input class="input" type="text" placeholder="请输入电话号码" name="phone" id="phone" />
						</li>
						<li>有无证书：
							<select style="width: 120px;font-size: 20px;" name="certificate">
								<option>无</option>
								<option>有</option>
							</select>
						</li>
					</ul>

				</div>
				<div class="kuang-tijiao">
					<!--<span class="tijiao" >提   交</span>-->
					<span id="tijiao" class="tijiao">提   交</span>
				</div>
			</div>
		</form>


		<include file="Index/footer"/>

		<script>
			$("#tijiao").live('click',function(){
				if(!(/^((0?1[358]\d{9})|((0(10|2[1-9]|[3-9]\d{2}))?(-)?[1-9]\d{6,7}))$/.test($("#phone").val()))){
					alert('手机号不正确;请重新输入！');
					return false;
				}else if($("#name").val()==''){
					alert('请输入姓名！');
					return false;
				}else if(!$.isNumeric($("#age").val())){
					alert('请输入正确年龄！');
					return false;
				}
				$("#form").submit();
			});
		</script>

	</body>


</html>