<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>田螺阿姨官方网站</title>
		<link rel="stylesheet" href="__PUBLIC__/css/new/usually.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/new/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/new/zhaopin.css" />

		<include file="Index/header1"/>
	</head>

	<body style="overflow-x: hidden;">
		<!-- 头部LOGO背景-->

		<include file="Index/header"/>
		
		
		<div class="zhaopinfuwu">
			 <img  class="zhaopin-biaoti" src="__PUBLIC__/img/zhaopin/zhaopin_03.png" width="60%"  />
			 <img src="__PUBLIC__/img/zhaopin/zhaopin_07.png"  />
		</div>
		
		<div class="about-bg">
			<div class="aboutyuesao">
				 <img  class="aboutyuesao-biaoti" src="__PUBLIC__/img/zhaopin/zhaopin_11.png" width="60%"  />
				 
	  			<img class="aboutyuesao-img1" src="__PUBLIC__/img/zhaopin/zhaopin_14.png">
	  			<img class="aboutyuesao-img2" src="__PUBLIC__/img/zhaopin/zhaopin_16.png" />
	  			<img class="aboutyuesao-img3" src="__PUBLIC__/img/zhaopin/zhaopin_18.png"  />
	  			
	  			<img class="aboutyuesao-img4" src="__PUBLIC__/img/zhaopin/zhaopin_23.png"  />
			</div>
		</div>

		<div class="ourbaozhang f-cb">
			<img  class="baozhang-biaoti" src="__PUBLIC__/img/zhaopin/zhaopin_27.png" width="60%"  />
			
			<img style="float: left;margin-left: 30px;" src="__PUBLIC__/img/zhaopin/zhaopin_31.png"  />
			<img style="float: left;margin-left: 30px;" src="__PUBLIC__/img/zhaopin/zhaopin_33.png"  />
			<img style="float: left;margin-left: 30px;" src="__PUBLIC__/img/zhaopin/zhaopin_35.png"  />
			<img style="float: left;margin-left: 30px;" src="__PUBLIC__/img/zhaopin/zhaopin_37.png"  />
			<img style="float: left;margin-left: 30px;" src="__PUBLIC__/img/zhaopin/zhaopin_39.png"  />
		</div>

		<div class="peixunbaozhang">
			<img  class="peixun-biaoti" src="__PUBLIC__/img/zhaopin/zhaopin_47.png" width="60%"  />
			
			<img src="__PUBLIC__/img/zhaopin/zhaopin_51.png" />
		</div>


		<include file="Index/footer"/>
	</body>

</html>