<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>田螺阿姨官网</title>

		<meta name="description" content="田螺阿姨官方网站"/>
		<meta name="keywords" content="田螺阿姨"/>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="__PUBLIC__/Auction/css/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/Auction/css/zp.css" />
		<script src="__PUBLIC__/Auction/js/jquery-1.11.1.min.js"></script>
		
	</head>
	<body>
		<div class="page_1" style="background: url(__PUBLIC__/Auction/img/zp/zp1.png) no-repeat;"></div>
		<div class="page_2 jiesao" style="background: url(__PUBLIC__/Auction/img/zp/zp2.png) no-repeat;">
			<p><span>月嫂</span>是专业护理产妇与新生儿的一种新兴职业。是目前薪资上涨最快的职业，一个可以让女人撑起半边天的职业，一个低门槛、高收入的职业，一个社会需要、家庭尊重的职业。</p>
		</div>
		<div class="page_3 jiesao" style="background: url(__PUBLIC__/Auction/img/zp/zp3.png);">
			<p><span>催乳师</span>是指采用人体经络调理、中医技术手段为产妇产后少乳、无乳、乳房胀痛、乳汁淤积、乳腺管阻塞急性乳腺炎等哺乳期乳腺症状妇女提供催乳保健服务与乳房美体的专业人员催乳在我国具有悠久的传统，通常以中医调理为根本，结合民间流传的食疗之法帮助产妇泌乳。</p>
		</div>
		<div class="tle" style="background: url(__PUBLIC__/Auction/img/zp/zp4.png) no-repeat;"></div>
		<div class="page_4">
			<p>随着二胎政策的开放与人们生活水平的提高，越来越多的新生家庭开始需要专业的月嫂服务，对从业人员的素质要求也越来越高，传统的保姆已不能满足这种快速发展的社会高端需求。因此，更多的保姆及母婴家庭服务人员转入到了月嫂的行列中来。月嫂是在一般的保姆护理的基础上，接受更规范的职业培训，融合掌握更多的专业技能，包括产妇的心理健康、身体保健、饮食营养、新生儿的常见疾病预防与护理、优生胎教。中国每年约有2000万妈妈，母乳喂养已深入人心，我国婴儿出生率高且稳定，宝宝是父母爱的结晶，为了让宝宝得到母乳喂养，增强免疫力健健康康的成长，每一个普通的家庭都乐意成为我们的服务对象。每小时有2000-3000名婴儿诞生，几乎每天都有客户需求，数量决于自由职业，可以根据时间来安排生活和工作。</p>
		</div>
		<div class="page_5" style="background: url(__PUBLIC__/Auction/img/zp/zp5.png) no-repeat;">
			<div class="zhuanye">
				超过66%的月嫂学员毕业后立即上岗<br />
				客户自愿把我们介绍给她们的姐妹<br />
				用口碑筑起田螺之家
			</div>
		</div>
		<div class="page" style="background: url(__PUBLIC__/Auction/img/zp/zp_08.png) no-repeat;"></div>
		<div class="page" style="background: url(__PUBLIC__/Auction/img/zp/zp_09.png) no-repeat;"></div>
		<div class="page" style="background: url(__PUBLIC__/Auction/img/zp/zp_10.png) no-repeat;"></div>
		<div class="page" style="background: url(__PUBLIC__/Auction/img/zp/zp_11.png) no-repeat;"></div>
		<div class="page" style="background: url(__PUBLIC__/Auction/img/zp/zp_12.png) no-repeat;"></div>
		<div class="page_f" style="background: url(__PUBLIC__/Auction/img/zp/zp_13.png) no-repeat;"></div>
		<div class="tle" style="background: url(__PUBLIC__/Auction/img/zp/zp6.png) no-repeat;"></div>
		<div class="pingjia">
			<ul>
				<li style="background: url(__PUBLIC__/Auction/img/zp/zp_img_134.jpg) no-repeat center;">
					<p>“ 授课上很有激情，善于互动，我喜欢 ”</p>
				</li>
				<li style="background: url(__PUBLIC__/Auction/img/zp/zp_img_137.jpg) no-repeat center;">
					<p>“ 案例丰富，让我们轻松愉快学习月嫂知识 ”</p>
				</li>
				<li style="background: url(__PUBLIC__/Auction/img/zp/zp_img_139.jpg) no-repeat center;">
					<p>“ 内容实用性强，案例分析实用，思路清晰”</p>
				</li>
				<li style="background: url(__PUBLIC__/Auction/img/zp/zp_img_141.jpg) no-repeat center;">
					<p>“ 老师的课程互动性很强，让我们感觉很轻松 ”</p>
				</li>
				<li style="background: url(__PUBLIC__/Auction/img/zp/zp_img_143.jpg) no-repeat center;">
					<p>“ 针对性强，教学质量高，收获大”</p>
				</li>
				<li style="background: url(__PUBLIC__/Auction/img/zp/zp_img_145.jpg) no-repeat center;">
					<p>“ 专业水准高，组织严谨，整体策划好”</p>
				</li>
			</ul>
		</div>
		<div class="foot">
			<form action="http://www.tianluoayi.com/addMessage_auction" method="post" id="form" enctype="multipart/form-data">
				<input type="text" name="name" id="name" class="ipt" placeholder="姓名">
				<input type="text" name="phone" id="phone" class="ipt" placeholder="电话">

				<input type="hidden" name="job" value="手机招聘竞价"/>
				<input type="hidden" name="age" value="手机招聘竞价"/>
				<input type="hidden" name="experience" value="手机招聘竞价"/>
				<input type="hidden" name="certificate" value="手机招聘竞价"/>
				<input type="hidden" name="type" value="2"/>
				<input type="submit" name="submit" id="tijiao" class="sub" value="">
			</form>
		</div>
		<div style="width: 100%;height: auto; background: #f1f1f1;text-align: center;padding: 10px 0 50px;">
			<div class="banquan" style="font-family: '微软雅黑';font-size: 0.6em;color: #666666;">
				©2014-2015 成都亿家政网络科技有限公司 版权所有<br>蜀ICP备15008974号-1
			</div>
		</div>



		<script src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>
		<script src="__PUBLIC__/js/jquery.longyuJs.js"></script>

		<script>
			$("#tijiao").click(function(){
				if(!(/^(0?1[345789]\d{9})$/.test($("#phone").val()))){
					alert('手机号不正确;请重新输入！');
					return false;
				}else if($("#name").val()==''){
					alert('请输入姓名！');
					return false;
				}
				$("#form").submit();
			});
		</script>


		<script>
			var window_wid=$(window).width();
	    	$(".page_1").css("width",window_wid).css("height",window_wid*0.504).css("background-size","100% 100%");
	    	$(".page_2").css("width",window_wid).css("height",window_wid*0.3853).css("background-size","100% 100%");
	    	$(".page_3").css("width",window_wid).css("height",window_wid*0.4546).css("background-size","100% 100%");
	    	$(".page_5").css("width",window_wid).css("height",window_wid*0.444).css("background-size","100% 100%");
	    	$(".page").css("width",window_wid).css("height",window_wid*0.7146).css("background-size","100% 100%");
	    	$(".page_f").css("width",window_wid).css("height",window_wid*0.8893).css("background-size","100% 100%");
	    	$(".pingjia").css("width",window_wid);
	    	$(".pingjia ul li").css("width",window_wid).css("background-size","auto 100%");
	    	$(".pingjia ul li p").css("padding-left",window_wid*0.15+"px");
	    	
	    	$(".page_2 p").css("padding-top",window_wid*0.09).css("padding-left",window_wid*0.166).css("padding-right",window_wid*0.02);
	    	$(".page_3 p").css("padding-top",window_wid*0.05).css("padding-left",window_wid*0.166).css("padding-right",window_wid*0.02);
	    	$(".page_4").css("width",window_wid);
	    	$(".tle").css("width",window_wid).css("height",window_wid*0.0746).css("background-size","100% 100%");
	    	
	    	$(".foot").css("width",window_wid).css("height",window_wid*0.5853).css("background-size","100% 100%");
	    	$(".ipt").css("width",window_wid*0.3973).css("height",window_wid*0.08);
	    	$(".sub").css("width",window_wid*0.2306).css("height",window_wid*0.084);
		</script>


	<div style="display: none;">
	<!--百度统计-->
			<script>
				var _hmt = _hmt || [];
				(function() {
					var hm = document.createElement("script");
					hm.src = "//hm.baidu.com/hm.js?e63e935a08dd709083f2a7b61522a0ac";
					var s = document.getElementsByTagName("script")[0];
					s.parentNode.insertBefore(hm, s);
				})();
			</script>

	   <!--美恰-->
        <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 38353);

	// 在这里开启无按钮模式
    _MEIQIA('withoutBtn');
        </script>

	<!--CNZZ统计-->
<script src="http://s11.cnzz.com/z_stat.php?id=1256805358&web_id=1256805358" language="JavaScript" rel="nofollow"></script>

	<!--百度离线宝-->
<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=7475696" rel="nofollow"></script>
</div>


	</div>

	</body>
</html>
