<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<link rel="stylesheet" href="__PUBLIC__/Auction/css/shouji-usually.css" />
	</head>
	<body>
		
		 <div style="width: 100%;height: auto;">
			 <a href="http://www.tianluoayi.com/kst/" target="_blank" rel="nofollow"><img src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_02.png" width="100%" /></a>
		 </div>
		 
		 <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_04.png" width="100%"  />
		 
		 <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_06.png" width="100%"  /> 
		 
		 <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_08.png" width="100%"  />
		 
		 <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_09.png" width="100%"  />
		 
		  <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_10.png" width="100%"  />
		  
		  <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_11.png" width="100%"  />
		  
		  <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_13.png" width="100%"  />
		  
		  <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_15.png" width="100%"  />
		  
		  <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_16.png" width="100%"  />
		  
		  <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_18.png" width="100%"  />
		  
		  <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_20.png" width="100%"  />
		  
		  <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_22.png" width="100%"  />
		  
		  <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_25.png" width="100%"  />
		  
		  <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_27.png" width="100%"  />
		  
		  <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_28.png" width="100%"  />
		  
		  <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_29.png" width="100%"  />
		  
		  <img style="margin-top: 20px;" src="__PUBLIC__/Auction/img/zhaopin/shouji-zhaopin_31.png" width="100%"  />


		 <div class="form">
			 <form action="http://www.tianluoayi.com/addMessage_auction" method="post" id="form" enctype="multipart/form-data">
				 <div class="submit-kuang">
					 <p>联系我们</p>
				<span class="name" >
							姓名<input type="text"  name="name" id="name"/>
						</span>
					<span class="name" >
							电话<input type="text"  name="phone" id="phone"/>

							<input type="hidden" name="job" value="手机招聘竞价"/>
							<input type="hidden" name="age" value="手机招聘竞价"/>
							<input type="hidden" name="experience" value="手机招聘竞价"/>
							<input type="hidden" name="certificate" value="手机招聘竞价"/>
							<input type="hidden" name="type" value="2"/>
						</span>

					<span class="tijiao" id="tijiao">
								提交
							</span>
				 </div>
			 </form>
		 </div>

		 <div style="width: 100%;height: auto; background: #f1f1f1;text-align: center;margin-top: 40px;font-size: 10px;">
			 <div class="banquan">
				 ©2014-2015 成都亿家政网络科技有限公司 版权所有<br />蜀ICP备15008974号-1
			 </div>
		 </div>


		 <script src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>
		 <script src="__PUBLIC__/js/jquery.longyuJs.js"></script>

		 <script>
			 $("#tijiao").click(function(){
				 if(!(/^(0?1[345789]\d{9})$/.test($("#phone").val()))){
					 alert('手机号不正确;请重新输入！');
					 return false;
				 }else if($("#name").val()==''){
					 alert('请输入姓名！');
					 return false;
				 }
				 $("#form").submit();
			 });
		 </script>
		 
		 <!--美恰-->
			<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 38353);
            </script>

                <!--百度统计-->
			    <script>
				var _hmt = _hmt || [];
				(function() {
					var hm = document.createElement("script");
					hm.src = "//hm.baidu.com/hm.js?e63e935a08dd709083f2a7b61522a0ac";
					var s = document.getElementsByTagName("script")[0];
					s.parentNode.insertBefore(hm, s);
				})();
			    </script>

            <!--CNZZ统计-->
			<script src="https://s11.cnzz.com/z_stat.php?id=1256805358&web_id=1256805358" language="JavaScript"></script>

            <!--百度离线宝-->
            <script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=7475696" rel="nofollow"></script>
		</div>


	</body>
</html>
