<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>田螺阿姨官网</title>

		<meta name="description" content="田螺阿姨官方网站"/>
		<meta name="keywords" content="田螺阿姨"/>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="__PUBLIC__/Auction/css/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/Auction/css/ys.css" />
		<script src="__PUBLIC__/Auction/js/jquery-1.11.1.min.js"></script>

	</head>
	<body>
		<div class="page_1" style="background: url(__PUBLIC__/Auction/img/ys/ys_1.png);">
			<a href="http://www.tianluoayi.com/kst" target="_blank" rel="nofollow" class="liaojie"></a>
			<a href="http://www.tianluoayi.com/kst" target="_blank" rel="nofollow" class="zixun"></a>
		</div>
		<div class="page_2">
			<p class="p1">母婴护理师请和不请</br>区别大</p>
			<div class="f-cb">
				<div class="m_1">
					<img src="__PUBLIC__/Auction/img/ys/ys_img1.png" />
					<p class="p_org">没请母婴护理师</p>
					<p class="p_2">
						不同育儿观念冲突，家庭关系紧张</br>
						老人照顾产妇和新生儿，身体吃不消</br>
						不懂科学坐月子方法，产妇易得月子
					</p>
				</div>
				<div class="m_1">
					<img src="__PUBLIC__/Auction/img/ys/ys_img2.png" />
					<p class="p_blk">已请母婴护理师</p>
					<p class="p_2">
						全家睡好安稳觉</br>
						产妇体质、身材恢复好</br>
						科学喂养，宝宝身体好</br>
						 宝宝养成良好睡觉和吃奶习惯
						</p>
					</div>
				</div>
		</div>
		<div class="page_2">
			<p class="p1">选择什么样的公司</br>很重要</p>
			<div class="f-cb">
				<div class="m_1">
					<img src="__PUBLIC__/Auction/img/yes/ys_img3.png" />
					<p class="p_org">传统家政公司</p>
					<p class="p_2">
						人员素养良莠不齐</br>
						服务质量缺乏监管</br>
						随意抬价、无故辞职
					</p>
				</div>
				<div class="m_1">
					<img src="__PUBLIC__/Auction/img/yes/ys_img4.png" />
					<p class="p_blk">互联网家政公司</p>
					<p class="p_2">
						网上了解口碑，服务透明化</br>
						签订有效合同，保障双方权益</br>
						智能信息库档案记录，来源可靠 
					</p>
				</div>
			</div>
		</div>
		<div class="page_3">
			<p>没经验的<br />母婴护理师</p>
			<p>经专业培训的<br />母婴护理师</p>
		</div>
		<div class="page_4">
			<ul class="f-cb">
				<li class="first_li">
					<img src="__PUBLIC__/Auction/img/ys_img7.png" />
					<p>家政保险</p>
				</li>
				<li>
					<img src="__PUBLIC__/Auction/img/ys_img8.png" />
					<p>岗前体检</p>
				</li>
				<li>
					<img src="__PUBLIC__/Auction/img/ys_img9.png" />
					<p>颁发证书</p>
				</li>
				<li>
					<img src="__PUBLIC__/Auction/img/ys_img10.png" />
					<p>职业培训</p>
				</li>
				<li>
					<img src="__PUBLIC__/Auction/img/ys_img11.png" />
					<p>客户反馈</p>
				</li>
				<li>
					<img src="__PUBLIC__/Auction/img/ys_img12.png" />
					<p>医院实习</p>
				</li>
				<li>
					<img src="__PUBLIC__/Auction/img/ys_img13.png" />
					<p>协会监管</p>
				</li>
			</ul>
		</div>
		<div class="page_5">
			<div class="title" style="background: url(__PUBLIC__/Auction/img/ys/ys_4.png);"></div>
			<div class="page5_title">照顾好宝宝和妈妈，我们很在行</div>
			<ul class="f-cb">
				<li class="first_li">
					<img src="__PUBLIC__/Auction/img/ys/ys_img_73.png" />
					<p>为妈妈测体温</p>
				</li>
				<li>
					<img src="__PUBLIC__/Auction/img/ys/ys_img_75.png" />
					<p>制作月子餐</p>
				</li>
				<li>
					<img src="__PUBLIC__/Auction/img/ys/ys_img_77.png" />
					<p>给婴儿被动操</p>
				</li>
				<li>
					<img src="__PUBLIC__/Auction/img/ys/ys_img_79.png" />
					<p>喂奶</p>
				</li>
				<li>
					<img src="__PUBLIC__/Auction/img/ys/ys_img_81.png" />
					<p>脐带护理</p>
				</li>
			</ul>
			<div class="page5_title2">护理员经严格培训考核，岗前实习，实操经验丰富</div>
			<div class="page5_img"></div>
		</div>
		<div class="page_6">
			
				<ul class="f-cb">
					<li class="first_li">
						<img src="__PUBLIC__/Auction/img/ys_img_51.png" />
						<p>家协会证书</p>
					</li>
					<li>
						<img src="__PUBLIC__/Auction/img/ys_img_53.png" />
						<p>家协会</p>
					</li>
					<li>
						<img src="__PUBLIC__/Auction/img/ys_img_55.png" />
						<p>客户赠送锦旗</p>
					</li>
					<li>
						<img src="__PUBLIC__/Auction/img/ys_img_57.png" />
						<p>学员档案</p>
					</li>
					<li>
						<img src="__PUBLIC__/Auction/img/ys_img_59.png" />
						<p>学员集体照</p>
					</li>
				</ul>
				<ul class="f-cb">
					<li class="first_li">
						<img src="__PUBLIC__/Auction/img/ys_img_66.png" />
						<p>合同签订</p>
					</li>
					<li>
						<img src="__PUBLIC__/Auction/img/ys_img_67.png" />
						<p>合作月子中心</p>
					</li>
					<li>
						<img src="__PUBLIC__/Auction/img/ys_img_68.png" />
						<p>每年体检</p>
					</li>
					<li>
						<img src="__PUBLIC__/Auction/img/ys_img_69.png" />
						<p>学员面试</p>
					</li>
					<li>
						<img src="__PUBLIC__/Auction/img/ys_img_70.png" />
						<p>雇主/护理员</p>
					</li>
				</ul>
		</div>
		<div class="page_7" style="background: url(__PUBLIC__/Auction/img/yes_6.png) no-repeat;"></div>
		<div class="page_8">
			<div class="page_8_div_s f-cb">
				<div class="page_8_div f-fl">
					<a href="http://www.tianluoayi.com/kst" target="_blank" rel="nofollow">
						<img src="__PUBLIC__/Auction/img/ys/ys_img_85.png" title="特价母婴护理师" alt="特价母婴护理师,3980元,每月限量5个/先到先得/具有上岗资格/1-2年经验/0投诉/日常护理/疾病护理/心里疏导/">
					</a>
				</div>
				<div class="page_8_div page_8_div2 f-fl">
					<a href="http://www.tianluoayi.com/kst" target="_blank" rel="nofollow">
						<img src="__PUBLIC__/Auction/img/ys/ys_img_87.png" title="性价比之王" alt="原价7880/立省1000/3-6年经验/0投诉/形体恢复/日常护理/疾病护理/早期教育/">
					</a>
				</div>
			</div>
			<div class="page_8_div_s f-cb">
				<div class="page_8_div page_8_div3 f-fl">
					<a href="http://www.tianluoayi.com/kst" target="_blank" rel="nofollow">
						<img src="__PUBLIC__/Auction/img/ys/ys_img_92.png" title="金牌母婴护理师" alt="9年以上工作经验/双胞胎护理/早产儿护理/日常护理/新生儿潜能开发/ ">
					</a>
				</div>
			</div>
		</div>
		<div class="foot">
			<form action="http://www.tianluoayi.com/addMessage_auction" method="post" id="form" enctype="multipart/form-data">
				<input type="text" name="name" id="name" class="ipt" placeholder="姓名">
				<input type="text" name="phone" id="phone" class="ipt" placeholder="电话">

				<input type="hidden" name="job" value="手机月嫂竞价"/>
				<input type="hidden" name="age" value="手机月嫂竞价"/>
				<input type="hidden" name="experience" value="手机月嫂竞价"/>
				<input type="hidden" name="certificate" value="手机月嫂竞价"/>
				<input type="hidden" name="type" value="2"/>
				<input type="submit" name="submit" id="tijiao" class="sub" value="">
			</form>
		</div>
		<div style="width: 100%;height: auto; background: #f1f1f1;text-align: center;padding: 10px 0 50px;">
			<div class="banquan" style="font-family: '微软雅黑';font-size: 0.6em;color: #666666;">
				©2014-2015 成都亿家政网络科技有限公司 版权所有<br>蜀ICP备15008974号-1
			</div>
		</div>

		<script src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>
		<script src="__PUBLIC__/js/jquery.longyuJs.js"></script>

		<script>
			$("#tijiao").click(function(){
				if(!(/^(0?1[345789]\d{9})$/.test($("#phone").val()))){
					alert('手机号不正确;请重新输入！');
					return false;
				}else if($("#name").val()==''){
					alert('请输入姓名！');
					return false;
				}
				$("#form").submit();
			});
		</script>

		<script>
			var window_wid=$(window).width();
	    	$(".page_1").css("width",window_wid).css("height",window_wid*0.5933).css("background-size","100% 100%");
	    	$(".page_1 a").css("width",window_wid*0.1706).css("height",$(".page_1 a").width()*0.3281);
	    	$(".page_2,.page_5,.page_6,.page_8").css("width",window_wid);
	    	$(".page_3").css("width",window_wid).css("height",window_wid*0.9253).css("background-size","100% 100%");
	    	$(".page_4").css("width",window_wid).css("height",window_wid*0.3666);
	    	$(".page_4 ul li").css("margin-left",window_wid*0.0093);
	    	$(".page_4 ul li:first-child").css("margin-left",window_wid*0.0266);
	    	$(".page_4 ul li img").css("width",window_wid*0.1266).css("height",window_wid*0.1492);
	    	$(".page5_img").css("width",window_wid).css("height",window_wid*0.2386).css("background-size","100% 100%");
	    	$(".page_5 ul li,.page_6 ul li").css("margin-left",window_wid*0.021);
	    	$(".page_5 ul li:first-child,.page_6 ul li:first-child").css("margin-left",window_wid*0.0146);
	    	$(".page_5 ul li img,.page_6 ul li img").css("width",window_wid*0.1773).css("height",window_wid*0.1653);
	    	$(".title").css("width",window_wid).css("height",window_wid*0.0573).css("background-size","100% 100%");
	    	$(".page_7").css("width",window_wid).css("height",window_wid*1.0266).css("background-size","100% 100%");
	    	$(".page_8_div").css("width",window_wid*0.3814).css("height",window_wid*0.6266).css("background-size","100% 100%");
	    	$(".page_8_div,.page_8_div2").css("margin-left",window_wid*0.0593).css("margin-right",window_wid*0.0593);
	    	$(".page_8_div3").css("margin-left",window_wid*0.324);
	    	$(".foot").css("width",window_wid).css("height",window_wid*0.5853).css("background-size","100% 100%");
	    	$(".ipt").css("width",window_wid*0.3973).css("height",window_wid*0.08);
	    	$(".sub").css("width",window_wid*0.2306).css("height",window_wid*0.084);
		</script>



		<div style="display: none">
	    <!--美恰-->
        <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 38353);

	// 在这里开启无按钮模式
    _MEIQIA('withoutBtn');
        </script>

	    <!--百度统计-->
			<script>
				var _hmt = _hmt || [];
				(function() {
					var hm = document.createElement("script");
					hm.src = "//hm.baidu.com/hm.js?e63e935a08dd709083f2a7b61522a0ac";
					var s = document.getElementsByTagName("script")[0];
					s.parentNode.insertBefore(hm, s);
				})();
			</script>
		 <!--CNZZ-->
			<script src="https://s11.cnzz.com/z_stat.php?id=1256805358&web_id=1256805358" language="JavaScript"></script>

		</div>

	</body>
</html>
