<include file="Nav/header" />

		<div class="add" style="min-height: 600px;">
			<form action="__MODULE__/Training/addTraining" method="post" id="form" onsubmit="javascript:return window.confirm('确定添加么？')"  enctype="multipart/form-data">
		   	 <h1 style="font-size: 45px;font-weight: normal;">报道新学员</h1>
		   	 <div class="kuang">

				 学员姓名： <input type="text" class="text" style="width: 20%;" name="name" id="name" value="{$trainee.name}"/>
				 <input type="hidden" name="trainee_id" value="{$trainee.id}" id="trainee_id"/>
				 <input type="hidden" name="add_time" value="{$trainee.cover}" id="add_time"/>
				 <br />
				 <br />
				 学员情况：

				 <span style="color: #666666; font-size: 12px;">
					 {$trainee.detail}
				 </span>

				 <br />
				 <br />


				 联系电话： <input type="text" class="text" style="width: 20%;" name="phone" id="phone"/>
				 <br />
				 <br />

				 身份证号： <input type="text" class="text" style="width: 20%;" name="id_card" id="id_card"/>
				 <br />
				 <br />
				 银行卡号：  <input type="text" class="text" style="width: 20%;" name="bank_card" id="bank_card"/>
				 <br />
				 <br />
				 出生日期：  <input type="text" class="text" style="width: 20%;" name="birthday" id="birthday"/>
				 <br />
				 <br />

				 生育情况：  <input type="text" class="text" style="width: 20%;" name="birth" id="birth"/>
				 <br />
				 <br />
				 常住地址：  <input type="text" class="text" style="width: 20%;" name="address" id="address"/>
				 <br />
				 <br />

				 家庭情况：  <input type="text" class="text" style="width: 20%;" name="family" id="family"/>
				 <br />
				 <br />
				 性格评价：  <input type="text" class="text" style="width: 20%;" name="character" id="character"/>
				 <br />
				 <br />

				 性别：
				 <select style="width: 20%;height: 28px;" id="sex" name="sex">
					 <option value="2">女</option>
					 <option value="1">男</option>
				 </select>
				 <br />
				 <br />

				 年龄： <input type="text" class="text" style="width: 20%;" name="age" id="age"/>
				 <br />
				 <br />

				 身高：  <input type="text" class="text" style="width: 20%;" name="height" id="height"/>
				 <br />
				 <br />

				 体重：  <input type="text" class="text" style="width: 20%;" name="weight" id="weight"/>
				 <br />
				 <br />

				 <!--属相：-->
				 <!--<select style="width: 20%;height: 28px;" id="zodiac" name="zodiac">-->
					 <!--<option>鼠</option>-->
					 <!--<option>牛</option>-->
					 <!--<option>虎</option>-->
					 <!--<option>兔</option>-->
					 <!--<option>龙</option>-->
					 <!--<option>蛇</option>-->
					 <!--<option>马</option>-->
					 <!--<option>羊</option>-->
					 <!--<option>猴</option>-->
					 <!--<option>鸡</option>-->
					 <!--<option>狗</option>-->
					 <!--<option>猪</option>-->
				 <!--</select>-->
				 <!--<br />-->
				 <!--<br />-->
				 星座：
				 <select style="width: 20%;height: 28px;" id="constellation" name="constellation">
					 <option>水瓶座</option>
					 <option>双鱼座</option>
					 <option>白羊座</option>
					 <option>金牛座</option>
					 <option>双子座</option>
					 <option>巨蟹座</option>
					 <option>狮子座</option>
					 <option>处女座</option>
					 <option>天秤座</option>
					 <option>天蝎座</option>
					 <option>射手座</option>
					 <option>摩羯座</option>
				 </select>
				 <br />
				 <br />
				 籍贯：  <input type="text" class="text" style="width: 20%;" name="native_place" id="native_place"/>
				 <br />
				 <br />
				 学历：
				 <select style="width: 20%;height: 28px;" id="educational" name="educational">
					 <option value="1">小学</option>
					 <option value="2">初中</option>
					 <option value="3">高中</option>
					 <option value="4">专科</option>
					 <option value="5">本科</option>
				 </select>
				 <br />
				 <br />

				 婚否：
				 <select style="width: 20%;height: 28px;" id="marriage" name="marriage">
					 <option>未婚</option>
					 <option>已婚</option>
					 <option>离异</option>
				 </select>
				 <br />
				 <br />

				 上传头像：
				 <input type="file" name="title_img" id="title_img"/>
				 <br />
				 <br />


				<!---->
				 <!--添加联系记录：-->
				 <!--<br/>-->
				 <!--<div id="use" style="width: 20%; height: 150px;margin-left: 50px; font-size:14px; display: block;border: 1px solid lightblue;margin-bottom: 10px; padding: 10px 0 0 10px;">-->
					 <!--下次联系时间：<input type="text" id="next_time" name="next_time" style="width: 60%; height: 20px; " placeholder="2015-05-03"/>-->
					 <!--<br/>-->
					 <!--备注：<textarea name="remark" id="remark"  rows="5" style="vertical-align: text-top; width: 70%;margin-top: 10px;"></textarea>-->
					 <!--<br/>-->

				 <!--</div>-->

				<span class="save-button"  style="width:20%;margin-top: 20px;margin-left: 3%;" id="submit" >保&nbsp;存</span>
		   	 </div>
			</form>
		</div>




<include file="Nav/footer" />


<script>
	var MODULE='__MODULE__';

	$('#id_card').live('change',function(){
		var id_card = $(this).val();
		var year = new Date().getFullYear() ;
		var year_o =id_card.substr(6,4);
		var moth_o = id_card.substr(10,2);
		var ady_o = id_card.substr(12,2);
		$('#age').val(year-year_o);
		$('#birthday').val(year_o+'-'+moth_o+'-'+ady_o);
	});




	var reg=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;
	var reg1 = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
	var reg2 = /^((0?1[34578]\d{9})|((0(10|2[1-9]|[3-9]\d{2}))?(-)?[1-9]\d{6,7}))$/;
	$("#submit").live('click',function(){
		if(!(reg2.test($("#phone").val()))){
			alert("请填写学员正确的电话!");
			return false;
		}else if(!reg.test($("#birthday").val())){
				alert("出生日期格式不正确！");
				return false;
		}else if(!reg1.test($("#id_card").val())){
			alert("身份证格式不正确！");
			return false;
		}else if($("#id_card").val()==''||$("#birth").val()==''||$("#address").val()==''||$("#family").val()==''||$("#character").val()==''||$("#age").val()==''||$("#height").val()==''||$("#weight").val()==''||$("#native_place").val()==''){
			alert("请完善基本信息！");
			return false;
		}
		$("#form").submit();
	})

</script>

</html>