<include file="Nav/header"/>
<style>
	.add_day{
		background-color:#fff;
		border:5px solid rgba(0,0,0, 0.4);
		height:500px;
		padding:1px;
		position:fixed !important; /* 浮动对话框 */
		margin:auto;
		left:0; right:0; top:0; bottom:0;
		width:600px;
		z-index:500;
		border-radius:5px;
		display:none;
	}
</style>

		<div class="list_right">
			<div class="col-lg-12">
			<a href="{:U('Training/tlist',array('type'=>1))}"><span  style="position: relative; <?php if($_GET['type']==1){ echo 'background: #47C8A2;color:#ffffff;';}?>">培训中
				{$number[1]}
			</span></a>

			<a href="{:U('Training/tlist',array('type'=>2))}"><span  style="position: relative; <?php if($_GET['type']==2){ echo 'background: #47C8A2;color:#ffffff;';}?>">已结业
				{$number[2]}
			</span></a>

			<a href="{:U('Training/tlist',array('type'=>3))}"><span  style="position: relative; <?php if($_GET['type']==3){ echo 'background: #47C8A2;color:#ffffff;';}?>">已上单
				{$number[3]}
			</span></a>

			<a href="{:U('Training/tlist',array('type'=>5))}"><span  style="position: relative; <?php if($_GET['type']==5){ echo 'background: #47C8A2;color:#ffffff;';}?>">已考证
				{$number[5]}
			</span></a>

			<a href="{:U('Training/tlist',array('type'=>6))}"><span  style="position: relative; <?php if($_GET['type']==6||!$_GET['type']){ echo 'background: #47C8A2;color:#ffffff;';}?>">体检计划
				{$number[6]}
			</span></a>

			<a href="{:U('Training/tlist',array('type'=>4))}"><span  style="position: relative; <?php if($_GET['type']==4){ echo 'background: #47C8A2;color:#ffffff;';}?>">已淘汰
				{$number[4]}
			</span></a>

				<a href="{:U('Training/tlist',array('type'=>7))}"><span  style="position: relative; <?php if($_GET['type']==7){ echo 'background: #47C8A2;color:#ffffff;';}?>">日报
				{$number[7]}
			</span></a>

				<a href="{:U('Training/tlist',array('type'=>8))}"><span  style="position: relative; <?php if($_GET['type']==8){ echo 'background: #47C8A2;color:#ffffff;';}?>">3月内生日
				{$number[8]}
			</span></a>

				<a href="{:U('Training/tlist',array('type'=>9))}"><span  style="position: relative; <?php if($_GET['type']==9){ echo 'background: #47C8A2;color:#ffffff;';}?>">已输出
				{$number[9]}
			</span></a>

				<a href="{:U('Training/count_html')}"><span  style="position: relative; <?php if(ACTION_NAME=='count_html'){ echo 'background: #47C8A2;color:#ffffff;';}?>">统计
			</span></a>

			</div>


			<div class="table">
				<table class="hovertable" id="nurse_list">
					<form action="__MODULE__/Training/count_excel" method="post" id="form1" enctype="multipart/form-data" >

						<div class="search">

							&emsp;开始日期:
							<input type="text" style="width: 100px;" name="time_b_1" id="time_b_1"/>
							&emsp;结束日期:
							<input type="text" style="width: 100px;" name="time_s_1" id="time_s_1"/>



					<span style=" ">
						<input type="button" value="导出统计" class="search-button"  id="count_1"/>
					</span>
						</div>
					</form>
				</table>
			</div>
		</div>
<include file="Nav/footer"/>
<script>
	var date=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;


	$("#count_1").live('click',function(){
		if(!($('#time_b_1').val()==''|| date.test($('#time_b_1').val()))){
			alert('开始时间格式不正确！');
			return false;
		}
		if(!($('#time_s_1').val()==''|| date.test($('#time_s_1').val()))){
			alert('结束时间格式不正确！');
			return false;
		}

		if($('#time_b_1').val()>$('#time_s_1').val()||$('#time_b_1').val()==''){
			alert('请填写正确时间段！');
			return false;
		}
		$('#form1').attr('action','__MODULE__/Training/count_excel/type/1');
		$("#form1").submit();
	});

</script>



</html>