
<include file="Nav/header"/>
<style>
	.report_table {
		font-family: verdana, arial, sans-serif;
		font-size: 11px;
		color: #333333;
		border-width: 1px;
		border-collapse: collapse;
		text-align: center;
		margin: 20px auto;
		width: 84%;

	}

	.report_table th,.report_table caption {
		background-color: #c3dde0;
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #000;
		text-align: center;
	}

	.report_table tr {
		background-color: #d4e3e5;
	}

	.report_table td ,.report_table caption{
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #000;
	}

</style>

<!--加入黑名单弹出框-->


<div style="width:75%;padding-top: 10px;color: #333F50;font-family: 'microsoft yahei';font-size: 18px; margin-top: 130px;margin-left: 10%;" >

	<table class="report_table" id="nurse_list">
		<caption style="text-align: center; background: #4F81BD;color: #ffffff;font-size: 20px;">{$report.date}培训日报</caption>

		<tr>
			<td style="width: 80px;">培训人数</td>
			<td>{$report.number} 人({$report.number_detail})</td>
		</tr>
		<tr style="background:#B8CCE4;">
			<td style="width: 80px;">培训教师</td>
			<td style="text-align: center;">{$report.teacher}</td>
		</tr>
		<tr>
			<td style="width: 80px;">培训内容</td>
			<td style="text-align: left;"><pre>{$report.content}</pre></td>
		</tr>

		<tr style="background: #B8CCE4;">
			<td style="width: 80px;">学员得分</td>
			<td>{$report.score_detail}</td>
		</tr>

		<tr>
			<td style="width: 80px;">课堂记录</td>
			<td style="text-align: left;"><pre>{$report.remark}</pre></td>
		</tr>


		<tr>
			<td style="width: 80px;">午会日报</td>
			<td style="text-align: left;">会议人员：<pre>{$report.meeting_people}</pre>

				公司需求：<pre>{$report.company_needs}</pre>

				详细内容：<pre>{$report.meeting_content}</pre>


			</td>
		</tr>

		<tr style="background: #B8CCE4;">
			<td style="width: 80px;">商户学员沟通</td>
			<td style="text-align: left;">
				<volist name="teacher" id="vo" empty="无">
					督导老师：{$vo.teacher}<br/>
					督导学员：{$vo.training_name}<br/>
					沟通情况：<br/>
					{$vo.situation}
				</volist>

			</td>
		</tr>

	</table>



</div>
<include file="Nav/footer"/>

<script src="__PUBLIC__/js/Chart.js"></script>


</html>
