
<include file="Nav/header"/>



<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />

		<!--加入黑名单弹出框-->
		<div id="die_dialog">
			<p class="close" id="close_die_dialog"><a href="javascript:" >X</a></p>
			<form action="__MODULE__/Training/edit_die_time" method="post" id="die_form" onsubmit="javascript:return window.confirm('确定淘汰TA么？')"  enctype="multipart/form-data">
				<p style="text-align: center; margin-top: 30px;color: red;" id="warning_p">你确认要淘汰学员 {$training.name}？</p>
				<br/>
				理由: <input type="text" id="die_reason" name="die_reason"  style="width: 80%" />
				<input type="hidden" value="{$training.id}" name="die_id" />


				<br/>
				<br/>
				<span  class="btn btn-default" id="die_dialog_submit" style="margin-left: 55px;">确认</span>
				<span  class="btn btn-default" id="close_die_dialog_span" style="margin-left: 130px;">取消</span>
			</form>

		</div>

		<div style="width:80%;padding-bottom: 150px;padding-top: 90px;padding-left: 15%;color: #333F50;font-family: 'microsoft yahei';font-size: 18px;margin-left: 5%;" >
		   	 <h1 style="font-size: 45px;font-weight: normal;margin: 30px 0 20px 5%;">学员详情</h1>

			<include file="Nav/info_header"/>


			<br/>

			<div class="ayi-information" style="height: auto;display: inline-block; position: relative;">
				<img src="__UPLOADS__/{$training.title_img}" alt="没有上传头像" style="position: absolute;display: none;top: 15px;left: 150px; max-width: 300px;" id="title_img"/>
				<ul class="infor-ul f-cb">
					<li class="infor-address" style="width: 80px;height: 30px;">学员名字</li>
					<li class="infor-address-content" style="vertical-align: middle;width: 220px;height: 30px;color: #47C8A2">{$training.name}<i  class="row_text"  id="title_img_show" style="cursor: pointer;"	title="点击查看头像">头</i>
						<?php if($_SESSION[C('TRAINING_AUTH_KEY')]['permission']==1||$_SESSION[C('TRAINING_AUTH_KEY')]['edit_per']==1){?>
							<a href="__MODULE__/Training/editTraining/id/<?php echo $training['id'];?>.html" style="float: right;"><i  class="row_text" 	title="修改基本信息">修</i></a>
						<?php }?>
					</li>

					<li class="infor-address" style="width: 80px;height: 30px;">学员状态</li>
					<li class="infor-address-content" style="width: 200px;height: 30px;color: #47C8A2">
						<if condition="$training.status eq 1">
							<a href="{:U('Training/tlist',array('type'=>1))}"><i  class="row_text" 	title="培训中">培</i></a>
						<elseif condition="$training.status eq 2"/>
							<a href="{:U('Training/tlist',array('type'=>2))}"><i  class="row_text" 	title="已结业">结</i></a>
						<elseif condition="$training.status eq 3"/>
							<a href="{:U('Training/tlist',array('type'=>3))}"><i  class="row_text" 	title="已签单">签</i></a>
						<elseif condition="$training.status eq 4"/>
							<a href="{:U('Training/tlist',array('type'=>4))}"><i  class="row_text" 	title="已淘汰">淘</i></a>
						</if>
					</li>

					<li class="infor-address" style="width: 80px;height: 30px;">身份证</li>
					<li class="infor-address-content" style="vertical-align: middle;width: 220px;height: 30px;color: #47C8A2">{$training.id_card}</li>


					<li class="infor-address" style="width: 80px;height: 30px;">出生日期</li>
					<li class="infor-address-content" style="width: 200px;height: 30px;color: #47C8A2">{$training.birthday} </li>

					<li class="infor-address" style="width: 80px;height: 30px;">性别</li>
					<li class="infor-address-content" style="vertical-align: middle;width: 220px;height: 30px;color: #47C8A2">
						<if condition="$training.sex eq 0">
							保密
							<elseif condition="$training.sex eq 1"/>
							男
							<elseif condition="$training.sex eq 2"/>
							女
						</if>
					</li>


					<li class="infor-address" style="width: 80px;height: 30px;">年龄</li>
					<li class="infor-address-content" style="width: 200px;height: 30px;color: #47C8A2">{$training.age} </li>


					<li class="infor-address" style="width: 80px;height: 30px;">身高</li>
					<li class="infor-address-content" style="vertical-align: middle;width: 220px;height: 30px;color: #47C8A2">{$training.height}</li>

					<li class="infor-address" style="width: 80px;height: 30px;">体重</li>
					<li class="infor-address-content" style="vertical-align: middle;width: 220px;height: 30px;color: #47C8A2">{$training.weight}</li>


					<li class="infor-address" style="width: 80px;height: 30px;">属相</li>
					<li class="infor-address-content" style="vertical-align: middle;width: 220px;height: 30px;color: #47C8A2">{$training.zodiac}</li>

					<li class="infor-address" style="width: 80px;height: 30px;">星座</li>
					<li class="infor-address-content" style="vertical-align: middle;width: 220px;height: 30px;color: #47C8A2">{$training.constellation}</li>


					<li class="infor-address" style="width: 80px;height: 30px;">籍贯</li>
					<li class="infor-address-content" style="vertical-align: middle;width: 220px;height: 30px;color: #47C8A2">{$training.native_place}</li>

					<li class="infor-address" style="width: 80px;height: 30px;">学历</li>
					<li class="infor-address-content" style="vertical-align: middle;width: 220px;height: 30px;color: #47C8A2">{$training.educational_name}</li>




					<li class="infor-address" style="width: 80px;height: 30px;">婚姻情况</li>
					<li class="infor-address-content" style="vertical-align: middle;width: 220px;height: 30px;color: #47C8A2">{$training.marriage}</li>

					<li class="infor-address" style="width: 80px;height: 30px;">生育情况</li>
					<li class="infor-address-content" style="vertical-align: middle;width: 220px;height: 30px;color: #47C8A2">{$training.birth}</li>

					<li class="infor-address" style="width: 80px;height: 30px;">银行卡</li>
					<li class="infor-address-content" style="vertical-align: middle;width: 70%;height: 30px;color: #47C8A2">{$training.bank_card}</li>


					<li  class="infor-address"style="width: 80px;height: 28px;">详细住址</li>
					<li  class="infor-address-content" style=" width:70%;color: #47C8A2;height: auto;">{$training.address}</li>


					<li  class="infor-address"style="width: 80px;height: 28px;">家庭情况</li>
					<li  class="infor-address-content" style=" width:70%;color: #47C8A2;height: auto;">{$training.family}</li>


					<li  class="infor-address"style="width: 80px;height: 28px;">性格评价</li>
					<li  class="infor-address-content" style=" width:70%;color: #47C8A2;height: auto;">{$training.character}</li>
				</ul>
			</div>
			<br/>
			<br/>

			<if condition="$training.status eq 4">
				<div class="ayi-information" style="height: auto;">
					<ul class="infor-ul f-cb" >
						<li class="infor-address" style="width: 80px;height: 28px;">淘汰日期</li>
						<li class="infor-address-content" style="vertical-align: middle;width: 75%;height: 30px;color: #47C8A2">{$training.die_time}</li>

						<li  class="infor-address"style="width: 80px;height: 28px;">淘汰原因</li>
						<li  class="infor-address-content" style=" width:75%;color: #47C8A2;height: auto;">{$training.die_reason}</li>
					</ul>
				</div>
			</if>


			<div class="ayi-information" style="height: auto;">
				<?php if($_SESSION[C('TRAINING_AUTH_KEY')]['permission']==1||$_SESSION[C('TRAINING_AUTH_KEY')]['edit_per']==1){?>
					<?php if($training['status']!=4){?>
					<i  class="row_text" 	title="添加结业信息" style="cursor: pointer;margin:10px 0 10px 10px;" id="add_stop">+</i>
					<?php  echo '<span style="color:#cccccc;font-size:16px;">还未结业，点击左边‘+’添加结业信息</span>';}?>
				<?php }?>


				<br/>
				<div  style='width: 85%; margin: 0 auto;margin-bottom: 10px;box-shadow: #000122 0px 0px 5px;padding: 20px; display: none;' id="add_stop_div">

					<form action="__MODULE__/Training/edit_stop_time" method="post" id="stop_form" onsubmit="javascript:return window.confirm('确定修改么？')"  enctype="multipart/form-data">
						结业时间： <input type="text" class="text" style="width: 80%;" name="stop_time" id="stop_time" value=""/>
						<input type="hidden" name="stop_id" value="{$training.id}"/>
						<br />
						<br />
						<!--领证日期： <input type="text" class="text" style="width: 80%;" name="stop_zhengshu_time" id="stop_zhengshu_time" value=""/>-->
						<!--<br />-->
						<!--<br />-->
						老师评语： <input type="text" class="text" style="width: 80%;" name="teacher_comments" id="teacher_comments" value=""/>

						<br/><br/>
						<span class="save-button"  style="width:20%;margin-left: 3%;display: inline-block;" id="submit_stop" >保&nbsp;存</span> <span class="save-button"  style="width:20%;margin-left: 3%;display: inline-block;" id="cancel_stop" >取&nbsp;消</span>
					</form>
				</div>

				<ul class="infor-ul f-cb" id="stop_ul"  style="display: <?php if($training['stop_time']){echo 'block';}else{echo 'none';}?>">
					<li class="infor-address" style="width: 80px;height: 28px;">结业日期</li>
					<li class="infor-address-content" style="vertical-align: middle;width:75%;height: 30px;color: #47C8A2">{$training.stop_time}</li>

					<!--<li class="infor-address" style="width: 80px;height: 28px;">领证日期</li>-->
					<!--<li class="infor-address-content" style="width: 200px;height: 30px;color: #47C8A2">{$training.stop_zhengshu_time} </li>-->

					<li  class="infor-address"style="width: 80px;height: 28px;">老师评语</li>
					<li  class="infor-address-content" style=" width:75%;color: #47C8A2;height: auto;">{$training.teacher_comments}</li>
				</ul>
			</div>


			<div class="ayi-information" style="height: auto;margin-bottom: 50px;">
				<?php if($_SESSION[C('TRAINING_AUTH_KEY')]['permission']==1||$_SESSION[C('TRAINING_AUTH_KEY')]['edit_per']==1){?>
					<i  class="row_text" 	title="<?php if($training['price_time']){echo '修改';}else{echo '新增';}?>" style="cursor: pointer;margin:10px 0 10px 10px;" id="add_price">+</i>
					<?php if(!$training['price_time']){echo '<span style="color:#cccccc;font-size:16px;">薪资还未定级，点击左边‘+’添加</span>';}else{echo '<span style="color:#cccccc;font-size:16px;">薪资已定级，点击左边‘+’进行修改</span>';}?>
				<?php }?>
				<br/>
				<div  style='width: 85%; margin: 0 auto;margin-bottom: 10px;box-shadow: #000122 0px 0px 5px;padding: 20px; display: none;' id="add_price_div">

					<form action="__MODULE__/Training/edit_price_time" method="post" id="price_form" onsubmit="javascript:return window.confirm('确定修改么？')"  enctype="multipart/form-data">
						评薪日期： <input type="text" class="text" style="width: 80%;" name="price_time" id="price_time" value="{$training.price_time}"/>
						<input type="hidden" name="price_id" value="{$training.id}"/>
						<br />
						<br />
						评薪标准： <input type="text" class="text" style="width: 80%;" name="price_standard" id="price_standard" value="{$training.price_standard}"/>
						<br />
						<br />
						技能评价：
						<input type="number" class="text" style="width: 11%;" name="skill1" id="skill1" value="{$training.skills.0}" placeholder="月子餐" title="月子餐"/>
						<input type="number" class="text" style="width: 11%;" name="skill2" id="skill2" value="{$training.skills.1}" placeholder="病理知识" title="病理知识"/>
						<input type="number" class="text" style="width: 11%;" name="skill3" id="skill3" value="{$training.skills.2}" placeholder="护理经验" title="护理经验"/>
						<input type="number" class="text" style="width: 11%;" name="skill4" id="skill4" value="{$training.skills.3}" placeholder="通乳催乳" title="通乳催乳"/>
						<input type="number" class="text" style="width: 11%;" name="skill5" id="skill5" value="{$training.skills.4}" placeholder="心里疏导" title="心里疏导"/>
						<input type="number" class="text" style="width: 11%;" name="skill6" id="skill6" value="{$training.skills.5}" placeholder="产后恢复" title="产后恢复"/>
						<input type="number" class="text" style="width: 11%;" name="skill7" id="skill7" value="{$training.skills.6}" placeholder="科学喂养" title="科学喂养"/>

						<br />
						<br />
						薪资金额： <input type="text" class="text" style="width: 80%;" name="price" id="price" value="{$training.price}"/>

						<br/><br/>
						<span class="save-button"  style="width:20%;margin-left: 3%;display: inline-block;" id="submit_price" >保&nbsp;存</span> <span class="save-button"  style="width:20%;margin-left: 3%;display: inline-block;" id="cancel_price" >取&nbsp;消</span>
					</form>
				</div>



				<ul class="infor-ul f-cb" id="price_ul"  style="display: <?php if($training['price_time']){echo 'block';}else{echo 'none';}?>">
					<li class="infor-address" style="width: 80px;height: 28px;">评薪日期</li>
					<li class="infor-address-content" style="vertical-align: middle;width: 230px;height: 30px;color: #47C8A2">{$training.price_time}</li>

					<li class="infor-address" style="width: 80px;height: 28px;">薪资金额</li>
					<li class="infor-address-content" style="width: 200px;height: 30px;color: #47C8A2">{$training.price} </li>

					<li  class="infor-address"style="width: 80px;height: 28px;">评薪标准</li>
					<li  class="infor-address-content" style=" width:75%;color: #47C8A2;height: auto;">{$training.price_standard}</li>

					<li  class="infor-address"style="width: 80px;height: 28px;">得分详情</li>
					<li  class="infor-address-content" style=" width:75%;color: #47C8A2;height: auto;">
						月子餐({$training.skills.0})、
						病理知识({$training.skills.1})、
						护理经验({$training.skills.2})、
						通乳催乳({$training.skills.3})、
						心里疏导({$training.skills.4})、
						产后恢复({$training.skills.5})、
						科学喂养({$training.skills.6})
					</li>

					<li class="infor-address" style="width: 80px;height: 28px;">平均得分</li>
					<li class="infor-address-content" style="width: 200px;height: 30px;color: #47C8A2">{$training.average_score} </li>

				</ul>
			</div>

			<i style="clear: both;"></i>
		   	
		</div>
<include file="Nav/footer"/>

<script src="__PUBLIC__/js/Chart.js"></script>

<script>
	var price_time = <?php echo $training['price_time']?$training['price_time']:0;?>;
	var date=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;


	$("#die_training").live('click',function(){
		$("#die_dialog").toggle();
	});
	$("#close_die_dialog").live('click',function(){
		$("#die_dialog").toggle();
	});
	$("#close_die_dialog_span").live('click',function(){
		$("#die_dialog").toggle();
	});
	$("#title_img_show").live('click',function(){
		$("#title_img").toggle();
	});
	$("#title_img").live('click',function(){
		$("#title_img").toggle();
	});

	$("#die_dialog_submit").live('click',function(){
		if($("#die_reason").val()==''){
			alert("请填写淘汰理由!");
			return false;
		}

		$("#die_form").submit();
	});


	$("#add_stop").live('click',function(){
		$("#add_stop_div").toggle();
	});

	$("#cancel_stop").live('click',function(){
		$("#add_stop_div").toggle();
	});


	$("#submit_stop").live('click',function(){
		if(!(date.test($("#stop_time").val()))){
			alert("请填写正确结业日期!");
			return false;
		}else if($('#teacher_comments').val()==''){
			alert("请填写老师评语!");
			return false;
		}

		$("#stop_form").submit();
	});



	$("#add_price").live('click',function(){
		$("#add_price_div").toggle();
		if($("#add_price_div").css('display')=='block'){
			$('#price_ul').hide();
		}else{
			if(price_time!=0){
				$('#price_ul').show();
			}
		}
	});

	$("#cancel_price").live('click',function(){
		$("#add_price_div").toggle();
		if($("#add_price_div").css('display')=='block'){
			$('#price_ul').hide();
		}else{
			if(price_time!=0){
				$('#price_ul').show();
			}
		}
	});

	$("#submit_price").live('click',function(){
		if(!(date.test($("#price_time").val()))){
			alert("请填写正确日期!");
			return false;
		}else if($('#price_standard').val()==''){
			alert("请填写评薪标准!");
			return false;
		}else if($('#price').val()==''){
			alert("请填写薪资金额!");
			return false;
		}else if($("#skill1").val()==''||$("#skill2").val()==''||$("#skill3").val()==''||$("#skill4").val()==''||$("#skill5").val()==''||$("#skill6").val()==''||$("#skill7").val()==''||$("#skill1").val()<0||$("#skill1").val()>100||$("#skill2").val()>100||$("#skill2").val()<0||$("#skill3").val()>100||$("#skill3").val()<0||$("#skill4").val()>100||$("#skill4").val()<0||$("#skill5").val()>100||$("#skill5").val()<0||$("#skill6").val()>100||$("#skill6").val()<0||$("#skill7").val()>100||$("#skill7").val()<0) {
			alert("请完善技能评价!");
			return false;

		}

		$("#price_form").submit();
	});



	$('#close').live('mouseover',function(){
		$(this).css('background', '#47c8a2');
		$(this).css('color', '#ffffff');

	});
	$('#close').live('mouseout',function(){
		$(this).css('background', '#eeeeee');
		$(this).css('color', '#000');
	});

$("#to_submit").live('click',function(){
	if($("#remark").val()==''){
		alert('联系详情不能为空');
		return false;
	}
	var reg=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;

	if(!reg.test($("#next_time").val())){
		alert('下次联系时间格式不正确！');
		return false;
	}
	var trainee_id = $("#trainee_id").val();
	var employee_name = $("#employee_name").val();
	var next_time = $("#next_time").val();
	var remark = $("#remark").val();


	$.AjaxPost(MODULE+"/Trainee/addRecord", {trainee_id:trainee_id,employee_name:employee_name,next_time:next_time,remark:remark}, function (backdata) {
		if (backdata.code == 1000) {
			alert('添加成功！');
			window.location.reload();
		}else if(backdata.code == 1001){
			alert('已存在该条联系记录，请勿重复添加！');
		}else{
			alert('添加失败！');
		}
	});
});

$("#to_cancel").live('click',function(){
	if(window.confirm('确定重置么？')){
		$("#employee_name option:first").prop("selected", 'selected');
		$("#next_time").val('');
		$("#remark").val('');
	}
});


</script>


</html>

