<link href="__PUBLIC__/admin/page.css" rel="stylesheet">

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a href="#" target="_blank" title="网站首页"> <img src="__PUBLIC__/admin/image/logo.png" alt="" style="width: 50px; float: left;"/></a>
    <a class="navbar-brand" href="index.html">田螺阿姨</a>
</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">


    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span style="color: #c3c3c3;">欢迎您，</span><?php echo $_SESSION[C('ADMIN_AUTH_KEY')]['real_name'];?>
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>-->
            <!--</li>-->
            <li><a href="{:U('Admin/info')}"><i class="fa fa-sign-out fa-fw"></i> 个人信息</a>
            </li>
            <li><a href="{:U('Admin/changepass')}"><i class="fa fa-gear fa-fw"></i> 修改密码</a>
            </li>
            <li class="divider"></li>
            <li><a href="{:U('Admin/login_out')}"  onclick="javascript:return window.confirm('确定退出么？')"><i class="fa fa-sign-out fa-fw"></i> 退出登录</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
