<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">

        <ul class="nav" id="side-menu" style="margin-top: 20px;">

            <?php if($_SESSION[C('ADMIN_AUTH_KEY')]['nurse']==1){?>
            <li   <?php if(CONTROLLER_NAME=='Confinement'){?> style="background-color: #00ccff"<?php }?>>
            <a href="{:U('Confinement/index')}"><i class="fa fa-bar-chart-o fa-fw"></i> 阿姨管理</a>
            </li>
            <?php }?>

            <?php if($_SESSION[C('ADMIN_AUTH_KEY')]['news']==1){?>
            <li   <?php if(CONTROLLER_NAME=='News'){?> style="background-color: #00ccff"<?php }?>>
                <a href="{:U('News/index',array('type'=>1))}"><i class="fa fa-bar-chart-o fa-fw"></i> 新闻中心</a>
            </li>
            <?php }?>

            <?php if($_SESSION[C('ADMIN_AUTH_KEY')]['job']==1){?>
            <li   <?php if(CONTROLLER_NAME=='Message'){?> style="background-color: #00ccff"<?php }?>>
            <a href="{:U('Message/index')}"><i class="fa fa-bar-chart-o fa-fw"></i> 招聘留言</a>
            </li>
            <?php }?>

            <?php if($_SESSION[C('ADMIN_AUTH_KEY')]['destine']==1){?>
            <li   <?php if(CONTROLLER_NAME=='Destine'){?> style="background-color: #00ccff"<?php }?>>
            <a href="{:U('Destine/index')}"><i class="fa fa-bar-chart-o fa-fw"></i> 预约留言</a>
            </li>
            <?php }?>


            <!--<li   <?php if(CONTROLLER_NAME=='Banner'&& (ACTION_NAME == 'addBanner'||ACTION_NAME == 'editBanner'||ACTION_NAME == 'bannerList')){?> style="background-color: #00ccff"<?php }?>>-->
            <!--<a href="{:U('Banner/bannerList')}"><i class="fa fa-bar-chart-o fa-fw"></i> Banner</a>-->
            <!--</li>-->

            <li   <?php if(CONTROLLER_NAME=='Banner'&& (ACTION_NAME == 'friendList'||ACTION_NAME == 'editFriend'||ACTION_NAME == 'addFriend')){?> style="background-color: #00ccff"<?php }?>>
            <a href="{:U('Banner/friendList')}"><i class="fa fa-bar-chart-o fa-fw"></i>友联管理</a>
            </li>

            <?php if($_SESSION[C('ADMIN_AUTH_KEY')]['permission']==1){?>
            <li   <?php if(CONTROLLER_NAME=='Admin'&& (ACTION_NAME=='employee'|| ACTION_NAME=='addEmployee')){?> style="background-color: #00ccff"<?php }?>>
                <a href="{:U('Admin/employee')}"><i class="fa fa-bar-chart-o fa-fw"></i> 员工管理</a>
            </li>
            <?php }?>

            <?php if($_SESSION[C('ADMIN_AUTH_KEY')]['video']==1){?>
            <li   <?php if(CONTROLLER_NAME=='Admin'&& (ACTION_NAME=='video'|| ACTION_NAME=='addVideo'|| ACTION_NAME=='editVideo')){?> style="background-color: #00ccff"<?php }?>>
            <a href="{:U('Admin/video')}"><i class="fa fa-bar-chart-o fa-fw"></i> 视频管理</a>
            </li>
            <?php }?>

            <li   <?php if(CONTROLLER_NAME=='Admin'&& (ACTION_NAME=='info'|| ACTION_NAME=='changepass')){?> style="background-color: #00ccff"<?php }?>>
            <a href="{:U('Admin/info')}"><i class="fa fa-bar-chart-o fa-fw"></i> 个人信息</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

