<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>网后台管理</title>

    <!-- Bootstrap Core CSS -->
    <link href="__PUBLIC__/admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="__PUBLIC__/admin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__PUBLIC__/admin/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="__PUBLIC__/admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>
<img src="__PUBLIC__/admin/image/logo.png" alt="" style="width: 50%;float: left;min-width: 600px;"/>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4"  style=" width:20%;position: absolute;right: 25%;top:20%;min-width: 300px;">
                <div class="login-panel panel panel-default" >
                    <!--<div style="margin: 10px auto; width: 150px; ">-->
                        <!--<img src="__PUBLIC__/admin/image/logo.png" alt="" style="width: 150px;"/>-->
                    <!--</div>-->
                    <div class="panel-heading">
                        <h3 class="panel-title">后台管理系统</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="__MODULE__/Admin/login">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="用户名" name="username" type="text" >
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="密码" name="pwd" type="password">
                                </div>
                                <input type="submit" value="登录" class="btn btn-lg btn-success btn-block">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- jQuery -->
    <script src="__PUBLIC__/admin/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="__PUBLIC__/admin/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="__PUBLIC__/admin/dist/js/sb-admin-2.js"></script>


<script>

//    function img(obj){
//        var b=$(obj).find('img').attr('src');
//        alert(b);
//    }

</script>

</body>

</html>
