
</body>

<script src="__PUBLIC__/js/jquery-1.7.1.min.js"></script>
<!--<script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>-->

<script src="__PUBLIC__/js/jquery.longyuJs.js"></script>

<script>
    var MODULE = '__MODULE__';
    var UPLOADS = '__UPLOADS__';


    $("#die_training").live('click',function(){
        $("#die_dialog").toggle();
    });
    $("#close_die_dialog").live('click',function(){
        $("#die_dialog").toggle();
    });
    $("#close_die_dialog_span").live('click',function(){
        $("#die_dialog").toggle();
    });
    $("#title_img_show").live('click',function(){
        $("#title_img").toggle();
    });
    $("#title_img").live('click',function(){
        $("#title_img").toggle();
    });

    $("#die_dialog_submit").live('click',function(){
        if($("#die_reason").val()==''){
            alert("请填写放弃理由!");
            return false;
        }

        $("#die_form").submit();
    });
    $('#close').live('mouseover',function(){
        $(this).css('background', '#47c8a2');
        $(this).css('color', '#ffffff');

    });
    $('#close').live('mouseout',function(){
        $(this).css('background', '#eeeeee');
        $(this).css('color', '#000');
    });

    //关闭灰色 jQuery 遮罩
    function closeBg() {
        $("#fullbg,#dialog").hide();
    }


    $('#computer').live('click',function(){
        $("#dialog").toggle()
    });

    $("#computer_to").live('click',function(){
        var str = $('#computer_birth').val();
        var reg=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;

        var reg1 = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
        if(!reg.test(str)&&!reg1.test(str)){
            alert('格式不正确！');
            return false;
        }
        $.AjaxPost(MODULE+"/Common/computer_birth", {str:str}, function (backdata) {
            if (backdata.code == 1000) {
                $('#birth_zodiac').text(backdata.data);
            }
        }, true);
    });

</script>