
<style>
    .row_text{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background: #47C87E;
        text-align: center;
        line-height: 30px;
        font-size: 10px;
        display: inline-block;
        margin-left: 10px;
        color: #ffffff;
    }
    .row_text:hover{box-shadow: #5C372E 0px 0px 5px;background: #47C900;}
    .rew_text_hover{box-shadow: #0002F4 0px 0px 5px;background: #47C9FF;}
</style>
<a href="javascript:history.back();" id="back_list"><i  class="row_text"  title="返回" style="margin-left: 15px;">返</i></a>

<a href="__MODULE__/Order/info/id/{$info.id}.html"><i  class="row_text <?php if(ACTION_NAME=='info'){echo 'rew_text_hover';}?>" 	title="订单基本信息"  style="margin-left: 50px;">基</i></a>
<a href="__MODULE__/Order/record/id/{$info.id}.html"><i  class="row_text <?php if(ACTION_NAME=='record'){echo 'rew_text_hover';}?>" 	title="联系记录" >联</i></a>
<a href="__MODULE__/Order/visit/id/{$info.id}.html"><i  class="row_text <?php if(ACTION_NAME=='visit'){echo 'rew_text_hover';}?>" 	title="回访记录">回</i></a>
<a href="__MODULE__/Order/body_test/id/{$info.id}.html"><i  class="row_text <?php if(ACTION_NAME=='body_test'){echo 'rew_text_hover';}?>" 	title="体检记录">体</i></a>
<a href="__MODULE__/Order/safe/id/{$info.id}.html"><i  class="row_text <?php if(ACTION_NAME=='safe'){echo 'rew_text_hover';}?>" 	title="投保计划">保</i></a>
    <if condition="$_SESSION[C('ORDER_AUTH_KEY')]['permission_have'] eq 1">
        <a href="__MODULE__/Order/expect/id/{$info.id}.html"><i  class="row_text <?php if(ACTION_NAME=='expect'){echo 'rew_text_hover';}?>" 	title="客户付款">款</i></a>
    </if>
<a href="__MODULE__/Order/training/id/{$info.id}.html"><i  class="row_text <?php if(ACTION_NAME=='training'){echo 'rew_text_hover';}?>" 	title="上户前培训">培</i></a>
<a href="__MODULE__/Order/supervisor/id/{$info.id}.html"><i  class="row_text <?php if(ACTION_NAME=='supervisor'){echo 'rew_text_hover';}?>" 	title="督导计划">督</i></a>

<a href="javascript:" id="die_training" ><i  class="row_text"   	title="放弃该订单">弃</i></a>
<?php
    if($info['status']==3||$info['status']==2){
        $have = M('order_nurse')->where('is_customer_service='.$info['id'].'')->find();
        $have_customer_service = $have?0:1;

    }
?>

<if condition="$have_customer_service eq '1'">
    <a href="__MODULE__/Order/to_customer_service/id/{$info.id}.html"><i  class="row_text <?php if(ACTION_NAME=='to_customer_service'){echo 'rew_text_hover';}?>" 	title="售后该订单">售</i></a>
</if>

<div id="die_dialog">
    <p class="close" id="close_die_dialog"><a href="javascript:" >X</a></p>
    <form action="__MODULE__/Order/edit_die_time" method="post" id="die_form" onsubmit="javascript:return window.confirm('确定放弃订单？')"  enctype="multipart/form-data">
        <p style="text-align: center; margin-top: 30px;color: red;" id="warning_p">你确认要放弃 {$info.name}的订单？</p>
        <br/>
        理由: <input type="text" id="die_reason" name="die_reason"  style="width: 80%" />
        <input type="hidden" value="{$info.id}" name="die_id" />

        <br/>
        <br/>
        <span  class="btn btn-default" id="die_dialog_submit" style="margin-left: 55px;">确认</span>
        <span  class="btn btn-default" id="close_die_dialog_span" style="margin-left: 130px;">取消</span>
    </form>

</div>
